<div class="row my-4 w-100 mx-0">
    <div class="col-12 d-flex justify-content-center verticle-content-middle">
        <div class="main-content-form-wrapper px-0 py-2">
            <div class="row">
                <form [formGroup]="ngForm">
                    <div class="col-12 px-4 mt-2">
                        <div class="row">
                            <div class="col-md-10 pl-4 pb-2 pb-md-3">
                                <span class="heading_notofied">Generated Label Numbers</span>
                            </div>
                            <div class="col-md-1 pl-4 pb-2" style="
                                font: normal normal 600 20px/30px Poppins;
                                letter-spacing: 0px;color: #1c1c1c;">
                            </div>
                            <div class="col-md-1 pl-4 pb-2" style="
                                font: normal normal 600 20px/30px Poppins;letter-spacing: 0px;color: #1c1c1c;">
                            </div>
                            <div class="col-md-4 pl-2 pt-0 pr-0 py-2 py-md-0 pr-md-0">
                                <div class="col-12">
                                    <label for="Crop Group" class="left-heading required">Year of Indent</label>
                                </div>
                                <div class="col-12 pr-md-0">
                                    <select class="form-select form-control" aria-label="Default select example"
                                        formControlName="year_of_indent">
                                        <option value="" selected disabled>
                                            Select Year of Indent
                                        </option>
                                        <option *ngFor="let data of yearOfIndent" value="{{ data.year }}">
                                            {{
                                            data && data.year ? getFinancialYear(data.year) : "NA"
                                            }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 pl-2 pt-0 pr-0 py-2 py-md-0 pr-md-0 pl-md-0">
                                <div class="col-12">
                                    <label for="Crop Group" class="left-heading required">Season</label>
                                </div>
                                <div class="col-12 pr-md-0">
                                    <select class="form-select form-control" aria-label="Default select example"
                                        formControlName="season">
                                        <option value="" selected disabled>Select Season</option>
                                        <option *ngFor="let data of seasonList" value="{{ data.season }}">
                                            {{
                                            data && data.season && data.season == "K"
                                            ? "Kharif"
                                            : data.season == "R"
                                            ? "Rabi"
                                            : data.season == "O"
                                            ? "Other"
                                            : ""
                                            }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 pl-2 pt-0 pr-0 pr-md-4 py-2 py-md-0 pl-md-0">
                                <div class="col-12">
                                    <label for="Crop Group" class="left-heading required">Crop Type</label>
                                </div>
                                <div class="col-12 pr-md-0">
                                    <select class="form-select form-control" aria-label="Default select example"
                                        formControlName="crop_type">
                                        <option value="" selected disabled>Select Crop Type</option>
                                        <option *ngFor="let data of cropTypeList" value="{{ data.crop_type }}">
                                            {{
                                            data && data.crop_type
                                            ? (data.crop_type | titlecase)
                                            : ""
                                            }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 pl-2 pt-0 pt-md-2 pr-0 py-2 py-md-0 pr-md-0">
                                <div class="col-12">
                                    <label for="Crop Group" class="left-heading required">Crop Name</label>
                                </div>
                                <div class="col-12 pr-md-0">
                                    <select class="form-select form-control" aria-label="Default select example"
                                        formControlName="crop_name" required>
                                        <option value="" selected disabled>Select Crop Name</option>
                                        <option *ngFor="let data of cropGroupList" value="{{ data.crop_code }}">
                                            {{
                                            data && data.crop_name
                                            ? (data.crop_name | uppercase)
                                            : ""
                                            }}
                                        </option>
                                    </select>
                                    <!-- <ng-multiselect-dropdown [settings]="dropdownSettings" [data]="cropGroupList"
                                         [(ngModel)]="state_cultivation" formControlName="crop_name"
                                         [placeholder]="'Select Crop Name'">
                                     </ng-multiselect-dropdown> -->
                                </div>
                            </div>
                            <div class="col-md-4 pl-0 pt-0 pt-md-2 pr-3 py-2 py-md-0 pr-md-0 pl-2 pl-md-0">
                                <div class="col-12 pl-3">
                                    <label for="Crop Group" class="left-heading required">Variety Name
                                    </label>
                                </div>
                                <div class="ccol-12 pr-0 pr-md-0 pl-3">
                                    <select class="form-select form-control" aria-label="Default select example"
                                        formControlName="variety_name" required>
                                        <option value="" selected disabled>
                                            Select Variety Name
                                        </option>
                                        <option *ngFor="let data of cropVarietListsecond" value="{{ data.id }}">
                                            {{
                                            data && data.variety_name
                                            ? (data.variety_name | uppercase)
                                            : ""
                                            }}
                                        </option>
                                    </select>
                                    <!-- <ng-multiselect-dropdown [settings]="dropdownSettings1"
                                         [data]="cropVarietListsecond" formControlName="variety_name"
                                         [placeholder]="'Select Variety Name'">
                                     </ng-multiselect-dropdown> -->
                                </div>
                            </div>
                            <div class="col-md-4 pl-2 pt-0 pr-0 pr-md-4 py-2 py-md-2 pl-md-0">
                                <div class="col-12">
                                    <label for="Crop Group" class="left-heading">Lot Numbers</label>
                                </div>
                                <div class="col-12 pr-md-0">
                                    <select class="form-select form-control" aria-label="Default select example"
                                        formControlName="lot_numbers">
                                        <option value="" selected disabled>
                                            Select Lot Numbers
                                        </option>
                                        <option value="lot number 1">lot number 1</option>

                                        <option value="lot number 2">lot number 2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 mt-3 mt-md-4 buttons-phone">
                                <button
                                    class="form-button search ml-2 d-inline-flex justify-content-center verticle-content-middle mb-3 mx-2"
                                    (click)="onSearch()">
                                    Search
                                </button>
                                <button (click)="clear()"
                                    class="clear-form-button ml-2 d-inline-flex justify-content-center verticle-content-middle mb-3">
                                    Clear
                                </button>
                                <div class="dropdown float-right export_dropdown">
                                    <button (click)="myFunction()"
                                        class="form-button search ml-2 d-inline-flex justify-content-center verticle-content-middle mb-2 mx-2"
                                        style="font-size: 87%">
                                        Export To &nbsp;<i class="fa fa-angle-down" aria-hidden="true">
                                        </i>
                                    </button>
                                    <div id="myDropdown" class="dropdown-content">
                                        <a (click)="download()">
                                            <img src="assets\icons\pdf-icon.png" alt="" width="20px" height="20px" />PDF
                                        </a>
                                        <a (click)="exportexcel()">
                                            <img src="assets\icons\excel.jpg" alt="" width="20px" alt="" />Excel
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div _ngcontent-cvx-c131="" class="col-12 px-4">
                                <hr _ngcontent-cvx-c131="" class="separator m-0" />
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-12 px-4" id="excel-table">
                    <div class="list-wrapper px-4 py-3">
                        <div class="row d-md-flex data-row-header extra-header">
                            <div class="col-12 col-md-12 py-3 d-flex justify-content-center">
                                Generate Label Numbers
                            </div>
                        </div>
                        <br />
                        <div class="row d-md-flex data-row-header">
                            <div class="col-md-2 col-sm-2 py-3 d-flex verticle-content-middle">
                                Year of Indent :
                                {{
                                enableTable && ngForm.controls["year_of_indent"].value
                                ? getFinancialYear(ngForm.controls["year_of_indent"].value)
                                : ""
                                }}
                            </div>
                            <div class="col-md-1 col-sm-1 py-3 d-flex verticle-content-middle">
                                Season :
                                {{
                                enableTable &&
                                ngForm.controls["season"].value &&
                                ngForm.controls["season"].value == "K"
                                ? "Kharif"
                                : ngForm.controls["season"].value == "R"
                                ? "Rabi"
                                : ngForm.controls["season"].value == "O"
                                ? "Other"
                                : ""
                                }}
                            </div>
                            <div class="col-md-2 col-sm-2 py-3 d-flex verticle-content-middle">
                                Crop Type :
                                {{
                                enableTable && ngForm.controls["crop_type"].value
                                ? (ngForm.controls["crop_type"].value=="agriculture"?"Agriculture":"Horiticultue")
                                : ""
                                }}
                            </div>
                            <div class="col-md-2 col-sm-2 py-3 d-flex verticle-content-middle">
                                Crop :
                                {{
                                enableTable && ngForm.controls["crop_name"].value
                                ? crop_name_data(ngForm.controls["crop_name"].value)
                                : ""
                                }}
                            </div>
                            <div class="col-md-2 col-sm-2 py-3 d-flex verticle-content-middle">
                                Variety :
                                {{
                                enableTable && ngForm.controls["variety_name"].value
                                ? variety_name_data(ngForm.controls["variety_name"].value)
                                : ""
                                }}
                            </div>
                            <div class="col-md-1 col-sm-1 py-3 d-flex verticle-content-middle">
                                Unit :
                                {{
                                ngForm.controls["crop_type"].value
                                ? getCropType(ngForm.controls["crop_type"].value)
                                : ""
                                }}
                            </div>
                            <!-- <div class="col-md-1 col-sm-1 py-3 d-flex verticle-content-middle">
                                Lot No. :
                                {{
                                ngForm.controls["lot_numbers"].value
                                ? ngForm.controls["lot_numbers"].value
                                : ""
                                }}
                            </div> -->
                            <div class="col-md-1 col-sm-1 py-3 d-flex verticle-content-middle float-right">
                                As on Date : {{ today | date : "dd-MM-YYYY" }}
                            </div>
                        </div>

                        <!-- main table start -->

                        <div class="row data-row">
                            <table class="table table-bordered table-responsive" *ngIf="enableTable">
                                <thead>
                                    <tr class="data-row-header">
                                        <th scope="col" class="col-md-1 py-3">S/N</th>
                                        <th scope="col" class="col-md-2 py-3">Variety</th>
                                        <th scope="col" class="col-md-1 py-3">Lot Numbers</th>
                                        <th scope="col" class="col-md-1 py-3">Lot Size</th>
                                        <th scope="col" class="col-md-2 py-3">Net Weight/Bag</th>
                                        <th scope="col" class="col-md-2 py-3">Number of Bags</th>
                                        <th scope="col" class="col-md-2 py-3">Label Range</th>
                                        <th scope="col" class="col-md-2 py-3">Date of Test</th>
                                        <th scope="col" class="col-md-2 py-3">Valid Up To</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="
                                        let data of label_number_data;let cropIndex = index">
                                        <ng-container
                                            *ngFor="let varietyData of data.lot_number;let varietyIndex = index">
                                            <ng-container
                                                *ngFor="let spaData of varietyData.label_2;let spaIndex = index">
                                                <tr>
                                                    <td *ngIf="spaIndex === 0 && varietyIndex === 0" [attr.rowspan]="4">
                                                        {{ cropIndex + 1 }}
                                                    </td>
                                                    <td *ngIf="spaIndex === 0 && varietyIndex === 0" [attr.rowspan]="4">
                                                        {{ data.variety_name ? data.variety_name : "NA" }}
                                                    </td>
                                                    <td *ngIf="spaIndex === 0"
                                                        [attr.rowspan]="varietyData.label_2_count">
                                                        {{
                                                        varietyData.lot_num ? varietyData.lot_num : "NA"
                                                        }}
                                                    </td>
                                                    <td *ngIf="spaIndex === 0"
                                                        [attr.rowspan]="varietyData.label_2_count">
                                                        {{
                                                        varietyData.LotSize ? varietyData.LotSize : "NA"
                                                        }}
                                                    </td>
                                                    <td>{{ spaData.netBag ? spaData.netBag : "NA" }}</td>
                                                    <td>
                                                        {{ spaData.netweight ? spaData.netweight : "NA" }}
                                                    </td>
                                                    <td>
                                                        {{
                                                        spaData.label_range ? spaData.label_range : "NA"
                                                        }}
                                                    </td>
                                                    <td>
                                                        {{
                                                        spaData.date_of_test ? spaData.date_of_test : "NA"
                                                        }}
                                                    </td>
                                                    <td>
                                                        {{
                                                        spaData.date_of_test ? spaData.date_of_test : "NA"
                                                        }}
                                                    </td>
                                                </tr>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                </tbody>
                            </table>
                            <ng-template #noVarietyData>
                                <div style="text-align: center; width: 100%">
                                    <p class="my-2 mx-auto">No Data Found</p>
                                </div>
                            </ng-template>
                        </div>

                        <!-- main table end -->
                        <!-- for pdf table start -->

                        <div style="display: none">
                            <div>
                                <span>
                                    <h5>Generated Label Numbers</h5>
                                </span>
                                <div class="row d-md-flex data-row-header">
                                    <div class="col-md-2 col-sm-2 py-3 d-flex verticle-content-middle">
                                        Year of Indent :
                                        {{
                                        enableTable && ngForm.controls["year_of_indent"].value
                                        ? getFinancialYear(
                                        ngForm.controls["year_of_indent"].value
                                        )
                                        : ""
                                        }}
                                    </div>
                                    <div class="col-md-1 col-sm-1 py-3 d-flex verticle-content-middle">
                                        Season :
                                        {{
                                        enableTable &&
                                        ngForm.controls["season"].value &&
                                        ngForm.controls["season"].value == "K"
                                        ? "Kharif"
                                        : ngForm.controls["season"].value == "R"
                                        ? "Rabi"
                                        : ngForm.controls["season"].value == "O"
                                        ? "Other"
                                        : ""
                                        }}
                                    </div>
                                    <div class="col-md-2 col-sm-2 py-3 d-flex verticle-content-middle">
                                        Crop Type :
                                        {{
                                        enableTable && ngForm.controls["crop_type"].value
                                        ? (ngForm.controls["crop_type"].value=="agriculture" ?
                                        "Agriculture":"Horiticultue")
                                        : ""
                                        }}
                                    </div>
                                    <div class="col-md-2 col-sm-2 py-3 d-flex verticle-content-middle">
                                        Crop :
                                        {{
                                        enableTable && ngForm.controls["crop_name"].value
                                        ? crop_name_data(ngForm.controls["crop_name"].value)
                                        : ""
                                        }}
                                    </div>
                                    <div class="col-md-2 col-sm-2 py-3 d-flex verticle-content-middle">
                                        Variety :
                                        {{
                                        enableTable && ngForm.controls["variety_name"].value
                                        ? variety_name_data(ngForm.controls["variety_name"].value)
                                        : ""
                                        }}
                                    </div>
                                    <div class="col-md-1 col-sm-1 py-3 d-flex verticle-content-middle">
                                        Unit :
                                        {{
                                        ngForm.controls["crop_type"].value
                                        ? getCropType(ngForm.controls["crop_type"].value)
                                        : ""
                                        }}
                                    </div>
                                    <!-- <div class="col-md-1 col-sm-1 py-3 d-flex verticle-content-middle">
                                        Lot No. :
                                        {{
                                        ngForm.controls["lot_numbers"].value
                                        ? ngForm.controls["lot_numbers"].value
                                        : ""
                                        }}
                                    </div> -->
                                    <div class="col-md-1 col-sm-1 py-3 d-flex verticle-content-middle float-right">
                                        As on Date : {{ today | date : "dd-MM-YYYY" }}
                                    </div>
                                </div>

                                <div class="row data-row">
                                    <table class="table table-bordered table-responsive" *ngIf="enableTable">
                                        <thead>
                                            <tr class="data-row-header">
                                                <th scope="col" class="col-md-1 py-3">S/N</th>
                                                <th scope="col" class="col-md-2 py-3">Variety</th>
                                                <th scope="col" class="col-md-1 py-3">Lot Numbers</th>
                                                <th scope="col" class="col-md-1 py-3">Lot Size</th>
                                                <th scope="col" class="col-md-2 py-3">Net Weight/Bag</th>
                                                <th scope="col" class="col-md-2 py-3">Number of Bags</th>
                                                <th scope="col" class="col-md-2 py-3">Label Range</th>
                                                <th scope="col" class="col-md-2 py-3">Date of Test</th>
                                                <th scope="col" class="col-md-2 py-3">Valid Up To</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngFor="let data of label_number_data;let cropIndex = index">
                                                <ng-container
                                                    *ngFor="let varietyData of data.lot_number;let varietyIndex = index">
                                                    <ng-container
                                                        *ngFor="let spaData of varietyData.label_2;let spaIndex = index">
                                                        <tr>
                                                            <td *ngIf="spaIndex === 0 && varietyIndex === 0"
                                                                [attr.rowspan]="4">
                                                                {{ cropIndex + 1 }}
                                                            </td>
                                                            <td *ngIf="spaIndex === 0 && varietyIndex === 0"
                                                                [attr.rowspan]="4">
                                                                {{
                                                                data.variety_name ? data.variety_name : "NA"
                                                                }}
                                                            </td>
                                                            <td *ngIf="spaIndex === 0"
                                                                [attr.rowspan]="varietyData.label_2_count">
                                                                {{
                                                                varietyData.lot_num
                                                                ? varietyData.lot_num
                                                                : "NA"
                                                                }}
                                                            </td>
                                                            <td *ngIf="spaIndex === 0"
                                                                [attr.rowspan]="varietyData.label_2_count">
                                                                {{
                                                                varietyData.LotSize
                                                                ? varietyData.LotSize
                                                                : "NA"
                                                                }}
                                                            </td>
                                                            <td>
                                                                {{ spaData.netBag ? spaData.netBag : "NA" }}
                                                            </td>
                                                            <td>
                                                                {{
                                                                spaData.netweight ? spaData.netweight : "NA"
                                                                }}
                                                            </td>
                                                            <td>
                                                                {{
                                                                spaData.label_range
                                                                ? spaData.label_range
                                                                : "NA"
                                                                }}
                                                            </td>
                                                            <td>
                                                                {{
                                                                spaData.date_of_test
                                                                ? spaData.date_of_test
                                                                : "NA"
                                                                }}
                                                            </td>
                                                            <td>
                                                                {{
                                                                spaData.date_of_test
                                                                ? spaData.date_of_test
                                                                : "NA"
                                                                }}
                                                            </td>
                                                        </tr>
                                                    </ng-container>
                                                </ng-container>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                    <ng-template #noVarietyData>
                                        <div style="text-align: center; width: 100%">
                                            <p class="my-2 mx-auto">No Data Found</p>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                        <!-- for pdf table end -->

                        <!-- for excel table Start -->
                        <div class="col-12 px-4 data-row" style="display: none">
                            <div class="list-wrapper px-4 py-3">
                                <br />
                                <div class="row data-row">
                                    <table class="table table-bordered table-responsive" id="excel-tables">
                                        <thead>
                                            <!-- title -->
                                            <tr>
                                                <th>Seed Testing Laboratory Results</th>
                                            </tr>

                                            <!-- heading -->
                                            <tr>
                                                <th>Year of Indent</th>
                                                <th>Season</th>
                                                <th>Crop Type</th>
                                                <th>Crop Name</th>
                                                <th>Variety Name</th>
                                                <th>Unit</th>
                                                <th>As on Date</th>
                                            </tr>

                                            <!-- values -->
                                            <tr>
                                                <td>
                                                    {{
                                                    enableTable && ngForm.controls["year_of_indent"].value
                                                    ? getFinancialYear(
                                                    ngForm.controls["year_of_indent"].value
                                                    )
                                                    : ""
                                                    }}
                                                </td>
                                                <td>
                                                    Season :
                                                    {{
                                                    enableTable &&
                                                    ngForm.controls["season"].value &&
                                                    ngForm.controls["season"].value == "K"
                                                    ? "Kharif"
                                                    : ngForm.controls["season"].value == "R"
                                                    ? "Rabi"
                                                    : ngForm.controls["season"].value == "O"
                                                    ? "Other"
                                                    : ""
                                                    }}
                                                </td>
                                                <td>
                                                    {{
                                                    enableTable && ngForm.controls["crop_type"].value
                                                    ? (ngForm.controls["crop_type"].value=="agriculture" ?
                                                    "Agriculture":"Horiticultue")
                                                    : ""
                                                    }}
                                                </td>
                                                <td>
                                                    {{
                                                    enableTable && ngForm.controls["crop_name"].value
                                                    ? crop_name_data(ngForm.controls["crop_name"].value)
                                                    : ""
                                                    }}
                                                </td>
                                                <td>
                                                    {{
                                                    enableTable && ngForm.controls["variety_name"].value
                                                    ? variety_name_data(ngForm.controls["variety_name"].value)
                                                    : ""
                                                    }}
                                                </td>
                                                <td>
                                                    {{
                                                    ngForm.controls["crop_type"].value
                                                    ? getCropType(ngForm.controls["crop_type"].value)
                                                    : ""
                                                    }}
                                                </td>
                                                <td>{{ today | date : "dd-MM-YYYY" }}</td>
                                            </tr>

                                            <!-- spaces -->
                                            <tr>
                                                <th></th>
                                            </tr>

                                            <tr class="data-row-header">
                                                <th scope="col" class="col-md-1 py-3">S/N</th>
                                                <th scope="col" class="col-md-2 py-3">Variety</th>
                                                <th scope="col" class="col-md-1 py-3">Lot Numbers</th>
                                                <th scope="col" class="col-md-1 py-3">Lot Size</th>
                                                <th scope="col" class="col-md-2 py-3">Net Wieght/Bag</th>
                                                <th scope="col" class="col-md-2 py-3">Number of Bags</th>
                                                <th scope="col" class="col-md-2 py-3">Label Range</th>
                                                <th scope="col" class="col-md-2 py-3">Date of Test</th>
                                                <th scope="col" class="col-md-2 py-3">Valid Up To</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngFor="let data of label_number_data;let cropIndex = index">
                                                <ng-container
                                                    *ngFor="let varietyData of data.lot_number;let varietyIndex = index">
                                                    <ng-container
                                                        *ngFor="let spaData of varietyData.label_2;let spaIndex = index">
                                                        <tr>
                                                            <td *ngIf="spaIndex === 0 && varietyIndex === 0"
                                                                [attr.rowspan]="4">
                                                                {{ cropIndex + 1 }}
                                                            </td>
                                                            <td *ngIf="spaIndex === 0 && varietyIndex === 0"
                                                                [attr.rowspan]="4">
                                                                {{
                                                                data.variety_name ? data.variety_name : "NA"
                                                                }}
                                                            </td>
                                                            <td *ngIf="spaIndex === 0"
                                                                [attr.rowspan]="varietyData.label_2_count">
                                                                {{
                                                                varietyData.lot_num
                                                                ? varietyData.lot_num
                                                                : "NA"
                                                                }}
                                                            </td>
                                                            <td *ngIf="spaIndex === 0"
                                                                [attr.rowspan]="varietyData.label_2_count">
                                                                {{
                                                                varietyData.LotSize
                                                                ? varietyData.LotSize
                                                                : "NA"
                                                                }}
                                                            </td>
                                                            <td>
                                                                {{ spaData.netBag ? spaData.netBag : "NA" }}
                                                            </td>
                                                            <td>
                                                                {{
                                                                spaData.netweight ? spaData.netweight : "NA"
                                                                }}
                                                            </td>
                                                            <td>
                                                                {{
                                                                spaData.label_range
                                                                ? spaData.label_range
                                                                : "NA"
                                                                }}
                                                            </td>
                                                            <td>
                                                                {{
                                                                spaData.date_of_test
                                                                ? spaData.date_of_test
                                                                : "NA"
                                                                }}
                                                            </td>
                                                            <td>
                                                                {{
                                                                spaData.date_of_test
                                                                ? spaData.date_of_test
                                                                : "NA"
                                                                }}
                                                            </td>
                                                        </tr>
                                                    </ng-container>
                                                </ng-container>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                    <ng-template #noVarietyData>
                                        <div style="text-align: center; width: 100%">
                                            <p class="my-2 mx-auto">No Data Found</p>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                        <!-- for excel table enda -->

                        <div class="col-12 px-3 py-3">
                            <!-- <app-pagination-ui></app-pagination-ui> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>