.float-left{
     margin-left: 1px!important;
}
.field-icon {
     float: right;
     margin-left: -25px;
     margin-top: -25px;
     position: relative;
     z-index: 2;
     padding-right: 2em;
   }
   
   .container{
     padding-top:50px;
     margin: auto;
   }

   @media screen and (max-width: 575px) {
    .for-margin-top{
      margin-top: -21px !important;
    }
    
   }

   .cancel-button,
.cancel-button:focus,
.cancel-button:active {
  text-align: left;
  font: normal Poppins 16px/25px;
  letter-spacing: 0px;
  color: black;
  background: gainsboro 0% 0% no-repeat padding-box;
  /* box-shadow: 0px 3px 0px #CB6706; */
  border-radius: 5px;
  outline: none !important;
  border: none !important;
  width: 158px;
  height: 46px;
  pointer-events: none;
  /* cursor: pointer; */
}