<div class="row my-4 w-100 mx-0">
     <div class="col-12 d-flex justify-content-center verticle-content-middle">
          <div class="main-content-form-wrapper px-0 py-2">
               <div class="row">
                    <div class="w-100">
                         <form [formGroup]="ngForm" >
                              <div class="col-12 px-4 mt-2">
                                   <div class="row">
                                        <div class="col-md-5 pl-4 pb-2">
                                             <span class="heading_notofied">Change Password</span>
                                        </div>
                                        <div class="col-md-3 pl-4 pb-2"
                                             style="font: normal normal 600 20px/30px Poppins; letter-spacing: 0px; color: #1C1C1C;">
                                        </div>
                                        <div class="col-md-4 pl-4 pb-2"
                                             style="font: normal normal 600 20px/30px Poppins; letter-spacing: 0px; color: #1C1C1C;">
                                        </div>
                                        <div class="col-md-2 col-sm-12 mt-2 pl-2 pr-2">

                                        </div>
                                        <!-- <div class="col-md-4 col-sm-12 mt-2 pl-2 pr-2">
                                             <div class="col-md-12">
                                                  <label for="" class="left-heading">Email</label>
                                             </div>
                                            
                                             <div _ngcontent-cvx-c131="" class="col-md-12">
                                                  <input type="email" required class="form-control" name="useremail"
                                                       formControlName="useremail" placeholder="Enter Email">
                                                  <div class=" errorMessage "
                                                       *ngIf="submitted || ngForm.controls['useremail'].invalid && (ngForm.controls['useremail'].dirty || ngForm.controls['useremail'].touched)">
                                                       <span *ngIf=" ngForm.controls['useremail'].errors?.['required']">
                                                            Please Enter a Email Id .<br>
                                                       </span>
                                                       <span *ngIf=" ngForm.controls['useremail'].errors?.['pattern']">
                                                            Please Enter a valid Email Id .<br>
                                                       </span>
                                                  </div>
                                                  <div class="errorMessage"
                                                       *ngIf="checkEmailError && !ngForm.controls['useremail'].invalid">
                                                       <span class="errorMessage">{{checkEmailError}}</span>
                                                  </div>
                                                  <div class="pl-0 toggle-button" ngbDropdown>
                                                       <img src="assets/images/16.svg" alt="" srcset="">
                                                  </div>
                                             </div>
                                        </div> -->

                                        <div class="col-12 col-md-4  mt-2 pl-2 pr-2">
                                             <div class="col-12">
                                                  <label for="Crop Group" class="left-heading">Current Password</label>
                                             </div>
                                             <div class="col-12">
                                                  <input type="password" required class="form-control" name="password"
                                                  id="current_password"
                                                       formControlName="password" placeholder="Enter Password">
                                                  <span toggle="#password-field" id="togglePassword"
                                                       [ngClass]="!passwordShowToggle ? 'fa fa-fw fa-eye field-icon toggle-password':'fa fa-fw fa-eye-slash field-icon toggle-password'"
                                                       (click)="togglePassword()">
                                                  </span>
                                                  <div class=" errorMessage "
                                                       *ngIf="submitted || ngForm.controls['password'].invalid && (ngForm.controls['password'].dirty || ngForm.controls['password'].touched)">
                                                       <span *ngIf=" ngForm.controls['password'].errors?.['required']">
                                                            Please Enter a Current Password.<br>
                                                       </span>

                                                  </div>
                                                  <div class="pl-0 toggle-button" ngbDropdown>
                                                       <!-- <i class="fa-solid fa-angle-down downicon"></i> -->
                                                  </div>
                                                  <div class="pl-0 toggle-button" ngbDropdown>
                                                       <img src="assets/images/16.svg" alt="" srcset="">
                                                       <!-- <i class="fa-solid fa-angle-down downicon"></i> -->
                                                  </div>


                                             </div>
                                        </div>
                                        <div class="col-md-4 mt-2 pl-2 pr-2 for-margin-top">
                                             <div class="col-md-12">
                                                  <label for="Crop Name" class="left-heading">New Password</label>
                                             </div>
                                             <div class="col-md-12">
                                                  <input type="password" required class="form-control"
                                                       name="newpassword" ngModel formControlName="newpassword"
                                                       placeholder="Enter New Password" id="new_password">
                                                       <span toggle="#password-field" id="toggleNewPassword"
                                                       [ngClass]="!passwordnewShowToggle ? 'fa fa-fw fa-eye field-icon toggle-password':'fa fa-fw fa-eye-slash field-icon toggle-password'"
                                                       (click)="togglenewPassword('toggleNewPassword','new_password')">
                                                       </span>
                                                  <div class=" errorMessage "
                                                       *ngIf="submitted || ngForm.controls['newpassword'].invalid && (ngForm.controls['newpassword'].dirty || ngForm.controls['newpassword'].touched)">
                                                       <span
                                                            *ngIf=" ngForm.controls['newpassword'].errors?.['required']">
                                                            Please Enter a New Password.<br>
                                                       </span>
                                                       <span
                                                            *ngIf=" ngForm.controls['newpassword'].errors?.['minlength']">
                                                            Password must be at least 8 characters long..<br>
                                                       </span>
                                                       <span *ngIf="ngForm.controls['newpassword'].errors?.['pattern']">
                                                            Password must be at least 8 characters long and include uppercase letters, lowercase letters, numbers, and special characters.
                                                          </span>
                                                       <!-- {{ngForm.get('newpassword').errors?.['pattern'] | json}} -->
                                                       <!-- <span
                                                            *ngIf=" ngForm.controls['newpassword'].errors?.['pattern']">
                                                            Please Enter Valid Password.<br>
                                                       </span> -->
                                                  </div>
                                                  <!-- <span *ngIf="newpassword==''|| newpassword==null || newpassword==undefined && newpassword.touched" class="errorMessage">Please Enter New Password</span> -->
                                                  <div class="pl-0 toggle-button" ngbDropdown>
                                                       <!-- <img src="assets/images/16.svg" alt="" srcset=""> -->
                                                       <!-- <i class="fa-solid fa-angle-down downicon"></i> -->
                                                  </div>
                                                  <div class="pl-0 toggle-button" ngbDropdown>
                                                       <img src="assets/images/16.svg" alt="" srcset="">
                                                       <!-- <i class="fa-solid fa-angle-down downicon"></i> -->
                                                  </div>
                                             </div>
                                        </div>
                                        <div class="col-md-1 col-sm-12 mt-2 pl-2 pr-2 float-left">

                                        </div>
                                        <div class="col-md-1 col-sm-12 mt-2 pl-2 pr-2 float-left">

                                        </div>
                                        <div class="col-md-1 col-sm-12 mt-2 pl-2 pr-2 float-left">

                                        </div>
                                        <!-- <div class="col-md-4 mt-2 pl-2 pr-2 for-margin-top">
                                             <div class="col-md-12">
                                                  <label for="Crop Name" class="left-heading">New Password</label>
                                             </div>
                                             <div class="col-md-12">
                                                  <input type="password" required class="form-control"
                                                       name="newpassword" ngModel formControlName="newpassword"
                                                       placeholder="Enter New Password" id="new_password">
                                                       <span toggle="#password-field" id="toggleNewPassword"
                                                       [ngClass]="!passwordnewShowToggle ? 'fa fa-fw fa-eye field-icon toggle-password':'fa fa-fw fa-eye-slash field-icon toggle-password'"
                                                       (click)="togglenewPassword('toggleNewPassword','new_password')">
                                                       </span>
                                                  <div class=" errorMessage "
                                                       *ngIf="submitted || ngForm.controls['newpassword'].invalid && (ngForm.controls['newpassword'].dirty || ngForm.controls['newpassword'].touched)">
                                                       <span
                                                            *ngIf=" ngForm.controls['newpassword'].errors?.['required']">
                                                            Please Enter a New Password.<br>
                                                       </span>
                                                       <span
                                                            *ngIf=" ngForm.controls['newpassword'].errors?.['minlength']">
                                                            Password must be at least 6 characters long..<br>
                                                       </span>
                                                  </div>
                                                  <div class="pl-0 toggle-button" ngbDropdown>
                                                  </div>
                                                  <div class="pl-0 toggle-button" ngbDropdown>
                                                       <img src="assets/images/16.svg" alt="" srcset="">
                                                  </div>
                                             </div>
                                        </div> -->

                                        <div class="col-md-4  mt-2 pl-2 pr-2">
                                             <div class="col-md-12">
                                                  <label for="Crop Name" class="left-heading">Re-Enter Password</label>
                                             </div>
                                             <div class="col-md-12">
                                                  <input type="password" required class="form-control" name="repassword"
                                                       formControlName="repassword" placeholder="Re-Enter Password" id="toggle_renter_passwor">
                                                       <span toggle="#password-field" id="togglereenterPassword"
                                                       [ngClass]="!passwordreenterShowToggle ? 'fa fa-fw fa-eye field-icon toggle-password':'fa fa-fw fa-eye-slash field-icon toggle-password'"
                                                       (click)="togglenewPassword('togglereenterPassword','toggle_renter_passwor')">
                                                       </span>
                                                  <div class=" errorMessage "
                                                       *ngIf="submitted || ngForm.controls['repassword'].invalid && (ngForm.controls['repassword'].dirty || ngForm.controls['repassword'].touched)">
                                                       <span
                                                            *ngIf=" ngForm.controls['repassword'].errors?.['required']">
                                                            Please Re-Enter Password .<br>
                                                       </span>
                                                       <span
                                                            *ngIf=" ngForm.controls['repassword'].errors?.['minlength']">
                                                            Password must be at least 8 characters long..<br>
                                                       </span>
                                                       <span *ngIf="ngForm.controls['repassword'].errors"
                                                            [hidden]="ngForm.controls['repassword'].errors?.['required'] || ngForm.controls['repassword'].errors?.['minlength']">
                                                            Password does not match. </span>
                                                            <span *ngIf="ngForm.controls['repassword'].errors?.['pattern']">
                                                                 Password must be at least 8 characters long and include uppercase letters, lowercase letters, numbers, and special characters.
                                                               </span>
                                                            <!-- <span
                                                            *ngIf=" ngForm.controls['repassword'].errors?.['pattern']">
                                                            Please Enter Valid Password.<br>
                                                       </span> -->
                                                  </div>
                                                  <div class="pl-0 toggle-button" ngbDropdown>
                                                       <img src="assets/images/16.svg" alt="" srcset="">
                                                  </div>

                                             </div>
                                        </div>
                                        <div _ngcontent-cvx-c131=""
                                             class="col-12 pt-0 pl-0 ml-2 search-cancle-button buttons-phone">
                                             <div class="col-md-2 col-sm-12 mt-2 pl-2 pr-2 float-left">

                                             </div>
                                             <button _ngcontent-cvx-c131 (click)="onSubmit(ngForm.value)"
                                                  class="form-button   search ml-0 d-inline-flex justify-content-center verticle-content-middle mb-3 mx-3">
                                                  Change Password </button>
                                                  <button _ngcontent-cvx-c131 
                                                  (click)="redirect()"
                                                  [ngClass]="is_change_password? 'form-button   search ml-0 d-inline-flex justify-content-center verticle-content-middle mb-3 mx-3':'cancel-button search ml-0 d-inline-flex justify-content-center verticle-content-middle mb-3 mx-3'"
                                                  >
                                                  Cancel </button>
                                        </div>
                                        <div _ngcontent-cvx-c131="" class="col-12 px-4">
                                             <hr _ngcontent-cvx-c131="" class="separator m-0">
                                        </div>
                                   </div>
                              </div>

                         </form>
                    </div>
               </div>
          </div>
     </div>
</div>