<div class="main-inventory 1">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 pl-2 pb-3 pt-0">
            <div class="title-inventory">Variety Wise Actual Distribution of Certified/Quality Seed</div>
          


            <!-- first card ui  -->
            <form [formGroup]="ngForm">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                   
                        <!-- start sectio 1  -->
                        <div class="row card-inventory form-group pl-3 pb-3">
                            <div class="row for-width">
                                <!-- year of indent -->
                                <div class="col-12 col-md-4 col-lg-4 col-xl-2 col-sm-6">
                                    <div class="row">
                                        <div class="col-12 col-md-12 col-lg-12 col-lg-12 col-xl-12">
                                            <label for="year" class="left-heading required ">Year of Indent</label>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-12 col-lg-12 col-xl-12 pr-1">
                                            <select class=" form-control input-inventory" formControlName="year" [ngClass]="disableUpperSection ? 'disableFiel':''">
                                                <option value="">Please Select Year</option>
                                                <option *ngFor="let year of inventoryYearData" value="{{year.value}}">
                                                    <!-- {{ year.year }}-{{ ((year.year % 100) + 1) < 10 ? '0' : '' }}{{ (year.year % 100) + 1 }} -->
                                                    {{year.year}}
                                                </option>
                                            </select>
                                            <div class=" errorMessage"
                                                *ngIf="submitted || ngForm.controls['year'].invalid && (ngForm.controls['year'].dirty || ngForm.controls['year'].touched)">
                                                <span *ngIf=" ngForm.controls['year'].errors?.['required']">
                                                    Please Select Year.
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- season  -->
                                <div class="col-12 col-md-4 col-lg-4 col-sm-6 col-xl-2 pr-1 pl-1">
                                    <div class="row">
                                        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                            <label for="season" class="left-heading required">Season</label>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                            <select class="form-control input-inventory" formControlName="season" [ngClass]="disableUpperSection ? 'disableFiel':''">
                                                <option value="">Please Select Season</option>
                                                <option value="Kharif">Kharif</option>
                                                <option value="Rabi">Rabi</option>
                                            </select>
                                            <div class="errorMessage"
                                                *ngIf="submitted || ngForm.controls['season'].invalid && (ngForm.controls['season'].dirty || ngForm.controls['season'].touched)">
                                                <span *ngIf="ngForm.controls['season'].errors?.['required']">
                                                    Please Select Season.
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!--  crop -->
                                <div class="col-12 col-md-4 col-lg-4 col-sm-6 col-xl-2 pl-1 pr-1">
                                    <div class="row">
                                        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                            <label for="year" class="left-heading required">Crop</label>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                            <div ngbDropdown class="d-inline-block w-100" [ngClass]="disableUpperSection ? 'disableFiel':''">
                                                <button
                                                    class="btn takeplacholder w-100 crop toggle-button input-inventory" 
                                                    id="crop" ngbDropdownToggle style="text-align: left;">
                                                    {{ selectCrop && (selectCrop.length > 30) ?
                                                    (selectCrop.substring(0,23)
                                                    + '...') : selectCrop ? selectCrop : 'Select Crop' }}
                                                </button>
                                                <div class="dropdown-menu w-100" ngbDropdownMenu="crop"
                                                    aria-labelledby="sortMenu">
                                                    <input type="text" class="form-control px-4"
                                                        formControlName="crop_text" placeholder="Search Crop...">
                                                    <button class="dropdown-item" *ngFor="let item of cropData"
                                                        (click)="crop(item)" #dropdownItem
                                                        [attr.data-parent-name]="'crop'">
                                                        {{ item && item.crop_name ? item.crop_name : '' }}
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="pl-0 toggle-button" ngbDropdown>
                                                <i class="fa-solid fa-angle-down downicon" (click)="cClick()"></i>
                                            </div>
                                            <div class="errorMessage"
                                                *ngIf="submitted || ngForm.controls['crop'].invalid && (ngForm.controls['crop'].dirty || ngForm.controls['crop'].touched)">
                                                <span *ngIf="ngForm.controls['crop'].errors?.['required']">
                                                    Please Select crop Name.
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- Variety -->
                                <div class="col-12 col-md-4 col-lg-4 col-sm-6 col-xl-2 pr-1 pl-1">
                                    <div class="row">
                                        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                            <label for="season" class="left-heading required">Variety</label>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                            <div ngbDropdown class="d-inline-block w-100" [ngClass]="disableUpperSection ? 'disableFiel':''">
                                                <button
                                                    class="btn takeplacholder w-100 crop toggle-button input-inventory"
                                                    id="crop" ngbDropdownToggle style="text-align: left;">
                                                    {{ selectVariety && (selectVariety.length > 30) ?
                                                    (selectVariety.substring(0,23) + '...') : selectVariety ?
                                                    selectVariety
                                                    : 'Select Variety' }}
                                                </button>
                                                <div class="dropdown-menu w-100" ngbDropdownMenu="variety"
                                                    aria-labelledby="sortMenu">
                                                    <input type="text" class="form-control px-4"
                                                        formControlName="variety_text" placeholder="Search Variety...">
                                                    <button class="dropdown-item" *ngFor="let item of varietyData"
                                                        (click)="variety(item)" #dropdownItem
                                                        [attr.data-parent-name]="'variety_name'">
                                                        {{ item && item.variety_name ? item.variety_name : '' }}
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="pl-0 toggle-button" ngbDropdown>
                                                <i class="fa-solid fa-angle-down downicon" (click)="vClick()"></i>
                                            </div>
                                            <div class="errorMessage"
                                                *ngIf="submitted || ngForm.controls['variety'].invalid && (ngForm.controls['variety'].dirty || ngForm.controls['variety'].touched)">
                                                <span *ngIf="ngForm.controls['variety'].errors?.['required']">
                                                    Please Select Variety Name.
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- Category -->            
                                 <div class="col-12 col-md-4 col-lg-4 col-sm-6 col-xl-2 pr-1 pl-1">
                                    <div class="row">
                                        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                            <label for="category" class="left-heading required">Type</label>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                            <select class="form-control input-inventory" formControlName="category" [ngClass]="disableUpperSection ? 'disableFiel':''">
                                                <option value="">Please Select Type</option>
                                                <option value="Certified">Certified</option> 
                                             <option value="Quality">Quality</option>                                                
                                            </select>
                                            <div class="errorMessage"
                                                *ngIf="submitted || ngForm.controls['category'].invalid && (ngForm.controls['category'].dirty || ngForm.controls['category'].touched)">
                                                <span *ngIf="ngForm.controls['category'].errors?.['required']">
                                                    Please Select Type.
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                                <!-- Add Button -->
                                <div class="col-9 col-md-4 col-lg-4 col-xl-2 col-sm-6 ">
                                    <div class="d-flex align-items-end justify-content-center h-100">
                                        <button class="btn btn-inventory search2"
                                        style="width: 6rem ; margin-right: 10px; color: white;"
                                        (click)="resetForm()" *ngIf="(!is_update) &&
                                        (ngForm.controls['year'].valid || ngForm.controls['season'].valid ||
                                        ngForm.controls['crop'].valid || ngForm.controls['variety'].valid)"
                                        >Reset</button> 

                                        <button
                                            *ngIf="(filterPaginateSearch && filterPaginateSearch.initialized &&(!filterPaginateSearch.itemList) || filterPaginateSearch.itemList.length < 1)
                                            &&  (ngForm.controls['year'].valid && ngForm.controls['season'].valid && 
                                            ngForm.controls['crop'].valid && ngForm.controls['variety'].valid && ngForm.controls['category'].valid )"
                                            class="btn btn-inventory search2" style="width: 6rem; color: white;"
                                            (click)="SaveAsData()"
                                            [disabled]="!(ngForm.controls['year'].valid && ngForm.controls['season'].valid && 
                                        ngForm.controls['crop'].valid && ngForm.controls['variety'].valid)">Add</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                  
                </div>
                <!-- end sectio 1  -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="row card-inventory form-group">

                        <div class="col-12 col-md-12 col-lg-12 col-xl-12 mt-2" *ngIf="isAddSelected">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 title-inventory pl-3 pb-2 ">
                                {{this.isChangeMessage}}
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="row">
                                        <div class="col-12 col-md-4 col-lg-4 col-sm-6 col-xl-3 pt-1">
                                            <div class="row">
                                                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                    <label for="doa" class="left-heading required">
                                                        DOA
                                                    </label>
                                                </div>
                                                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                    <input type="number" class=" form-control input-inventory"
                                                        formControlName="doa" placeholder="Enter DOA">
                                                    <div class="username errorMessage"
                                                        *ngIf="submitted ||ngForm.controls['doa'].invalid && ngForm.controls['doa'].dirty || ngForm.controls['doa'].touched">
                                                        <span *ngIf=" ngForm.controls['doa'].errors?.['required']">
                                                            Enter only decimal number upto 2 digit
                                                        </span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-4 col-lg-4 col-sm-6 col-xl-3 pt-1">
                                            <div class="row">
                                                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                    <label for="ssc" class="left-heading required">
                                                        SSC
                                                    </label>
                                                </div>
                                                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                    <input type="number" class=" form-control input-inventory"
                                                        formControlName="ssc" placeholder="Enter SSC" (keypress)="validateDecimal($event)">
                                                    <div class="username errorMessage"
                                                        *ngIf="submitted ||ngForm.controls['ssc'].invalid && ngForm.controls['ssc'].dirty || ngForm.controls['ssc'].touched">
                                                        <span *ngIf=" ngForm.controls['ssc'].errors?.['required']">
                                                            Enter only decimal number upto 2 digit
                                                        </span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4 col-lg-4 col-sm-6 col-xl-3 pt-1">
                                            <div class="row">
                                                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                    <label for="nsc" class="left-heading required">
                                                        NSC
                                                    </label>
                                                </div>
                                                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                    <input type="number" class=" form-control input-inventory"
                                                        formControlName="nsc" placeholder="Enter NSC" (keypress)="validateDecimal($event)" >
                                                    <div class="username errorMessage"
                                                        *ngIf="submitted ||ngForm.controls['nsc'].invalid && ngForm.controls['nsc'].dirty || ngForm.controls['nsc'].touched">
                                                        <span *ngIf=" ngForm.controls['nsc'].errors?.['required']">
                                                            Enter only decimal number upto 2 digit
                                                        </span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4 col-lg-4 col-sm-6 col-xl-3 pt-1">
                                            <div class="row">
                                                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                    <label for="sfci" class="left-heading required">
                                                        SFCI
                                                    </label>
                                                </div>
                                                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                    <input type="number" class=" form-control input-inventory"
                                                        formControlName="sfci" placeholder="Enter SFCI" (keypress)="validateDecimal($event)">
                                                    <div class="username errorMessage"
                                                        *ngIf="submitted ||ngForm.controls['sfci'].invalid && ngForm.controls['sfci'].dirty || ngForm.controls['sfci'].touched">
                                                        <span *ngIf=" ngForm.controls['sfci'].errors?.['required']">
                                                            Enter only decimal number upto 2 digit
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                 <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="row">
                                        <div class="col-12 col-md-4 col-lg-4 col-sm-6 col-xl-3 pt-1">
                                            <div class="row">
                                                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                    <label for="pvt" class="left-heading required">
                                                       Private
                                                    </label>
                                                </div>
                                                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                    <input type="number" class=" form-control input-inventory"
                                                        formControlName="pvt" placeholder="Enter Private" (keypress)="validateDecimal($event)">
                                                    <div class="username errorMessage"
                                                        *ngIf="submitted ||ngForm.controls['pvt'].invalid && ngForm.controls['pvt'].dirty || ngForm.controls['pvt'].touched">
                                                        <span *ngIf=" ngForm.controls['pvt'].errors?.['required']">
                                                            Enter only decimal number upto 2 digit
                                                        </span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-4 col-lg-4 col-sm-6 col-xl-3 pt-1">
                                            <div class="row">
                                                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                    <label for="others" class="left-heading required">
                                                        Others
                                                    </label>
                                                </div>
                                                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                    <input type="number" class=" form-control input-inventory"
                                                        formControlName="others" placeholder="Enter Others" (keypress)="validateDecimal($event)">
                                                    <div class="username errorMessage"
                                                        *ngIf="submitted ||ngForm.controls['others'].invalid && ngForm.controls['others'].dirty || ngForm.controls['others'].touched">
                                                        <span *ngIf=" ngForm.controls['others'].errors?.['required']">
                                                            Enter only decimal number upto 2 digit
                                                        </span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4 col-lg-4 col-sm-6 col-xl-3 pt-1">
                                            <div class="row">
                                                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                    <label for="total" class="left-heading required">
                                                        Total
                                                    </label>
                                                </div>
                                                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                    <input type="number" class=" form-control input-inventory" 
                                                        formControlName="total" readonly>

                                                </div>
                                            </div>
                                        </div>
                                    

                                    </div>
                                </div>

                                <!-- finish section 2 -->

                                <!-- button section -->
                                <div class="col-12 col-md-10 col-lg-10 pt-4 pb-2 buttons-phone col-xl-10">
                                    <button
                                        class="btn-inventory-cancel search d-inline-flex justify-content-center verticle-content-middle mb-3"
                                        (click)="revertDataCancelation()"
                                        style="border: 2px solid #B64B1D;">Cancel</button>
                                    <button
                                        class="search form-button btn-inventory ml-2 d-inline-flex justify-content-center verticle-content-middle mb-3"
                                        (click)="createAndSave()" *ngIf="!is_update"
                                        style="border: 2px solid #B64B1D;">Add</button>

                                    <button
                                        class="search form-button btn-inventory ml-2 d-inline-flex justify-content-center verticle-content-middle mb-3"
                                        (click)="updateForm()" *ngIf="is_update">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- start section 2 -->


                <!-- second card ui  -->
                <div class="col-12 col-md-12 col-lg-12 col-xl-12" *ngIf="isShowTable">
                    <div class="row card-inventory form-group">

                        <div class="col-12 col-md-12 col-lg-12 col-sm-12 col-xl-12">
                            <div class="list-wrapper">
                                <div class="row d-none d-md-flex data-row-header">
                                    <div class="col-6 col-md-1 py-3 d-flex vertical-content-middle align-items-center justify-content-center text-center">S/N</div>
                                    <div
                                        class="col-6 col-md-1 py-3 d-flex vertical-content-middle align-items-center justify-content-center text-center">
                                        Season</div>
                                    <div
                                        class="col-9 col-sm-2 col-md-2 col-lg-2 col-xl-2 py-2 d-flex align-items-center justify-content-center text-center">
                                        Crop</div>
                                    <div
                                        class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 py-2 d-flex align-items-center justify-content-center text-center">
                                        Variety</div>
                                    <div
                                        class="col-6 col-md-1 py-3 d-flex vertical-content-middle align-items-center justify-content-center text-center">
                                        Category</div>
                                    <div
                                        class="col-4 col-md-1 py-3 d-flex vertical-content-middle align-items-center justify-content-center text-center">
                                        Unit
                                    </div>
                                    <div
                                    class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 py-2 d-flex align-items-center justify-content-center text-center">
                                    Seed Distribution</div>    
                                 <div
                                        class="col-4 col-md-1 py-3 d-flex vertical-content-middle align-items-center justify-content-center text-center">
                                        Total
                                    </div>
                                    <div
                                        class="col-6 col-md-1 py-3 d-flex vertical-content-middle align-items-center justify-content-center text-center">
                                        Actions</div>
                                </div>
                                <div>
                                    <div *ngFor="let data of filterPaginateSearch.itemList; let dataIndex=index"
                                        class="row data-row">
                                        <div class="col-6 col-md-1 py-3 d-flex vertical-content-middle align-items-center justify-content-center text-center ">
                                            <div class="w-fit-content">
                                                <label class="d-md-none" class="d-md-none"><b>S/N:</b>&nbsp;</label>
                                                <span title="{{(filterPaginateSearch.itemListCurrentPage - 1) *
                                                    filterPaginateSearch.itemListPageSize + dataIndex + 1}}">{{
                                                    (filterPaginateSearch.itemListCurrentPage - 1) *
                                                    filterPaginateSearch.itemListPageSize + dataIndex + 1}}.</span>
                                            </div>
                                        </div>
                                        <div
                                            class="col-6 col-md-1 py-3 d-flex vertical-content-middle align-items-center justify-content-center text-center">
                                            <div class="w-fit-content">
                                                <label class="d-md-none" class="d-md-none"><b>Season:</b>&nbsp;</label>
                                                <span>
                                                    {{data && data.season ? data.season : ""}}
                                                </span>
                                            </div>
                                        </div>
                                        <div
                                            class="col-9 col-sm-2 col-md-2 col-lg-2 col-xl-2 py-2 d-flex align-items-center justify-content-center text-center">
                                            <div class="w-fit-content">
                                                <label class="d-md-none" class="d-md-none"><b>Crop:</b>&nbsp;</label>
                                                <span>
                                                    {{data && data.crop_name ? data.crop_name : ""}}
                                                </span>
                                            </div>
                                        </div>
                                        <div
                                            class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 py-2 d-flex align-items-center justify-content-center text-center">
                                            <div class="w-fit-content">
                                                <label class="d-md-none" class="d-md-none"><b>Variety:</b>&nbsp;</label>
                                              <span>{{data&&data.variety_name?data.variety_name:""}}</span>
                                            </div>
                                        </div>
                                        <div
                                            class="col-6 col-md-1 py-3 d-flex vertical-content-middle align-items-center justify-content-center text-center">
                                            <div class="w-fit-content">
                                                <label class="d-md-none" class="d-md-none"><b>Type:</b>&nbsp;</label>
                                                <span>{{data&&data.seedType?data.seedType:""}}</span>
                                            </div>
                                        </div>

                                        <div
                                            class="col-6 col-md-1 py-3 d-flex vertical-content-middle align-items-center justify-content-center text-center">
                                            <div class="w-fit-content">
                                                <label class="d-md-none" class="d-md-none"><b>Unit:</b>&nbsp;</label>
                                                <span>{{data && data.unit ? data.unit : ""}}</span>
                                            </div>
                                        </div>
                                        <div
                                        class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 py-2 d-flex align-items-center justify-content-center text-center">
                                        <div class="w-fit-content">
                                            <label class="d-md-none" class="d-md-none"><b>Seed Distribution:</b>&nbsp;</label>
                                            <span>
                                                <td style="font-weight: 500;">
                                                    <span><b class="font-weight-bold">DOA:</b> {{data && data.doa ?
                                                            formatNumber(data.doa) : 0}},
                                                            <b class="font-weight-bold">SSC: </b>{{data && data.ssc ?
                                                            formatNumber(data.ssc)  : 0}}</span><br>
                                                    <span><b class="font-weight-bold">NSC:</b> {{data && data.nsc ?
                                                            formatNumber(data.nsc) : 0}},
                                                            <b class="font-weight-bold">SFCI: </b>{{data && data.sfci ?
                                                            formatNumber(data.sfci)  : 0}}</span><br>
                                                    <span><b class="font-weight-bold">Private:</b> {{data && data.private ?
                                                        formatNumber(data.private) : 0}},
                                                        <b class="font-weight-bold">Others: </b>{{data && data.others ?
                                                        formatNumber(data.others)  : 0}}</span><br>
                                            </td>
                                            </span>
                                        </div>
                                    </div>
                                                                
                                        
                                        <div
                                            class="col-4 col-md-1 py-3 d-flex vertical-content-middle align-items-center justify-content-center text-center">
                                            <div class="w-fit-content">
                                                <label class="d-md-none" class="d-md-none"><b>Total:</b>&nbsp;</label>
                                                <span>
                                                    {{data && data.total ? formatNumber(data.total) : ""}}
                                                </span>
                                            </div>
                                        </div>
                                        <div
                                            class="col-6 col-md-1 py-3 d-flex vertical-content-middle align-items-center justify-content-center text-center">
                                            <div
                                                class="list-action-buttons-wrapper w-fit-content phone_view_action_btn col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 py-2 d-flex align-items-center justify-content-center text-center">

                                                <button class="list-action-buttons" style="cursor: pointer;"
                                                    (click)="patchDataForUpdate(data)">
                                                    <img src="assets/images/Vector.svg">
                                                </button>
                                                <button class="list-action-buttons " style="cursor: pointer;">
                                                    <img src="assets/images/Vector_delete.svg"
                                                        (click)="deleteDirectIndent(data.id)">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="(filterPaginateSearch && filterPaginateSearch.initialized &&(!filterPaginateSearch.itemList) || filterPaginateSearch.itemList.length < 1)"
                                class="px-2 py-3 w-100" style="height: 50px;">
                                <div class="d-flex verticle-content-middle justify-content-center w-100">
                                    No Data Found.
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-12 px-4 px-md-3 py-1 pb-4 pl-4">
                            <app-pagination-ui></app-pagination-ui>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>