.form-nodal-input {
    background: transparent;
}

.form-nodal-input,
.form-nodal-input:active,
.form-nodal-input:focus {
    border: 1px solid #979797 !important;
    outline: none ! important;
    border-radius: 5px !important;
    box-shadow: none !important;
}

.form-nodal-input-custom-placeholder {
    margin-top: 0px;
    margin-bottom: -39px;
}

.va-l {
    background: #fff;
    font-weight: 700;
    padding: 0.8rem !important;
    box-shadow: 1px 1px 4px #33333369;
}

.form-nodal-input-custom-placeholder,
.form-nodal-input,
.form-nodal-input:active,
.form-nodal-input:focus {
    padding-left: 0.75rem !important;
    font: normal Poppins 15px/23px;
    letter-spacing: 0px;
    color: rgb(0 0 0 / 70%);
    height: 38px !important;
}

.form-nodal-input-custom-placeholder.hide+.form-nodal-input:not([disabled]),
.form-nodal-input:not([disabled]):active,
.form-nodal-input:not([disabled]):focus {
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
}

.form-nodal-input-custom-placeholder.hide span {
    display: none !important;
}

.form-nodal-input-custom-placeholder.disabled {
    background: #F1F1F1 0% 0% no-repeat padding-box;
    border-radius: 5px;
}

.nodal-search-icon {
    color: #707070;
    font-size: 18px;
    position: absolute;
    right: 25px;
    top: 16px;
}

.col-accordion {
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border: 1px solid #979797;
    border-radius: 5px;
    max-height: fit-content;
    -webkit-transition: max-height 1s ease;
    -moz-transition: max-height 1s ease;
    transition: max-height 1s ease;
}

.col-accordion.hide {
    overflow: hidden;
    max-height: 55px;
}

.accordion-dropdown {
    position: absolute;
    right: 45px;
    margin-top: 20px;
    cursor: pointer;
    width: 15px;
    height: 15px;
}

thead {
    background: #dc8b3a;
    color: #fff;
}

label.bold-label {
    font-weight: 500;
    color: #353330;
    font-family: system-ui;
}

.text-center{
    justify-content: center;
    text-align: center;
}
.m-p-0{
    margin: 0;
    padding: 0;
}
.qty-txt{
    width: 71px;
    padding: 6px;
    text-align: center;
    border: 1px solid #e4dede;
    border-radius: 5px;
}
.allocation-label {
    background: #b74b27;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    width: -webkit-fill-available;
    text-align: center;
}
@media (min-width:1165px) and (max-width: 1295px) {
    .form-child {
        zoom: 0.8;
    }
}

::ng-deep .yearofIndent-wrapper .ngb-dropdown-disabled .dropdown-toggle,
::ng-deep .season-wrapper .ngb-dropdown-disabled .dropdown-toggle,
::ng-deep .variety-wrapper .ngb-dropdown-disabled .dropdown-toggle,
::ng-deep .cropName-wrapper .ngb-dropdown-disabled .dropdown-toggle {
    background: rgb(245 245 245 / 70%) 0% 0% no-repeat padding-box !important;
}

::ng-deep .field-title-wrapper {
    /* height: 70px; */
    align-items: start;
    font-size: 14px;
}

::ng-deep .dynamic-input-custom-placeholder {
    white-space: nowrap;
    overflow: hidden;
}

::ng-deep .main-content-form-wrapper {
    min-height: 0px !important;
}

::ng-deep .field_text_select{
    padding-right: 0.5rem !important;
}