<div class="container-fluid">
    
    <div class="row justify-content-center row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 ">
        <div class="col-12 pt-3">
            <div class="card">
                <form [formGroup]="ngForm">
                    <div class="row px-1 no-gutters py-1 ">
                        <!--  Year of indent -->
                       
                        <div class="col-lg-3 col-sm-12 mt-3 ">
                            <div class="col-12 ">
                                <span for="" class="left-heading required">Year of Indent</span>
                            </div>
                            <div class="col-lg col-sm-12 py-2">
                                <select id="cars" class="form-control " formControlName="year_of_indent">
                                    <option value="" selected disabled>Select Year</option>
                                    <option *ngFor="let data of yearOfIndent" value="{{data.year}}">
                                        {{ data && data.year ? data.year : 'NA'}}</option>
                                </select>
                            </div>
                        </div>
               
                    </div>
                </form>
            </div>
        </div>
        <div class="col mt-4 ">
            <div class="card cropCard">
                <div class="col-12">
                    <span class="card-title">Total Crops</span>
                </div>
                <div class="row pt-4 px-1 ">

                    <div class="col-7 ">
                        <span class="noOfcrop mx-2">{{itemCount && itemCount[0] && itemCount[0].crops
                            ?itemCount[0].crops:0}}</span>
                    </div>
                    <div class="col-4  text-center">
                        <div class="row justify-content-end">
                            <div class="myDiv01">
                                <img src="../../../assets/images/cropCard.svg" alt="" srcset=""
                                    class=" cropCard_image01 pl-0 " style="opacity: 1;">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Second Number -->
        <div class="col mt-4">
            <div class="card notified_varities">
                <div class="col-12">
                    <span class="card_notified_title">Total Varieties</span>
                </div>
                <div class="row pt-4 px-1 ">

                    <div class="col-7 ">
                        <!-- 176 -->
                        <span class="noOfVarieties mx-2">{{itemCount && itemCount[0] &&
                            itemCount[0].varieties?itemCount[0].varieties:0}}</span>
                    </div>
                    <div class="col-4  text-center">
                        <div class="row justify-content-end">

                            <div class="myDiv02">
                                <img src="../../../assets/images/bell.svg" alt="" srcset=""
                                    class=" cropCard_image01 pl-0 " style="opacity: 1;">

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
       
        <div class="col mt-4">
            <div class="card card_of_indentors">
                <div class="col-12">
                    <span class="card-title-Indentors">Seed Requirement</span>
                </div>
                <div class="row pt-4 px-1 ">

                    <div class="col-7">
                        <!-- 176 -->
                        <span class="noOfIndentor mx-2">{{itemCount && itemCount[0] && itemCount[0].req ?itemCount[0].req:0}}</span>
                    </div>
                    <div class="col-4  text-center indentorrow">
                        <div class="row justify-content-end ">
                            <div class="myDiv03">
                                <img src="../../../assets/images/indent_2.svg" alt="" srcset="" class=" cropCard_image01 pl-0 "
                                style="opacity: 1;">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- fourth -->
        <div class="col mt-4">
            <div class="card ICARCard">
                <div class="col-12">
                    <span class="card-title-Icar">Seed Availbility</span>
                </div>
                <div class="row pt-4 px-1 ">

                    <div class="col-7 ">
                        <!-- 176 -->
                        <span class="noOfIcar mx-2">{{itemCount && itemCount[0] && itemCount[0].total ? itemCount[0].total:0}}</span>
                    </div>
                    <div class="col-4 text-center">
                        <div class="row justify-content-end">

                            <div class="myDiv04">
                                <img src="../../../assets/images/layer1.svg" alt="" srcset="" class=" cropCard_image01 pl-0 "
                                style="opacity: 1;">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col mt-4">
            <div class="card card_production">
                <div class="col-12">
                    <span class="card-title-production">Certified Seed</span>
                </div>
                <div class="row pt-4 px-1 ">

                    <div class="col-7 ">
                        <!-- 176 -->
                        <span class="card_production_title mx-2">{{itemCount &&
                            itemCount[0] && itemCount[0].certifiedquant ?itemCount[0].certifiedquant:0}}</span>
                    </div>
                    <div class="col-4  text-center">
                        <div class="row justify-content-end ">
                            <div class="myDiv05">
                                <img src="../../../assets/images/wash.svg" alt="" srcset=""
                                    class=" cropCard_image01 pl-0 " style="opacity: 1;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col mt-4">
            <div class="card notified_varities">
                <div class="col-12">
                    <span class="card_notified_title">Quality Seed</span>
                </div>
                <div class="row pt-4 px-1 ">

                    <div class="col-7 ">
                        <!-- 176 -->
                        <span class="noOfVarieties mx-2" >{{itemCount && itemCount[0] && itemCount[0].qualityquant ?itemCount[0].qualityquant:0}}</span>
                    </div>
                    <div class="col-4 text-center">
                        <div class="row justify-content-end">
                            <div class="myDiv02">
                                <img src="../../../assets/images/bell.svg" alt="" srcset="" class=" cropCard_image01 pl-0 "
                                style="opacity: 1;">
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col mt-4">
            <div class="card notified_varities">
                <div class="col-12">
                    <span class="card_notified_title">Surplus/Shortfall</span>
                </div>
                <div class="row pt-4 px-1 ">

                    <div class="col-7 ">
                        <!-- 176 -->
                        <span class="noOfVarieties mx-2" >{{itemCount && itemCount[0] && itemCount[0].shtorsur ? itemCount[0].shtorsur:0}}</span>
                    </div>
                    <div class="col-4 text-center">
                        <div class="row justify-content-end">
                            <div class="myDiv02">
                                <img src="../../../assets/images/bell.svg" alt="" srcset="" class=" cropCard_image01 pl-0 "
                                style="opacity: 1;">
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
       
       
    </div>


    <!-- <div class="row pt-3 pl-1 no-gutters inden_dash_no-gutters">
        <div class="col-lg-3">
            <span class="title">Total Indents:
                <span class="total_qty">{{totalIndent && totalIndent[0] &&
                    totalIndent[0].indent_quantity?(totalIndent[0].indent_quantity | number:'1.2-2'):0}}</span><span
                    class="mx-1">{{unit}}</span>
            </span>
        </div>
        <div class="col-lg-3">
            <span class="title">Total Lifting:
                <span class="total_qty">{{totalLifted &&
                    totalLifted[0].lifting_quantity?(totalLifted[0].lifting_quantity | number:'1.2-2'):0}}</span><span
                    class="mx-1">{{unit}}</span>
            </span>
        </div>
        <div class="col-lg-4">
            <span class="title">BSP VI (Utilization of Breeder Seed):
                <span class="total_qty">{{totalAllocateLifting && totalAllocateLifting?(totalAllocateLifting |
                    number:'1.2-2'):0}}</span><span class="mx-1">{{unit}}</span>
            </span>
        </div>
    </div> -->

    <!--start card 2 ui-->
     <div class="row justify-content-center row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 ">
       
        <!-- <table class="table">
                <thead
                    style="background: #E97E15 0% 0% no-repeat padding-box;
            border-radius: 10px 10px 0px 0px;opacity: 1;text-align: left;font: normal Poppins 400 16px/20px ;letter-spacing: 0px;color: #FFFFFF;opacity: 1;">
                    <tr>
                        <th>Year of Indent</th>
                        <th>Season</th>
                        <th>Crop Name</th>
                        <th>Variety</th>
                        <th>Indent</th>
                        <th>Allocation</th>
                        <th>Lifting</th>
                    </tr>
                </thead>
                <tbody *ngFor="let data of tableArray">
                    <tr >
                        <td>
                            <span>{{data && data.year ? data.year :'Na'}}</span>
                        </td>
                        <td>
                            <span>{{data && data.season ? data.season :'Na'}}</span>
                        </td>
                        <td>
                            <span>{{data && data.crop ? data.crop :'Na'}}</span>
                        </td>
                        <td>
                            <span>{{data && data.Variety ? data.Variety :'Na'}}</span>
                        </td>
                        <td class='indenttd'>
                            <span>{{data && data.Indent ? data.Indent :'Na'}}</span>
                        </td>
                        <td class="allocationtd">
                            
                            <span>{{data && data.allocation ? data.allocation :'Na'}}</span>
                        </td>
                        <td class="liftingtd">
                            <span>{{data && data.lifting ? data.lifting :'0'}}</span>
                        </td> -->

        <!-- </div> -->


        <!-- <div class="mt-3">
        <div class="col-12 pl-0 pr-0 pt-3 table-responsive">

            <table class="table">
                <thead
                    style="background: #E97E15 0% 0% no-repeat padding-box;
            border-radius: 10px 10px 0px 0px;opacity: 1;text-align: left;font: normal Poppins 400 16px/20px ;letter-spacing: 0px;color: #FFFFFF;opacity: 1;">
                    <tr>
                        <th>Indent Year</th>
                        <th>Season</th>
                        <th>Crop Name</th>
                        <th>Variety</th>
                        <th>Status of Indent</th>
                        <th>Status of Allocation</th>
                        <th>Status of Lifting</th>
                    </tr>
                </thead>
                <tbody *ngFor="let data of indentData">
                    <tr *ngIf="chooseYearCrop">
                        <td>{{data.year}}-{{(data.year+1)-2000}}</td>
                        <td>{{data && data.season && (data.season == 'K')?'Kharif':(data.season == 'R')?'Rabi':'All
                            Season'}}</td>
                        <td>{{data && data.m_crop && data.m_crop.crop_name?data.m_crop.crop_name:'All Crop'}}</td>
                        <td>{{data && data.m_crop_variety &&
                            data.m_crop_variety.variety_name?data.m_crop_variety.variety_name:'All Variety'}}</td>
                        <td>Completed</td>
                        <td>{{data && data.bsp_1 && data.bsp_1?'Completed':'Pending'}}</td>
                        <td>{{data && data.bsp_5_b && data.bsp_5_b?'Completed':'Pending'}}</td>
                    </tr>
                </tbody>
                <ng-container *ngFor="let data of indentYear">
                    <ng-container *ngFor="let val of data.season">
                        <tr *ngIf="allCombileData">
                            <td>{{data.year}}-{{(data.year+1)-2000}}</td>
                            <td>{{val && (val == 'K')?'Kharif':(val == 'R')?'Rabi':''}}</td>
                            <td>All Indent Crops</td>
                            <td>All Indent Variety</td>
                            <td>Completed</td>
                            <td>{{isBsp1Completed}}</td>
                            <td>{{isBsp5Completed}}</td>
                        </tr>
                    </ng-container>
                </ng-container>
                <ng-container *ngFor="let data of indentYear">
                    <ng-container *ngFor="let val of data.season">
                        <ng-container *ngFor="let cropVal of data.crop_name">
                            <tr *ngIf="chooseOnlyYear">
                                <td>{{data.year}}-{{(data.year+1)-2000}}</td>
                                <td>{{val && (val == 'K')?'Kharif':(val == 'R')?'Rabi':''}}</td>
                                <td>{{cropVal && cropVal?cropVal:''}}</td>
                                <td>All Indent Variety</td>
                                <td>Completed</td>
                                <td>{{isBsp1Completed}}</td>
                                <td>{{isBsp5Completed}}</td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </ng-container>
                <tr *ngIf="notFound">
                    <td colspan="8">
                        <h4 class="text-danger text-center">No Data Found</h4>
                    </td>
                </tr>
            </table>
        </div>
    </div> -->

        <!-- start graph ui -->
        <!-- <div class="row pt-3"> -->

        <!--Chart Start -->
        <div class="col-12 pb-4 pt-3">
            <div class="card " style=" border-radius: 10px 10px 0px 0px;">
                <div class="col-12" style="background: #E97E15 0% 0% no-repeat padding-box;opacity: 1;">
                    <div class="row pb-2 pt-2 chart_heading2">
                        <div class="col-md-3 chart_item2">
                            <span class="chart_title">Seed Availability</span>
                        </div>
                       
                        <!-- <div class="col-md-2 chart_item2" *ngIf="isYear">
                            <span class="chart_title">Year: {{year}}-{{(year-2000)+1}}</span>
                        </div>
                        <div class="col-md-2 chart_item2" *ngIf="isSeason" >
                            <span class="chart_title">Season: {{(season==='K')?'Kharif':'Rabi'}}</span>
                        </div>

                        <div class="col-md-2 chart_item2" *ngIf="isCropName" >
                            <span class="chart_title">Crop Name:{{ngForm.controls['crop_name'].value?getCropName(ngForm.controls['crop_name'].value):''}}</span>
                    
                        </div> -->
                        <div class="col-md-2 chart_item2" >
                            <span class="chart_title"> As on Date: {{todayDateintoDDMMYYY}}</span>
                        </div>
                        <div class="col-md-1 chart_item1"  style="margin-left: -3em; float: right;">
                            <span class="chart_title">Unit: {{units}}</span>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-12 pt-2 ">
             <div class="row   no-gutters ">
                <div class=" col-3 pt-2">
                    <div class="square w-50"></div>
                    <span>Indent Quantity</span>
                </div>
                <div class="col-lg col-sm-12 pl-0">
                    
                </div>
                
             </div>
             </div> -->
                <div class="col-12 pt-2">
                    <div class="row chart_icon_items2 " style="display: flex; justify-content: flex-end; padding-right: 60px;">
                        <div class="col-lg-3 col-12 chart_text_items2">
                            <form [formGroup]="ngForm">
                                <div class="col-lg col-sm-12 py-1"  >
                                    <select id="cars" [(ngModel)]="indenterPieFilterData" class="form-control"
                                        formControlName="variety_name_graph1"
                                        (change)="graphShowHiddenFunctionality($event)">
                                        <option value="all_crop">---All---</option>
                                        <!-- <ng-container *ngFor="let data of graphFilterCrop;"> -->
                                        <option *ngFor="let val of graphFilterUsers" value="{{val && val.user_id}}">
                                            {{val &&
                                            val.name}}
                                        </option>
                                        <!-- </ng-container> -->
                                    </select>
                                </div>
                            </form>
                            <!-- <select name="" id="" class="form-control">
                        <option value="">Select Variety</option>
                        <option *ngFor="let data of variety" value="{{data && data.m_crop_variety && data.m_crop_variety.id}}">{{data && data.m_crop_variety && data.m_crop_variety.variety_name}}</option>
                    </select> -->

                        </div>


                    </div>

                </div>
                <div [hidden]="showStatePie" id="containerspie">

                </div>

                <div [hidden]="!showStatePie" id="containerspie1">

                </div>
            </div>
        </div>


        <!-- First chart -->
        <div class="col-12 pb-4 " [ngClass]="totalIndentCard ? 'd-block' : 'd-none'">
            <div class="card " style=" border-radius: 10px 10px 0px 0px;">
                <div class="col-12" style="background: #E97E15 0% 0% no-repeat padding-box;
             opacity: 1;">
                    <div class="row pb-2 pt-2 chart_heading1">
                        <div class="col-md-3 chart_item1">
                            <span class="chart_title">{{graphtitle}} Wise Req, Avl and Shortfall/Surplus </span>
                        </div>
                      
                        <!-- <div class="col-md-2 chart_item1" *ngIf="isYear" >
                            <span class="chart_title">Year: {{year}}-{{(year-2000)+1}}</span>
                        </div>
                        <div class="col-md-2 chart_item1" *ngIf="isSeason" >
                            <span class="chart_title">Season: {{(season==='K')?'Kharif':'Rabi'}}</span>
                        </div>

                        <div class="col-md-2 chart_item1" *ngIf="isCropName"  >

                            <span class="chart_title">Crop Name: {{ngForm.controls['crop_name'].value?getCropName(ngForm.controls['crop_name'].value):''}}</span>
                        </div> -->
                        <div class="col-md-3 chart_item1 " >
                            <span class="chart_title"> As on Date: {{todayDateintoDDMMYYY}}</span>
                        </div>
                        <div class="col-md-3 chart_item1"  >
                            <span class="chart_title">Unit: {{units}}</span>
                        </div>
                    </div>
                </div>

                <div class="col-12 pt-2">
                    <div class="row   pl-3 chart_icon_items1">
                        <div class=" square ">

                        </div>
                        <div class="col-lg-2 col-12 pl-2 chart_text_items2">
                            <span>Requirement</span>
                        </div>
                        <div class=" square_breeder_seed_left ">

                        </div>
                        <div class="col-lg-2 col-12 pl-2 chart_text_items2">
                            <span style="white-space: nowrap;">Availability</span>
                        </div>
                        <div class=" square_breeder_seed_surplus ">

                        </div>
                        <div class="col-lg-2 col-12 pl-2 chart_text_items2">
                            <span style="white-space: nowrap;">Surplus</span>
                        </div>
                        <div class=" square_breeder_seed_shortfall ">

                        </div>
                        <div class="col-lg-2 col-12 pl-2 chart_text_items2">
                            <span style="white-space: nowrap;">Shortfall</span>
                        </div>
                        <div class="col-lg-3 col-12 chart_text_items2">
                            <!-- <select name="" id="" class="form-control">
                        <option value="">Select Variety</option>
                        <option *ngFor="let data of variety" value="{{data && data.m_crop_variety && data.m_crop_variety.id}}">{{data && data.m_crop_variety && data.m_crop_variety.variety_name}}</option>
                    </select> -->
                            <form [formGroup]="ngForm">
                                <div class="col-lg col-sm-12 py-1">
                                    <select id="cars" [(ngModel)]="cropFilterData" class="form-control"
                                        formControlName="crop_name_graph"
                                        (change)="graphShowHiddenFunctionality($event)">
                                        <option value="all_crop">---All---</option>
                                        <!-- <ng-container *ngFor="let data of graphFilterCrop;"> -->
                                        <option *ngFor="let val of graphFilterCrop" value="{{val && val.crop_code}}">
                                            {{val &&
                                            val.crop_name}}
                                        </option>
                                        <!-- </ng-container> -->
                                    </select>
                                </div>
                            </form>


                        </div>

                        <!-- graph print btn -->
                        <!-- <div class="col-lg-2 col-12 pl-0 ">
                            <button
                                class="form-button search d-inline-flex justify-content-center verticle-content-middle mr-2">
                                <span class="">Print</span>
                            </button>
                        </div> -->

                    </div>

                </div>

                <div [hidden]="showVariety" id="container">

                </div>
                <div [hidden]="!showVariety" id="variety-container">

                </div>



            </div>
        </div>
        <!-- [ngStyle]="{'display': totalIndentCard ? 'block':'none' }" -->

        <!-- Second Chart  -->
        <!-- [ngStyle]="{'display': showBspCard ? 'block':'none' }" -->
        <div class="col-12 pb-4">
            <div class="card " style=" border-radius: 10px 10px 0px 0px;">
                <div class="col-12" style="background: #E97E15 0% 0% no-repeat padding-box;opacity: 1;">
                    <div class="row pb-2 pt-2 chart_heading2">
                        <div class="col-md-3 chart_item2">
                            <span class="chart_title">{{graphtitle1}}  Wise Req, Avl, Shortfall/Surplus</span>
                        </div>
                       
                        <!-- <div class="col-md-2 chart_item2" *ngIf="isYear">
                            <span class="chart_title">Year: {{year}}-{{(year-2000)+1}}</span>
                        </div>
                        <div class="col-md-2 chart_item2" *ngIf="isSeason" >
                            <span class="chart_title">Season: {{(season==='K')?'Kharif':'Rabi'}}</span>
                        </div>

                        <div class="col-md-2 chart_item2" *ngIf="isCropName" >
                            <span class="chart_title">Crop Name:{{ngForm.controls['crop_name'].value?getCropName(ngForm.controls['crop_name'].value):''}}</span>
                    
                        </div> -->
                        <div class="col-md-2 chart_item2" >
                            <span class="chart_title"> As on Date: {{todayDateintoDDMMYYY}}</span>
                        </div>
                        <div class="col-md-1 chart_item1"  style="margin-left: -3em; float: right;">
                            <span class="chart_title">Unit: {{units}}</span>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-12 pt-2 ">
             <div class="row   no-gutters ">
                <div class=" col-3 pt-2">
                    <div class="square w-50"></div>
                    <span>Indent Quantity</span>
                </div>
                <div class="col-lg col-sm-12 pl-0">
                    
                </div>
                
             </div>
             </div> -->
                <div class="col-12 pt-2">
                    <div class="row   pl-3 chart_icon_items2">
                        <div class=" square ">

                        </div>
                        <div class="col-lg-2 col-12 pl-2 chart_text_items2">
                            <span>Requirement</span>
                        </div>
                        <div class=" square_breeder_seed_left ">

                        </div>
                        <div class="col-lg-2 col-12 pl-2 chart_text_items2">
                            <span style="white-space: nowrap;">Availability</span>
                        </div>
                        <div class=" square_breeder_seed_surplus ">

                        </div>
                        <div class="col-lg-2 col-12 pl-2 chart_text_items2">
                            <span style="white-space: nowrap;">Surplus</span>
                        </div>
                        <div class=" square_breeder_seed_shortfall ">

                        </div>
                        <div class="col-lg-2 col-12 pl-2 chart_text_items2">
                            <span style="white-space: nowrap;">Shortfall</span>
                        </div>
                        <div class="col-lg-3 col-12 chart_text_items2">
                            <form [formGroup]="ngForm">
                                <div class="col-lg col-sm-12 py-1">
                                    <select id="cars" [(ngModel)]="indenterCropFilterData" class="form-control"
                                        formControlName="variety_name_graph"
                                        (change)="graphShowHiddenFunctionality($event)">
                                        <option value="all_crop">---All---</option>
                                        <!-- <ng-container *ngFor="let data of graphFilterCrop;"> -->
                                        <option *ngFor="let val of graphFilterUsers" value="{{val && val.user_id}}">
                                            {{val &&
                                            val.name}}
                                        </option>
                                        <!-- </ng-container> -->
                                    </select>
                                </div>
                            </form>
                            <!-- <select name="" id="" class="form-control">
                        <option value="">Select Variety</option>
                        <option *ngFor="let data of variety" value="{{data && data.m_crop_variety && data.m_crop_variety.id}}">{{data && data.m_crop_variety && data.m_crop_variety.variety_name}}</option>
                    </select> -->

                        </div>


                    </div>

                </div>
                
                <div [hidden]="showIndenterVariety" id="containers">

                </div>

                <div [hidden]="!showIndenterVariety" id="crop-containers">

                </div>



            </div>
        </div>

       
 </div>

 </div>