<div class="row my-4 w-100 mx-0">
    <div class="col-12 d-flex justify-content-center verticle-content-middle">
        <div class="main-content-form-wrapper px-0 py-2">
            <div class="row">
                <div class="col-12 px-4 py-3" >
                    <app-indent-breeder-seed-allocation-search></app-indent-breeder-seed-allocation-search>
                </div>
                <div class="col-12 px-4 d-none justify-content-end">
                    <button class="form-button d-flex justify-content-center verticle-content-middle"
                        style="width: 100px !important;"
                        routerLink="/indent-breeder-seed-allocation-list/submission">Add</button>
                </div>
                <div class="col-12 px-4">
                    <!-- <app-dynamic-fields [fieldsList]="fieldsList" [formGroup]="formGroup"></app-dynamic-fields> -->
                    <div class="list-wrapper px-4 py-3">
                        <div class="row d-none d-md-flex data-row-header">
                            <div class="col-6 col-md-2 py-3 d-flex verticle-content-middle">S/N</div>
                            <div class="col-6 col-md-2 py-3 d-flex verticle-content-middle">Variety</div>
                            <div class="col-6 col-md-2 py-3 d-flex verticle-content-middle">Year</div>
                            <div class="col-6 col-md-2 py-3 d-flex verticle-content-middle">Crop Name</div>
                            <div class="col-6 col-md-4 py-3 d-flex verticle-content-middle justify-content-center">
                                Action
                            </div>
                        </div>
                        <div class="row data-row"
                            *ngFor="let data of filterPaginateSearch.itemList; let dataIndex=index">
                            <div class="col-6 col-md-2 py-3 d-flex verticle-content-middle">
                                <div class="w-fit-content">
                                    <label class="d-md-none" class="d-md-none">S/N:&nbsp;</label>
                                    <span>{{ (filterPaginateSearch.itemListCurrentPage - 1) * filterPaginateSearch.itemListPageSize + dataIndex + 1}}</span>
                                </div>
                            </div>
                            <div class="col-6 col-md-2 py-3 d-flex verticle-content-middle">
                                <div class="w-fit-content">
                                    <label class="d-md-none">Variety:&nbsp;</label>
                                    <span>{{ data.variety.name }}</span>
                                </div>
                            </div>
                            <div class="col-6 col-md-2 py-3 d-flex verticle-content-middle">
                                <div class="w-fit-content">
                                    <label class="d-md-none">Year:&nbsp;</label>
                                    <span>{{ data.year.name }}</span>
                                </div>
                            </div>
                            <div class="col-6 col-md-2 py-3 d-flex verticle-content-middle">
                                <div class="w-fit-content">
                                    <label class="d-md-none">Crop Name:&nbsp;</label>
                                    <span>{{ data.crop.name }}</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 py-1 d-flex verticle-content-middle justify-content-md-center">
                                <div class="list-action-buttons-wrapper w-fit-content">
                                    <button class="list-action-buttons mx-2 my-2"
                                            [routerLink]="['/indent-breeder-seed-allocation-list/submission/edit', data.id]">
                                        <img src="assets/images/edit.svg">
                                    </button>
                                    <button class="list-action-buttons mx-2 my-2" (click)="delete(data.id)">
                                        <img src="assets/images/delete.svg">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 px-4 py-3">
                    <app-pagination-ui></app-pagination-ui>
                </div>
            </div>
        </div>
    </div>
</div>