.data-row-header {
    background: #E97E15 0% 0% no-repeat padding-box;
}

.data-row-header * {
    font: normal Poppins 600 15px/19px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.data-row {
    border: 1px solid #B2C7D7;
    border-top: none !important;
}

.data-row * {
    font: normal Poppins 13px/18px;
    letter-spacing: 0px;
    color: #000000;
}

span {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    cursor: pointer;
}

.left-heading,
.left-headings {
    text-align: left;
    font: normal Poppins 600 15px/23px;
    letter-spacing: 0px;
    color: #2329ff;
    font-weight: 600;
    opacity: 1;
}




@media (max-width: 400px) {


    /* .buttons-phone {
        display: inherit;
        margin-left: -5px;
    } */

    .phone-line {}

}

.for-margin{
    /* margin-left: -2px !important; */
}
.main-inventory {
    background-color: #FFFFFF;
    border: 1px #D2D2D2;
    /* width: 1540px;
    height: 999px;
    top: 142px;
    left: 330px; */
    border-radius: 10px;
    /* border: 1px; */
    margin: .5%;
    padding: 1.5%;
    height: calc(100vh - 329px);
}
.card-inventory {
    /* width: 1492px;
    height: 382px;
    top: 206px;
    left: 360px; */
    border-radius: 10px;
    background: #B64B1D0D;
    
 }
 .form-button1 {
    width: inherit !important;
    height: 44px !important;
    border-radius: 6px !important; 
    border: none;
    outline: none;
}
    
.btn-inventory {
    background: #B64B1D;
    color: #FFFFFF;
}

@media (min-width: 1500px) {

    .main-inventory {
        background-color: #FFFFFF;
        border: 1px #D2D2D2!important;
        /* width: 1540px;
        height: 999px;
        top: 142px;
        left: 330px; */
        border-radius: 10px;
        /* border: 1px; */
        margin: .5%;
        padding: 1.5%;
        height: calc(100vh - 329px)!important;
    }

}
.main-inventory {
    background-color: #FFFFFF;
    border: 1px #D2D2D2;
    /* width: 1540px;
    height: 999px;
    top: 142px;
    left: 330px; */
    border-radius: 10px;
    /* border: 1px; */
    margin: .5%;
    padding: 1.5%;
    height: calc(100vh - 100px);
}