.form-button-add {
    background: #963814 0% 0% no-repeat padding-box;
    text-align: left;
    font: normal Poppins 16px/25px;
    letter-spacing: 0px;
    color: #FFFFFF;

    /* box-shadow: 0px 3px 0px #CB6706; */
    border-radius: 5px;
    outline: none !important;
    border: none !important;
    width: 158px;
    height: 46px;
    cursor: pointer;
}


.data-row {
    border: 1px solid #B2C7D7;
    border-top: none !important;
}


.heading_notofied {
    font: normal Poppins;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0px;
    text-align: left;
    opacity: 1;
}

.search_text {
    text-align: left;
    font: normal Poppins 16px/25px;
    letter-spacing: 0px;
    color: #963814 ;
    opacity: 1;

}

.data-row-header * {
    font: normal Poppins 600 15px/19px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #FFFFFF;
    background: #E97E15 0% 0% no-repeat padding-box;
}

.data-row * {
    font: normal Poppins 15px/18px;
    letter-spacing: 0px;
    color: #000000;
}