<div class="main-inventory 1">
    <div class="row">
        <div class="col-12 px-3 mt-2">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 title-inventory pl-0 pt-1 pb-2">
                VARIETY-WISE CONVERSION OF FOUNDATION SEED INTO CERTIFIED SEED
            </div>
            <form [formGroup]="ngForm">
            <!-- first card ui  -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row card-inventory form-group pb-3">
                    <!-- start sectio 1  -->
                    <div class="col-12 col-md-12 col-lg-12 col-sm-12 col-xl-12 pt-1">
                        <div class="row for-width">
                            <!-- year of indent -->
                            <div class="col-12 col-md-4 col-lg-4 col-xl-2 col-sm-6">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-12 col-lg-12 col-xl-12">
                                        <label for="year" class="left-heading required ">Year of Indent</label>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-12 col-lg-12 col-xl-12 pr-1">
                                        <select class=" form-control input-inventory" formControlName="year" [ngClass]="disableUpperSection ? 'disableFiel' : ''">
                                            <option value="">Please Select Year</option>
                                            <option *ngFor="let year of inventoryYearData" value="{{year.value}}">
                                                <!-- {{ year.year }}-{{ ((year.year % 100) + 1) < 10 ? '0' : '' }}{{ (year.year % 100) + 1 }} -->
                                                {{year.year}}
                                            </option>
                                        </select>
                                        <div class=" errorMessage"
                                            *ngIf="submitted || ngForm.controls['year'].invalid && (ngForm.controls['year'].dirty || ngForm.controls['year'].touched)">
                                            <span *ngIf=" ngForm.controls['year'].errors?.['required']">
                                                Please Select Year.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- season  -->
                            <div class="col-12 col-md-4 col-lg-4 col-sm-6 col-xl-2 pr-1 pl-1">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                        <label for="season" class="left-heading required">Season</label>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                        <select class="form-control input-inventory" formControlName="season" [ngClass]="disableUpperSection ? 'disableFiel' : ''">
                                            <option value="">Please Select Season</option>
                                            <option value="Kharif">Kharif</option>
                                            <option value="Rabi">Rabi</option>
                                        </select>
                                        <div class="errorMessage"
                                            *ngIf="submitted || ngForm.controls['season'].invalid && (ngForm.controls['season'].dirty || ngForm.controls['season'].touched)">
                                            <span *ngIf="ngForm.controls['season'].errors?.['required']">
                                                Please Select Season.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!--  crop -->
                            <div class="col-12 col-md-4 col-lg-4 col-sm-6 col-xl-2 pl-1 pr-1">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                        <label for="year" class="left-heading required">Crop</label>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                        <div ngbDropdown class="d-inline-block w-100" [ngClass]="disableUpperSection ? 'disableFiel' : ''">
                                            <button
                                                class="btn takeplacholder w-100 crop toggle-button input-inventory"
                                                id="crop" ngbDropdownToggle style="text-align: left;">
                                                {{ selectCrop && (selectCrop.length > 30) ?
                                                (selectCrop.substring(0,23)
                                                + '...') : selectCrop ? selectCrop : 'Select Crop' }}
                                            </button>
                                            <div class="dropdown-menu w-100" ngbDropdownMenu="crop"
                                                aria-labelledby="sortMenu">
                                                <input type="text" class="form-control px-4"
                                                    formControlName="crop_text" placeholder="Search Crop...">
                                                <button class="dropdown-item" *ngFor="let item of cropData"
                                                    (click)="crop(item)" #dropdownItem
                                                    [attr.data-parent-name]="'crop'">
                                                    {{ item && item.crop_name ? item.crop_name : '' }}
                                                </button>
                                            </div>
                                        </div>
                                        <div class="pl-0 toggle-button" ngbDropdown>
                                            <i class="fa-solid fa-angle-down downicon" (click)="cClick()"></i>
                                        </div>
                                        <div class="errorMessage"
                                            *ngIf="submitted || ngForm.controls['crop'].invalid && (ngForm.controls['crop'].dirty || ngForm.controls['crop'].touched)">
                                            <span *ngIf="ngForm.controls['crop'].errors?.['required']">
                                                Please Select crop Name.
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- Variety -->
                            <div class="col-12 col-md-4 col-lg-4 col-sm-6 col-xl-2 pr-1 pl-1">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                        <label for="season" class="left-heading required">Variety</label>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                        <div ngbDropdown class="d-inline-block w-100" [ngClass]="disableUpperSection ? 'disableFiel' : ''">
                                            <button
                                                class="btn takeplacholder w-100 crop toggle-button input-inventory"
                                                id="crop" ngbDropdownToggle style="text-align: left;">
                                                {{ selectVariety && (selectVariety.length > 30) ?
                                                (selectVariety.substring(0,23) + '...') : selectVariety ?
                                                selectVariety
                                                : 'Select Variety' }}
                                            </button>
                                            <div class="dropdown-menu w-100" ngbDropdownMenu="variety"
                                                aria-labelledby="sortMenu">
                                                <input type="text" class="form-control px-4"
                                                    formControlName="variety_text" placeholder="Search Variety...">
                                                <button class="dropdown-item" *ngFor="let item of varietyData"
                                                    (click)="variety(item)" #dropdownItem
                                                    [attr.data-parent-name]="'variety_name'">
                                                    {{ item && item.variety_name ? item.variety_name : '' }}
                                                </button>
                                            </div>
                                        </div>
                                        <div class="pl-0 toggle-button" ngbDropdown>
                                            <i class="fa-solid fa-angle-down downicon" (click)="vClick()"></i>
                                        </div>
                                        <div class="errorMessage"
                                            *ngIf="submitted || ngForm.controls['variety'].invalid && (ngForm.controls['variety'].dirty || ngForm.controls['variety'].touched)">
                                            <span *ngIf="ngForm.controls['variety'].errors?.['required']">
                                                Please Select Variety Name.
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- Variety Notification Year -->
                            <div class="col-12 col-md-4 col-lg-4 col-xl-2 col-sm-6 pl-1 pr-1">
                                <div class="d-flex align-items-end justify-content-center h-100">
                                    <button class="btn btn-inventory search2"
                                        style="width: 8rem ; margin-right: 10px; color: black;"
                                        (click)="resetForm()" *ngIf="(!is_update) &&
                                    (ngForm.controls['year'].valid || ngForm.controls['season'].valid ||
                                    ngForm.controls['crop'].valid || ngForm.controls['variety'].valid)">Reset</button>

                                    <button
                                    *ngIf="(filterPaginateSearch && filterPaginateSearch.initialized &&(!filterPaginateSearch.itemList) || filterPaginateSearch.itemList.length < 1)
                                    &&  (ngForm.controls['year'].valid && ngForm.controls['season'].valid && 
                                    ngForm.controls['crop'].valid && ngForm.controls['variety'].valid  )"
                                        class="btn btn-inventory search2" style="width: 8rem; color: white;"
                                        (click)="SaveAsData()">Add</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end sectio 1  -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row card-inventory form-group">

                    <div class="col-12 col-md-12 col-lg-12 col-xl-12 mt-2" *ngIf="isAddSelected">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 title-inventory pl-3 pb-2 ">
                                 {{this.isChangeMessage}}
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-12 col-md-4 col-lg-4 col-sm-6 col-xl-3 pt-1">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <label for="norms" class="left-heading required">
                                                    SMR Norms
                                                </label>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <input type="number" class=" form-control input-inventory"
                                                    formControlName="norms" placeholder="Enter Norms" (keypress)="validateDecimal($event)">
                                                <div class="username errorMessage"
                                                    *ngIf="submitted ||ngForm.controls['norms'].invalid && ngForm.controls['norms'].dirty || ngForm.controls['norms'].touched">
                                                    <span *ngIf=" ngForm.controls['norms'].errors?.['required']">
                                                        Please Enter Norms
                                                    </span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-4 col-lg-4 col-sm-6 col-xl-3 pt-1">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <label for="fsLiftedDao" class="left-heading required">
                                                    FS Lifted DAO
                                                </label>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <input type="number" class=" form-control input-inventory"
                                                    formControlName="fsLiftedDao" placeholder="Enter DAO FS Lifted" (keypress)="validateDecimal($event)">
                                                <div class="username errorMessage"
                                                    *ngIf="submitted ||ngForm.controls['fsLiftedDao'].invalid && ngForm.controls['fsLiftedDao'].dirty || ngForm.controls['fsLiftedDao'].touched">
                                                    <span *ngIf=" ngForm.controls['fsLiftedDao'].errors?.['required']">
                                                        Please Enter DAO
                                                    </span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-4 col-sm-6 col-xl-3 pt-1">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <label for="fsLiftedSsc" class="left-heading required">
                                                    FS Lifted SSC
                                                </label>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <input type="number" class=" form-control input-inventory"
                                                    formControlName="fsLiftedSsc" placeholder="Enter SSC FS Lifted" (keypress)="validateDecimal($event)">
                                                <div class="username errorMessage"
                                                    *ngIf="submitted ||ngForm.controls['fsLiftedSsc'].invalid && ngForm.controls['fsLiftedSsc'].dirty || ngForm.controls['fsLiftedSsc'].touched">
                                                    <span *ngIf=" ngForm.controls['fsLiftedSsc'].errors?.['required']">
                                                        Please Enter SSC
                                                    </span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-12 col-md-4 col-lg-4 col-sm-6 col-xl-3 pt-1">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <label for="fsLiftedSau" class="left-heading required">
                                                    FS Lifted SAU
                                                </label>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <input type="number" class=" form-control input-inventory"
                                                    formControlName="fsLiftedSau" placeholder="Enter SAU FS Lifted" (keypress)="validateDecimal($event)">
                                                <div class="username errorMessage"
                                                    *ngIf="submitted ||ngForm.controls['fsLiftedSau'].invalid && ngForm.controls['fsLiftedSau'].dirty || ngForm.controls['fsLiftedSau'].touched">
                                                    <span *ngIf=" ngForm.controls['fsLiftedSau'].errors?.['required']">
                                                        Please Enter SAU.
                                                    </span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-4 col-sm-6 col-xl-3 pt-1">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <label for="fsLiftedCoop" class="left-heading required">
                                                    FS Lifted Coop
                                                </label>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <input type="number" class=" form-control input-inventory"
                                                    formControlName="fsLiftedCoop" placeholder="Enter Coop FS Lifted" (keypress)="validateDecimal($event)">
                                                <div class="username errorMessage"
                                                    *ngIf="submitted ||ngForm.controls['fsLiftedCoop'].invalid && ngForm.controls['fsLiftedCoop'].dirty || ngForm.controls['fsLiftedCoop'].touched">
                                                    <span *ngIf=" ngForm.controls['fsLiftedCoop'].errors?.['required']">
                                                        Enter Coop
                                                    </span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-4 col-sm-6 col-xl-3 pt-1">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <label for="fsLiftedOthers" class="left-heading required">
                                                    FS Lifted Others
                                                </label>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <input type="number" class=" form-control input-inventory"
                                                    formControlName="fsLiftedOthers" placeholder="Enter Others FS Lifted" (keypress)="validateDecimal($event)">
                                                <div class="username errorMessage"
                                                    *ngIf="submitted ||ngForm.controls['fsLiftedOthers'].invalid && ngForm.controls['fsLiftedOthers'].dirty || ngForm.controls['fsLiftedOthers'].touched">
                                                    <span *ngIf=" ngForm.controls['fsLiftedOthers'].errors?.['required']">
                                                        Others
                                                    </span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-4 col-sm-6 col-xl-3 pt-1">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <label for="fsLiftedTotal" class="left-heading required">
                                                    Total FS Lifted
                                                </label>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <input type="number" class=" form-control input-inventory"
                                                    formControlName="fsLiftedTotal" readonly>

                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                    
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    
                                    <div class="col-12 col-md-4 col-lg-4 col-sm-6 col-xl-3 pt-1">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <label for="fsUsedDao" class="left-heading required">
                                                    FS Used DAO
                                                </label>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <input type="number" class=" form-control input-inventory"
                                                    formControlName="fsUsedDao" placeholder="Enter Dao FS Used" (keypress)="validateDecimal($event)">
                                                <div class="username errorMessage"
                                                    *ngIf="submitted ||ngForm.controls['fsUsedDao'].invalid && ngForm.controls['fsUsedDao'].dirty || ngForm.controls['fsUsedDao'].touched">
                                                    <span *ngIf=" ngForm.controls['fsUsedDao'].errors?.['required']">
                                                        Please Enter Used DAO.
                                                    </span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-4 col-sm-6 col-xl-3 pt-1">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <label for="fsUsedSsc" class="left-heading required">
                                                    FS Used SSC
                                                </label>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <input type="number" class=" form-control input-inventory"
                                                    formControlName="fsUsedSsc" placeholder="Enter SSC FS Used" (keypress)="validateDecimal($event)">
                                                <div class="username errorMessage"
                                                    *ngIf="submitted ||ngForm.controls['fsUsedSsc'].invalid && ngForm.controls['fsUsedSsc'].dirty || ngForm.controls['fsUsedSsc'].touched">
                                                    <span *ngIf=" ngForm.controls['fsUsedSsc'].errors?.['required']">
                                                        Please Enter Used SSC.
                                                    </span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-12 col-md-4 col-lg-4 col-sm-6 col-xl-3 pt-1">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <label for="fsUsedSau" class="left-heading required">
                                                    FS Used Sau
                                                </label>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <input type="number" class=" form-control input-inventory"
                                                    formControlName="fsUsedSau" placeholder="Enter Sau FS Used" (keypress)="validateDecimal($event)">
                                                <div class="username errorMessage"
                                                    *ngIf="submitted ||ngForm.controls['fsUsedSau'].invalid && ngForm.controls['fsUsedSau'].dirty || ngForm.controls['fsUsedSau'].touched">
                                                    <span *ngIf=" ngForm.controls['fsUsedSau'].errors?.['required']">
                                                        Please Enter FS Used Sau.
                                                    </span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-4 col-sm-6 col-xl-3 pt-1">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <label for="fsUsedCoop" class="left-heading required">
                                                    FS Used Coop
                                                </label>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <input type="number" class=" form-control input-inventory"
                                                    formControlName="fsUsedCoop" placeholder="Enter Coop FS Used" (keypress)="validateDecimal($event)">
                                                <div class="username errorMessage"
                                                    *ngIf="submitted ||ngForm.controls['fsUsedCoop'].invalid && ngForm.controls['fsUsedCoop'].dirty || ngForm.controls['fsUsedCoop'].touched">
                                                    <span *ngIf=" ngForm.controls['fsUsedCoop'].errors?.['required']">
                                                        Please Enter FS Used Coop.
                                                    </span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-4 col-sm-6 col-xl-3 pt-1">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <label for="fsUsedOthers" class="left-heading required">
                                                    FS Used Others
                                                </label>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <input type="number" class=" form-control input-inventory"
                                                    formControlName="fsUsedOthers" placeholder="Enter Others FS Used" (keypress)="validateDecimal($event)">
                                                <div class="username errorMessage"
                                                    *ngIf="submitted ||ngForm.controls['fsUsedOthers'].invalid && ngForm.controls['fsUsedOthers'].dirty || ngForm.controls['fsUsedOthers'].touched">
                                                    <span *ngIf=" ngForm.controls['fsUsedOthers'].errors?.['required']">
                                                        Please Enter FS Used Others.
                                                    </span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-12 col-md-4 col-lg-4 col-sm-6 col-xl-3 pt-1">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <label for="fsUsedTotal" class="left-heading required">
                                                    Total FS Used 
                                                </label>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <input type="number" class=" form-control input-inventory"
                                                    formControlName="fsUsedTotal" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="col-12 col-md-4 col-lg-4 col-sm-6 col-xl-3 pt-1">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <label for="csProdFromfs" class="left-heading required">
                                                    CS Produce From FS
                                                </label>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <input type="number" class=" form-control input-inventory"
                                                    formControlName="csProdFromfs" placeholder="Enter CS Prod From FS" (keypress)="validateDecimal($event)">
                                                <div class="username errorMessage"
                                                    *ngIf="submitted ||ngForm.controls['csProdFromfs'].invalid && ngForm.controls['csProdFromfs'].dirty || ngForm.controls['csProdFromfs'].touched">
                                                    <span *ngIf=" ngForm.controls['csProdFromfs'].errors?.['required']">
                                                        CS Produce From FS
                                                    </span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-4 col-sm-6 col-xl-3 pt-1">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <label for="csProdOutOfCs" class="left-heading required">
                                                    CS Produce Out of FS
                                                </label>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <input type="number" class=" form-control input-inventory"
                                                    formControlName="csProdOutOfCs" placeholder="Enter CS Prod Out of FS" (keypress)="validateDecimal($event)">
                                                <div class="username errorMessage"
                                                    *ngIf="submitted ||ngForm.controls['csProdOutOfCs'].invalid && ngForm.controls['csProdOutOfCs'].dirty || ngForm.controls['csProdOutOfCs'].touched">
                                                    <span *ngIf=" ngForm.controls['csProdOutOfCs'].errors?.['required']">
                                                        CS Produce Out of FS
                                                    </span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-4 col-sm-6 col-xl-3 pt-1">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <label for="carryOverCs" class="left-heading required">
                                                    Carry Over FS 
                                                </label>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <input type="number" class=" form-control input-inventory"
                                                    formControlName="carryOverCs" placeholder="Enter Carry Over CS"  (keypress)="validateDecimal($event)">
                                                <div class="username errorMessage"
                                                    *ngIf="submitted ||ngForm.controls['carryOverCs'].invalid && ngForm.controls['carryOverCs'].dirty || ngForm.controls['carryOverCs'].touched">
                                                    <span *ngIf=" ngForm.controls['carryOverCs'].errors?.['required']">
                                                        carry Over CS
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-4 col-sm-6 col-xl-3 pt-1">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <label for="smrAchieved" class="left-heading required">
                                                    SMR Achieved
                                                </label>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <input type="number" class=" form-control input-inventory"
                                                    formControlName="smrAchieved" readonly>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-4 col-sm-6 col-xl-3 pt-1">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <label for="percentAchievement" class="left-heading required">
                                                    Achievement (%)
                                                    
                                                </label>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <input type="number" class=" form-control input-inventory"
                                                    formControlName="percentAchievement" readonly>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-4 col-sm-6 col-xl-3 pt-1">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <label for="totalCsAvl" class="left-heading required">
                                                    Total CS Available
                                                </label>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <input type="number" class=" form-control input-inventory"
                                                    formControlName="totalCsAvl" readonly>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-12 col-md-4 col-lg-4 col-sm-6 col-xl-3 pt-1">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <label for="remarks" class="left-heading required">
                                                    Remarks
                                                </label>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <input type="text" class=" form-control input-inventory"
                                                    formControlName="remarks" placeholder="Enter Reamrks">
                                                <div class="username errorMessage"
                                                    *ngIf="submitted ||ngForm.controls['remarks'].invalid && ngForm.controls['remarks'].dirty || ngForm.controls['remarks'].touched">
                                                    <span *ngIf=" ngForm.controls['remarks'].errors?.['required']">
                                                        Please Enter Remarks.
                                                    </span>

                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                    
                                    
                                    
                                </div>
                            </div>
                            <!-- finish section 2 -->

                            <!-- button section -->
                            <div class="col-12 col-md-10 col-lg-10 pt-4 pb-2 buttons-phone col-xl-10">
                                <button
                                    class="btn-inventory-cancel search d-inline-flex justify-content-center verticle-content-middle mb-3"
                                    (click)="revertDataCancelation()"
                                    style="border: 2px solid #B64B1D;">Cancel</button>
                                <button
                                    class="search form-button btn-inventory ml-2 d-inline-flex justify-content-center verticle-content-middle mb-3"
                                    (click)="createAndSave()" style="border: 2px solid #B64B1D;"
                                    *ngIf="!is_update"
                                    >Add</button>

                                <button
                                    class="search form-button btn-inventory ml-2 d-inline-flex justify-content-center verticle-content-middle mb-3"
                                    (click)="updateForm()"
                                    *ngIf="is_update">Update</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- start section 2 -->

            <div class="col-12 " style="visibility: hidden; height: 100px;" *ngIf="!isShowTable"></div>
            <!-- second card ui  -->
            <div class="col-12 col-md-12 col-lg-12 col-xl-12" *ngIf="isShowTable">
                <div class="row card-inventory form-group">
                    <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 title-inventory pl-3 pb-2">
                        BS To FS Conversion
                    </div> -->
                    <div class="col-12 col-md-12 col-lg-12 col-sm-12 col-xl-12">
                        <div class="list-wrapper">
                            <div class="row d-none d-md-flex data-row-header">
                                <div class="col-6 col-md-1 py-3 d-flex verticle-content-middle align-items-center justify-content-center text-center">S/N</div>
                                <div
                                    class="col-6 col-md-1 py-3 d-flex verticle-content-middle align-items-center justify-content-center text-center">
                                    Season</div>
                                <div
                                    class="col-6 col-md-1 py-3 d-flex verticle-content-middle align-items-center justify-content-center text-center">
                                    Crop</div>
                                <div
                                class="col-6 col-md-1 py-3 d-flex verticle-content-middle align-items-center justify-content-center text-center">
                                    Variety</div>
                                <div class="col-6 col-md-1 py-3 d-flex verticle-content-middle align-items-center justify-content-center text-center">Total BS Lifted </div>
                                <div
                                    class="col-6 col-md-1 py-3 d-flex verticle-content-middle align-items-center justify-content-center text-center">
                                    SMR FS Lifted</div>
                                <!-- <div
                                    class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 py-2 d-flex align-items-center justify-content-center text-center">
                                   Unit
                                </div> -->
                                <div
                                     class="col-6 col-md-1 py-3 d-flex verticle-content-middle align-items-center justify-content-center text-center">
                                     SMR FS Used</div>
                                <div
                                    class="col-6 col-md-1 py-3 d-flex verticle-content-middle align-items-center justify-content-center text-center">
                                    Total FS Used
                                </div>
                            
                                <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 py-2 d-flex align-items-center justify-content-center text-center" >
                                   Production
                                </div>     
                                <div class="col-6 col-md-1 py-3 d-flex verticle-content-middle align-items-center justify-content-center text-center" >
                                    Unit
                                 </div>       
                                <div
                                    class="col-6 col-md-1 py-3 d-flex verticle-content-middle align-items-center justify-content-center text-center">
                                    Actions</div>
                            </div>
                            <div>
                                <div *ngFor="let data of filterPaginateSearch.itemList; let dataIndex=index"
                                    class="row data-row">
                                    <div class="col-6 col-md-1 py-3 d-flex verticle-content-middle align-items-center justify-content-center text-center">
                                        <div class="w-fit-content">
                                            <label class="d-md-none" class="d-md-none"><b>S/N:</b>&nbsp;</label>
                                            <span title="{{(filterPaginateSearch.itemListCurrentPage - 1) *
                                                filterPaginateSearch.itemListPageSize + dataIndex + 1}}">{{ (filterPaginateSearch.itemListCurrentPage - 1) *
                                                filterPaginateSearch.itemListPageSize + dataIndex + 1}}.</span>
                                        </div>
                                    </div>
                                    <div
                                        class="col-6 col-md-1 py-3 d-flex verticle-content-middle align-items-center justify-content-center text-center">
                                        <div class="w-fit-content">
                                            <span>
                                                {{data && data.season ? data.season : ""}}
                                            </span>
                                        </div>
                                    </div>
                                    <div
                                        class="col-6 col-md-1 py-3 d-flex verticle-content-middle align-items-center justify-content-center text-center">
                                        <div class="w-fit-content">
                                            <span>
                                                {{data && data.crop_name ? data.crop_name : ""}}
                                            </span>
                                        </div>
                                    </div>
                                    <div
                                    class="col-6 col-md-1 py-3 d-flex verticle-content-middle align-items-center justify-content-center text-center">
                                        <div class="w-fit-content">
                                            <span>
                                                {{data && data.variety_name ? data.variety_name : ""}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-1 py-3 d-flex verticle-content-middle align-items-center justify-content-center text-center">
                                        <div class="w-fit-content">
                                            <label class="d-md-none" class="d-md-none"><b>Req:</b>&nbsp;</label>
                                            <span >{{data&&data.bsLiftedTotal?data.bsLiftedTotal:0}}</span>
                                        </div>
                                    </div>
                                    <div
                                    class="col-6 col-md-1 py-3 d-flex verticle-content-middle align-items-center justify-content-center text-center">
                                    <span>
                                            <td style="font-weight: 500;">
                                                <span>Norms: <b
                                                        class="font-weight-bold">{{data.norms ?
                                                        data.norms :0}}</b></span><br>
                                                <span>Icar: <b
                                                        class="font-weight-bold">{{data.bsLiftedIcar
                                                        ? data.bsLiftedIcar :
                                                        0}}</b></span><br>
                                                <span>sau: <b
                                                        class="font-weight-bold">{{data.bsLiftedSau
                                                        ? data.bsLiftedSau :
                                                        0}}</b></span><br>                                                    
                                                <span>others: <b
                                                        class="font-weight-bold">{{data.bsLiftedOthers ?
                                                        data.bsLiftedOthers : 0}}</b></span><br>
                                                
                                                <br>
                                            </td>
                                        </span>
                                    </div>
                                    <!-- <div class="col-1 col-md-1 py-1 d-flex verticle-content-middle align-items-center justify-content-center text-center">
                                        <div class="w-fit-content">
                                            <label class="d-md-none" class="d-md-none"><b>S/N:</b>&nbsp;</label>
                                            <span >{{data && data.unit ? data.unit : ""}}</span>
                                        </div>
                                    </div> -->
                                    <div
                                    class="col-6 col-md-1 py-3 d-flex verticle-content-middle align-items-center justify-content-center text-center">
                                    <span>
                                            <td style="font-weight: 500;">
                                                
                                                <span>Icar: <b
                                                        class="font-weight-bold">{{data.bsUsedIcar
                                                        ? data.bsUsedIcar :
                                                        0}}</b></span><br>
                                                <span>sau: <b
                                                        class="font-weight-bold">{{data.bsUsedSau
                                                        ? data.bsUsedSau :
                                                        0}}</b></span><br>                                                    
                                                <span>others: <b
                                                        class="font-weight-bold">{{data.bsUsedOthers ?
                                                        data.bsUsedOthers :0}}</b></span><br>
                                                
                                                <br>
                                            </td>
                                        </span>
                                    </div>
                                    <div
                                    class="col-6 col-md-1 py-3 d-flex verticle-content-middle align-items-center justify-content-center text-center">
                                    <div class="w-fit-content">
                                        <span>
                                            {{data && data.bsUsedTotal ? data.bsUsedTotal : 0}}
                                        </span>
                                    </div>
                                </div>
                                <div
                                class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 py-2 d-flex align-items-center justify-content-center text-center">
                                <div class="w-fit-content">
                                    <!-- <span>
                                        {{data && data.shtorsur ? data.shtorsur : ""}}
                                    </span> -->
                                    <span>CS Prod From FS: <b
                                        class="font-weight-bold">{{data.fsProdFromBs  ? data.fsProdFromBs :0}}</b></span><br>
                                    <span>SMR Achieved: <b
                                      class="font-weight-bold">{{data.smrAchieved
                                      ? data.smrAchieved :
                                       0}}</b></span><br>
                                    <span>Achievement(%): <b
                                       class="font-weight-bold">{{data.percentAchievement
                                        ? data.percentAchievement :
                                      0}}</b></span><br>
                                    <span>CS Prod Out Of CS: <b
                                        class="font-weight-bold">{{data.fsProdOutOfFs
                                        ? data.fsProdOutOfFs :
                                        0}}</b></span><br>
                                    <span>Carry Over CS: <b
                                        class="font-weight-bold">{{data.carryOverFs
                                         ? data.carryOverFs :
                                         0}}</b></span><br>
                                    <span>Total CS Avl: <b
                                         class="font-weight-bold">{{data.totalFsAvl
                                         ? data.totalFsAvl :
                                         0}}</b></span><br>
                                </div>
                                
                            </div>
                            <div
                            class="col-6 col-md-1 py-3 d-flex verticle-content-middle align-items-center justify-content-center text-center">
                            <div class="w-fit-content">
                                <span>
                                    {{data && data.unit ? data.unit : ""}}
                                </span>
                            </div>
                        </div>
                            
                            
                            <div
                            class="col-6 col-md-1 py-3 d-flex verticle-content-middle align-items-center justify-content-center text-center">
                            <div
                                class="list-action-buttons-wrapper w-fit-content phone_view_action_btn col-6 col-sm-2 col-md-2 col-lg-2 col-xl-2 py-2 d-flex align-items-center justify-content-center text-center">
                                
                                <button class="list-action-buttons" style="cursor: pointer;"
                                    (click)="patchDataForUpdate(data)">
                                    <img src="assets/images/Vector.svg">
                                </button>
                                <button class="list-action-buttons " style="cursor: pointer;">
                                    <img src="assets/images/Vector_delete.svg"
                                        (click)="deleteDirectIndent(data.id)">
                                </button>
                            </div>
                        </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="(filterPaginateSearch && filterPaginateSearch.initialized &&(!filterPaginateSearch.itemList) || filterPaginateSearch.itemList.length < 1)"
                            class="px-2 py-3 w-100" style="height: 50px;">
                            <div class="d-flex verticle-content-middle justify-content-center w-100">
                                No Data Found.
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 px-4 px-md-3 py-1 pb-4 pl-4">
                        <app-pagination-ui></app-pagination-ui>
                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>
</div>

