.data-row-header {
    background: #E97E15 0% 0% no-repeat padding-box;
}

.data-row-header * {
    font: normal Poppins 600 15px/19px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.data-row {
    border: 1px solid #B2C7D7;
    border-top: none !important;
}

.data-row * {
    font: normal Poppins 15px/18px;
    letter-spacing: 0px;
    color: #000000;
}

.active{
    color: white !important;
    background: #e97f38;
    font-weight: 900;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    border: 1px solid #e97f38;
    margin: 4px 10px;
    min-width: 180px;
    color: black;
    border-radius: 4px;
    text-align: center;
}

span {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    cursor: pointer;
}

::ng-deep .search_txt{
    padding-right: 2rem !important;
    margin-left: 3px !important;

}

::ng-deep .yearofIndent-wrapper{
    padding-right: 0.5rem !important;
    /* margin-left: 3px !important; */

}

::ng-deep .field_text_select{
    padding-right: 0.5rem !important;
   
}