<div *ngIf="dataload" class="pt-3 pb-3 px-4">
    <form [formGroup]="ngForm" (ngSubmit)="submitForm(ngForm)">
        <div class="card">
            <div class="col-12 heading_notofied mt-3">
                Creation of Label Number for Breeder Seeds
            </div>
            <div class="row form-group pl-2 mt-2">
                <div class="col-12 pt-3 pr-2">
                    <div class="row">
                        <div class="col-md-12 col-sm-12  col-lg-2 pl-4">

                            <label for="" class="left-heading">Year of Indent </label>
                        </div>
                        <div
                            class="col-md-12 col-sm-11 pl-sm-3 pl-lg-0 ml-lg-2 pl-4 col-lg-9 ml-xs-3 px-sm-4 pr-sm-4 col-11 col-xs-3 pl-sm-4 pr-sm-4 pl-md-4 pr-mr-4 ">
                            <select class="form-select form-control" aria-label="Default select example"
                                formControlName="year_of_indent" (change)="onChangeYear(ngForm.value.year_of_indent)">
                                <option value="" disabled>Select Year of Indent</option>
                                <option *ngFor="let year of yearOfIndent" value="{{year.year_of_indent}}">
                                    {{year.year_of_indent}}-{{(year.year_of_indent + 1) - 2000}}</option>
                            </select>
                            <div class="year_of_indent errorMessage"
                                *ngIf="ngForm.controls['year_of_indent'].invalid && ngForm.controls['year_of_indent'].dirty || ngForm.controls['year_of_indent'].touched">
                                <span *ngIf="ngForm.controls['year_of_indent'].errors?.['required']"></span>
                                <span *ngIf="ngForm.controls['year_of_indent'].errors?.['pattern']">Please Select Valid
                                    Year.</span>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="col-12 pt-3 pr-2">
                    <div class="row">
                        <div class="col-md-12 col-sm-12  col-lg-2 pl-4">

                            <label for="" class="left-heading">Season </label>
                        </div>
                        <div
                            class="col-md-12 col-sm-11 pl-sm-3 pl-lg-0 ml-lg-2 pl-4 col-lg-9 ml-xs-3 px-sm-4 pr-sm-4 col-11 col-xs-3 pl-sm-4 pr-sm-4 pl-md-4 pr-mr-4 ">
                            <select class="form-select form-control" aria-label="Default select example"
                                formControlName="season" (change)="onChangeSeason(ngForm.value.season, true)">
                                <option value="" disabled>Select Season</option>
                                <option *ngFor="let data of season_list" value="{{data.season_code}}">
                                    {{data.season_name}}</option>
                            </select>
                            <div class="season errorMessage"
                                *ngIf="ngForm.controls['season'].invalid && ngForm.controls['season'].dirty || ngForm.controls['season'].touched">
                                <span *ngIf="ngForm.controls['season'].errors?.['required']"></span>
                                <span *ngIf="ngForm.controls['season'].errors?.['pattern']">Please Select Valid
                                    Season.</span>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="col-12 pt-3 pr-2">
                    <div class="row">
                        <div class="col-md-12 col-sm-12  col-lg-2 pl-4">

                            <label for="" class="left-heading">Crop Name</label>
                        </div>
                        <div
                            class="col-md-12 col-sm-11 pl-sm-3 pl-lg-0 ml-lg-2 pl-4 col-lg-9 ml-xs-3 px-sm-4 pr-sm-4 col-11 col-xs-3 pl-sm-4 pr-sm-4 pl-md-4 pr-mr-4 ">
                            <select class="form-select form-control" aria-label="Default select example"
                                formControlName="crop_code" (change)="getCropVarietyData(ngForm.value, true)">
                                <option value="" disabled>Select Crop Name</option>
                                <option *ngFor="let data of crop_name_list" value="{{data.crop_code}}">
                                    {{data.crop_name}}</option>
                            </select>
                            <div class="crop_code errorMessage"
                                *ngIf="ngForm.controls['crop_code'].invalid && ngForm.controls['crop_code'].dirty || ngForm.controls['crop_code'].touched">
                                <span *ngIf="ngForm.controls['crop_code'].errors?.['required']"></span>
                                <span *ngIf="ngForm.controls['crop_code'].errors?.['pattern']">Please Select Valid Crop
                                    Name.</span>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="col-12 pt-3 pr-2">
                    <div class="row">
                        <div class="col-md-12 col-sm-12  col-lg-2 pl-4">

                            <label for="" class="left-heading">Variety Name</label>
                        </div>
                        <div
                            class="col-md-12 col-sm-11 pl-sm-3 pl-lg-0 ml-lg-2 pl-4 col-lg-9 ml-xs-3 px-sm-4 pr-sm-4 col-11 col-xs-3 pl-sm-4 pr-sm-4 pl-md-4 pr-mr-4 ">
                            <select class="form-select form-control" aria-label="Default select example"
                                formControlName="variety_id" (change)="onVarietyChange(ngForm.value, true)">
                                <option value="" disabled>Select Variety Name</option>
                                <option *ngFor="let data of cropVarietyData" value="{{data && data.variety_id ? data.variety_id :''}}">
                                    {{data &&  data['m_crop_variety.variety_name'] ? data['m_crop_variety.variety_name'] :''}}</option>
                            </select>
                            <div class="variety_id errorMessage"
                                *ngIf="ngForm.controls['variety_id'].invalid && ngForm.controls['variety_id'].dirty || ngForm.controls['variety_id'].touched">
                                <span *ngIf="ngForm.controls['variety_id'].errors?.['required']"></span>
                                <span *ngIf="ngForm.controls['variety_id'].errors?.['pattern']">Please Select Valid
                                    Variety Name.</span>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="col-12 pt-3 pr-2">
                    <div class="row">
                        <div class="col-md-12 col-sm-12  col-lg-2 pl-4">

                            <label for="" class="left-heading">LOT Number</label>
                        </div>
                        <div
                            class="col-md-12 col-sm-11 pl-sm-3 pl-lg-0 ml-lg-2 pl-4 col-lg-9 ml-xs-3 px-sm-4 pr-sm-4 col-11 col-xs-3 pl-sm-4 pr-sm-4 pl-md-4 pr-mr-4 ">
                            <select class="form-select form-control" aria-label="Default select example"
                                formControlName="lot_number" (change)="onChangeLotNumber(ngForm.value, true)">
                                <option value="" disabled>Select LOT Number</option>
                                <option *ngFor="let data of lot_numbers"
                                    value="{{data && data.lot_number_creation && data.lot_number_creation?data.lot_number_creation.id:''}}">
                                    {{data && data.lot_number_creation && data.lot_number_creation?
                                    data.lot_number_creation.lot_number:''}}</option>
                            </select>

                            <!-- <input type="text" class="form-control" placeholder="Autogenerated"
                                formControlName="lot_number" (keypress)="checkLength($event,50)"
                                style="background: #EFEFEF 0% 0% no-repeat padding-box;opacity:1;"> -->

                            <div class="lot_number errorMessage"
                                *ngIf="ngForm.controls['lot_number'].invalid && ngForm.controls['lot_number'].dirty || ngForm.controls['lot_number'].touched">
                                <span *ngIf="ngForm.controls['lot_number'].errors?.['required']"></span>
                                <span *ngIf="ngForm.controls['lot_number'].errors?.['pattern']">Please Select Valid LOT
                                    Number.</span>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="col-12 px-4 pt-3 pb-3">
                    <hr class="separator m-0">
                </div>
                <div class="col-12 pt-4 px-4" style="background: #F5F5F5 0% 0% no-repeat padding-box;
                border: 1px solid #979797;">
                    <div class="row">
                        <div class="col-12 col-md-4 pl-0 pl-2 pb-3">
                            <div class="col-md-12 pt-2" style="margin-top: 12px;">
                                <label for="Pure Seed(%)" class="left-heading">Pure Seed(%)</label>
                            </div>
                            <div class="col-12">
                                <input type="text" style="margin-left: -3em;" class="form-control" placeholder="Autogenerated"
                                    formControlName="pure_seed"
                                    style="background: #EFEFEF 0% 0% no-repeat padding-box;opacity:1;">

                            </div>

                        </div>
                        <div class="col-12 col-md-4 pl-0 pl-2 pb-3">
                            <div class="col-12">
                                <label for="Inert Matter" class="left-heading" style="padding-left: -10em;">Inert Matter</label>
                            </div>
                            <div class="col-12">

                                <input type="text" class="form-control" placeholder="Autogenerated"
                                    formControlName="inert_matter" (keypress)="checkLength($event,50)"
                                    style="background: #EFEFEF 0% 0% no-repeat padding-box;opacity:1;">

                            </div>

                        </div>
                        <div class="col-12 col-md-4 pl-0 pl-2 pb-3">
                            <div class="col-12">
                                <label for="Germination(%)" class="left-headings">Germination(%)</label>
                            </div>
                            <div class="col-12">

                                <input type="text" class="form-control" placeholder="Autogenerated"
                                    formControlName="germination" (keypress)="isNumberKey($event)"
                                    style="background: #EFEFEF 0% 0% no-repeat padding-box;opacity:1;">
                                <!-- <div class="germination errorMessage"
                                    *ngIf="ngForm.value['germination'] > 100">
                                    <span>Please enter valid input.</span>
                                </div> -->

                            </div>

                        </div>

                        <div class="col-12 col-md-4 pl-0 pl-2 pb-3">
                            <div class="col-12">
                                <label for="Total Production" class="left-heading">LOT Size
                                    <span *ngIf="isHorticulture; else notHorticulture">(Kg)</span>
                                    <ng-template #notHorticulture>
                                        <span>(Quintal)</span>
                                    </ng-template>
                                </label>
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control" placeholder="Autogenerated"
                                    formControlName="total_production" (keypress)="checkLength($event,50)"
                                    style="background: #EFEFEF 0% 0% no-repeat padding-box;opacity:1;">

                            </div>

                        </div>

                        <div class="col-12 col-md-4 pl-0 pl-2 pb-3">
                            <div class="col-12">
                                <label for="Quantity for which the labels is to be generated"
                                    class="left-heading">Quantity for Which the Labels is to Be Generated
                                    <span *ngIf="isHorticulture; else notHorticulture2">(Kg)</span>
                                    <ng-template #notHorticulture2>
                                        <span>(Quintal)</span>
                                    </ng-template>
                                </label>
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control" placeholder="Autogenerated"
                                    formControlName="quantity_for_labels_generated" (keypress)="checkLength($event,50)"
                                    style="background: #EFEFEF 0% 0% no-repeat padding-box;opacity:1;">

                            </div>

                        </div>


                        <div class="col-12 col-md-4 pl-0 pl-2 pb-3">
                            <div class="col-12">
                                <label for="Date of Test" class="left-heading">Date of Test</label>
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control" placeholder="Autogenerated"
                                    formControlName="date_of_test" (keypress)="checkLength($event,50)"
                                    style="background: #EFEFEF 0% 0% no-repeat padding-box;opacity:1;">

                            </div>

                        </div>

                        <div class="col-12 col-md-4 pl-0 pl-2 pb-3">
                            <div class="col-12">
                                <label for="Valid Upto" class="left-heading">Valid Upto</label>
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control" formControlName="valid_upto"
                                    placeholder="Autogenerated"
                                    style="background: #EFEFEF 0% 0% no-repeat padding-box;opacity:1;">
                                <div class="errorMessage" *ngIf="isInvalidForm">
                                    <span>Please Enter Valid Date,</span>
                                </div>
                            </div>

                        </div>

                        <div class="col-12 col-md-4 pl-0 pl-2 pb-3">
                            <div class="col-12">
                                <label for="Net Weight" class="left-heading">Net Weight Per Bag (kg)</label>
                            </div>
                            <div class="col-12" style="display: inline-flex;">
                                <input type="number" min="1" step="0" class="form-control" placeholder="Enter Weight"
                                    formControlName="weight" (keypress)="isNumberKey($event)"
                                    style="background: #FFFFFF 0% 0% no-repeat padding-box;opacity:40" maxlength="5">

                                <button *ngIf="!viewMode" type="button"
                                    class="form-button generate ml-2 d-inline-flex justify-content-center verticle-content-middle mb-3"
                                    (click)="onGenerateBags(ngForm.value.weight, true)">
                                    <span class="px-1"
                                        style="font: normal normal normal 16px/25px Poppins;letter-spacing: 0px;color: #FFFFFF;opacity: 1;">
                                        Generate
                                    </span>

                                </button>

                            </div>

                        </div>
                        <div class="col-12 col-md-4 pl-0 pl-2 pb-3">
                            <div class="col-12">
                                <label for="Number of bags for which the label is to be generated"
                                    class="left-heading">Number of Bags for Which the Label is to Be
                                    Generated</label>
                            </div>
                            <div class="col-12" style="display: inline-flex;">
                                <input type="text" class="form-control" placeholder="Autogenerated"
                                    formControlName="number_of_bags" (keypress)="isOnlyNumberKey($event)"
                                    style="background: #EFEFEF 0% 0% no-repeat padding-box;opacity:1;">

                            </div>



                        </div>

                        <div class="col-12 pl-0 pl-2 pb-3">
                            <div class="col-12">
                                <label for="Generated label Numbers" class="left-heading">Generated Label
                                    Numbers</label>
                            </div>
                            <div class="col-12">
                                <p>{{temp}}</p>
                            </div>

                        </div>

                    </div>

                    <div class="" style="width: 100%; text-align: left;">
                        <div class="col-md-12 pb-3 mt-4 sub_updt_cancel_btn pl-0" *ngIf="createMode">
                            <div class="resp_btn2">
                                <button type="submit"
                                    class="form-button submit_btn d-inline-flex justify-content-center verticle-content-middle mb-3 ml-2"
                                    role="button">Submit


                                </button>
                            </div>

                            <div class="resp_btn2">
                                <button type="reset"
                                    class="form-button cancel_btn d-inline-flex justify-content-center verticle-content-middle mb-3 ml-2"
                                    role="button" routerLink="/creation-of-label-number-for-seeds-list">Cancel


                                </button>
                            </div>
                        </div>
                    </div>






                    <div *ngIf="viewMode || editMode" class="col-12 pt-3 pb-3 sub_updt_cancel_btn sub_updt_cancel_btn2"
                        style="width: 100%; text-align: right;">
                        <div class="resp_btn">
                            <button *ngIf="editMode" type="button" (click)="updateForm(ngForm)"
                                class="form-button update_btn ml-2 d-inline-flex justify-content-center verticle-content-middle mb-3"
                                role="button">
                                <span class="px-1"
                                    style="font: normal Poppins 16px/25px;letter-spacing: 0px;color: #FFFFFF;opacity: 1;">
                                    Update
                                </span>

                            </button>
                        </div>
                        <div class="resp_btn">
                            <button type="button"
                                class="form-button cancel_btn ml-2 d-inline-flex justify-content-center verticle-content-middle mb-3"
                                role="button"
                                style="box-shadow: 0px 0px 0px #CB6706; border-radius: 5px; opacity: 1;padding: 10px 30px;"
                                routerLink="/creation-of-label-number-for-seeds-list">
                                <span class="px-1"
                                    style="cursor: pointer; font: normal Poppins 16px/25px ;letter-spacing: 0px;color: #FFFFFF;opacity: 1;">
                                    Cancel
                                </span>

                            </button>
                        </div>

                    </div>
                    
                </div>

                <div class="col-12 pt-5 mt-4 px-4" *ngIf="viewMode">
                    <div class="row">

                        <table class="table table-bordered table-responsive ">
                            <thead>
                                <tr class="data-row-header">
                                    <th scope="col" class=" col-md-4 py-3" >S/N</th>
                                    <th scope="col" class=" col-md py-3">Tag Number</th>                                    
                                    <th scope="col" class=" col-md py-3">Action</th>                                    
                                </tr>
                            </thead>
                            <tbody *ngFor="let data of labelNumbArr;let dataIndex=index">
                                <tr >
                                    <td>{{dataIndex +1}}</td>
                                    <td>{{data ? data :'' }}</td>
                                    <td>
                                        <button  type="button" (click)="download(data,ngForm.value)"
                                        class="form-button update_btn ml-5 d-inline-flex justify-content-center verticle-content-middle"
                                        role="button">
                                        <span class="px-1"
                                            style="font: normal Poppins 16px/25px;letter-spacing: 0px;color: #FFFFFF;opacity: 1;">
                                            Print
                                        </span>
                                    </button>
                                    </td>                                   
                                </tr>
                            </tbody>
    
    
                        </table>

                    </div>

                    





                    
                </div>
                
               

            </div>

        </div><br><br>

    </form>
    <div style="display:none" >
        <div id="content_card">
            <div class="col d-flex justify-content-center" *ngFor="let item of carddata; let index= index" id="{{item.id}}">
                <div class="card main-rep-card m-3 mt-5 pb-2">
                    <div class="main-heading" style=" background-color: #fed16c !important">
                        <div class="row">
                            <div class="col-md-2 col-sm-12 float-right">
                                <div class="left-logo mt-2">
                                    <p> <img src="../../assets/images/left-icar-logo.png" class="left-logo-img"> </p>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-12 ">
                                <div class="heading mt-2">
                                    <span align="center" class="title">{{productiuon_name ? productiuon_name :''}}</span>
                                    <p class="address-title">{{breederaddress ? breederaddress :''}}</p>
                                    <p class="divider"><img src="../../assets/images/card-divider.png"
                                            class="diveder-image"></p>
                                    <p class="class-of">Class of Seed : Breeder Seed</p>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="right-logo mt-2">
                                    <p> <img src="../../assets/images/left-icar-logo.png" class="left-logo-img"> </p>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="input-field" style=" background-color: #fed16c !important">
                        <div class="row" style="margin: 0%;">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="row">
                                    <div class="col-md-6">
    
                                    </div>
                                    <div class="col-md-6">
    
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="row">
                                    <div class="col-md-3 pt-2"style="margin-left:-2em">
                                        <label class="input-heading" style="white-space: nowrap;margin-top: 8px;">*Pure Seed</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input style="width: 143px;
                                        height: 22px;font-size: 13px;margin-left: 3em;" type="text" value="{{item && item.purt_seed? item.purt_seed :''}} %">
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="row" style="margin: 0%;">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="row pt-2">
                                    <div class="col-md-3 pt-2 ">
                                        <span class="input-heading" style="white-space: nowrap;">Crop</span>
                                    </div>
                                    <div class="col-md-9 ">
                                        <input style="width: 147px;
                                        height: 22px;font-size: 13px;margin-left: -1em;margin-top: -1em;" type="text" value="{{item && item.crop_name ? item.crop_name :''}}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
    
                                <div class="row pt-2">
                                    <div class="col-md-3 pt-2">
                                        <span class="input-heading " style="margin-left: -3em;">*Inert matter</span>
                                    </div>
                                    <div class="col-md-9">
                                        <input style="width: 147px;
                                        height: 22px;font-size: 13px;margin-left: 0;" type="text" value="{{item && item.inert_matter ? item.inert_matter :''}} %">
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="row" style="margin: 0%;">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="row pt-2">
                                    <div class="col-md-3 pt-2">
                                        <span class="input-heading" style="white-space: nowrap;">Variety</span>
                                    </div>
                                    <div class="col-md-9">
                                        <input  style="width: 147px;
                                        height: 22px;font-size: 11px;margin-left: -1em;margin-top: -2px;"  type="text" value="{{item && item.varietyName ? item.varietyName :''}}">
                                        <!-- <input type="text" value= "{{data.Variety}}"> -->
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-lg-6 col-md-6 col-sm-12">
    
                                <div class="row">
                                    <div class="col-md-3 pt-3">
                                        <span class="input-heading" style="white-space: nowrap;margin-left: -3em;margin-top: 9em;">*Germination</span>
                                    </div>
                                    <div class="col-md-8 pt-1">
                                        <input  style="width: 154px;
                                        height: 22px;font-size: 13px;margin-top: 0;" class="" type="text" value="{{item && item.germination ? item.germination :''}} %">
                                        <!-- <input type="text" value= "{{data.germination}}"> -->
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="row" style="margin: 0%;">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="row pt-1">
                                    <div class="col-md-3 pt-3">
                                        <span class="input-heading" style="white-space: nowrap;">Lable No.</span>
                                    </div>
                                    <div class="col-md-9">
                                        <input style="width: 146px;
                                        height: 22px;font-size: 13px;margin-left: -1em;margin-top: -1px;" type="text" value="{{item && item.Label_Number ? item.Label_Number :''}}">
                                        <!-- <input type="text" value= "{{data.lableNo}}"> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="row mt-2">
                                    <div class="col-md-4 mt-2">
                                        <span class="input-heading" style="margin-left: -4em;white-space: nowrap;">*Producing Institution</span>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="" type="text" style="width: 146px !important;
                                        height: 22px;font-size: 13px;margin-left: -1em;margin-top: 0em;" value="{{productiuon_short_name ? productiuon_short_name :''}}">
                                        <!-- //<input type="text" style="width: 66px !important;" value= "{{data.producingInstitution}}"> -->
                                    </div>
                                </div>
                            </div>
    
                            <!-- <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="row">
                                    <div class="col-md-5">
                                        <span class="input-heading">**Oil Content</span>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="text" value=" %">
                                        <input type="text" value= "{{item && item.Label_Number ? item.Label_Number :''}}">
                                        <input type="text" value= "{{data.oilContent}}">
                                    </div>
                                </div>
                            </div> -->
                        </div>
    
                        <div class="row" style="margin: 0%;">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="row mt-2">
                                    <div class="col-md-3 " style="margin-top: 9px;">
                                        <span class="input-heading" style="white-space: nowrap;">Lot No.</span>
                                    </div>
                                    <div class="col-md-9">
                                        <input class="" type="text" value="{{item && item.lot_number ? item.lot_number :''}}"
                                            style=" width: 133px !important;height: 22px;font-size: 13px;margin-top: -6px;
                                            margin-left: -1em;">
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-lg-6 col-md-6 col-sm-12 pt-1">
                                <div class="row pt-3">
                                    <div class="col-md-3">
                                        <span class="input-heading" style="white-space: nowrap;margin-left: -5em;">Issuing authority name</span>
                                    </div>
                                    <div class="col-md-9">
                                        <input class="" type="text" style="width: 157px !important;margin-top:-2em;height: 22px;font-size: 12px;" value="{{contactPersonName ? contactPersonName :''}}">
                                        <!-- <input type="text" style="width: 66px !important;" value= "{{data.issuingAuthorityname}}"> -->
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="row">
                                    <div class="col-md-7">
                                        <span class="input-heading">*Producing Institution</span>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" style="width: 66px !important;margin-top: -5vh;" value="{{productiuon_name ? productiuon_name :''}}">
                                        <input type="text" style="width: 66px !important;" value= "{{data.producingInstitution}}">
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="row" style="margin: 0%;">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="row">
                                    <div class="col-md-3" style="margin-top: 10px;">
                                        <span class="input-heading" style="white-space: nowrap;">Date of test</span>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" style="width: 147px;
                                        height: 22px;font-size: 13px;margin-top: -3px" value="{{item && item.date_of_test ? item.date_of_test:''}}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
    
                                <div class="row">
                                    <div class="col-md-3 pt-2">
                                        <span class="input-heading" style="white-space: nowrap;margin-left:-1em">Designation</span>
                                    </div>
                                    <div class="col-md-9" style="margin-top: 2px;">
                                        <input  style="width: 156px;
                                        height: 22px;font-size: 12px;"
                                        type="text" class="" value="{{designationname ? designationname :''}}">
    
                                    </div>
                                </div>
                            </div>
    
                            <!-- <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="row">
                                    <div class="col-md-8">
                                        <span class="input-heading">Issuing authority name</span>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" style="width: 42px !important;" value="{{contactPersonName ? contactPersonName :''}}">
                                     
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="row" style="margin: 0%;">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="row">
                                    <div class="col-md-5">
    
                                    </div>
                                    <div class="col-md-7">
    
                                    </div>
                                </div>
                            </div>
    
                            <!-- <div class="col-lg-6 col-md-6 col-sm-12">
    
                                <div class="row">
                                    <div class="col-md-5">
                                        <span class="input-heading">Designation</span>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="text" value="{{designationname ? designationname :''}}">
    
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
    
                    <div class="bar-code-section" style=" background-color: #fed16c !important">
                        <div class="row">
                            <div class="col-md-2 col-lg-3 col-sm-12 pb-5 mb-4">
                                <div class="QR-code">
                                    <div style=" margin-top:7px;
                                        margin-left: 22px;">
                                        <qrcode [qrdata]="'https://seedtrace.gov.in/tracetag?tagNo='+(item.Label_Number)"
                                            [allowEmptyString]="true"
                                            [ariaLabel]="'QR Code image with the following content...'" [cssClass]="'top'"
                                            [colorDark]="'#000000ff'" [colorLight]="'#fed16c'" [elementType]="'canvas'"
                                            [errorCorrectionLevel]="'M'" [imageSrc]="" [imageHeight]="80" [imageWidth]="80"
                                            [margin]="2" [scale]="1" [title]="'A custom title attribute'" [width]="15">
                                        </qrcode>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-md-2 col-lg-6 col-sm-12">
                                <div class="bar-code mt-3">
                                    <div style=" margin-top: -18px;margin-left: -8px;" class="bar-code-img">
                                        <ngx-barcode
                                            [bc-value]="'https://seedtrace.gov.in/tracetag?tagNo='+(item.Label_Number)"
                                            [bc-display-value]="true" [bc-width]=".3" [bc-height]="14"
                                            [bc-background]="'#fed16c'" [bc-font-size]="4" [bc-margin-top]="1"
                                            [bc-margin-bottom]="1" [bc-margin-left]="1" [bc-margin-right]="1"></ngx-barcode>
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-md-2 col-lg-3 col-sm-12 pt-2 pb-4">
                                <!-- <div class="QR-code">
                                        <p> <img src="../../assets/images/qr.png" class="qr-code-img"> </p>
                                </div> -->
                            </div>
                            <div class="col-md-2 col-lg-3 col-sm-12 pt-2 pb-4">
                                <!-- <div class="QR-code">
                                        <p> <img src="../../assets/images/qr.png" class="qr-code-img"> </p>
                                </div> -->
                            </div>
                            <div class="col-md-2 col-lg-3 col-sm-12 pt-2 pb-4">
                                <!-- <div class="QR-code">
                                        <p> <img src="../../assets/images/qr.png" class="qr-code-img"> </p>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>