<div class="pt-3 pb-3 px-4 pl-2 pr-2">
    <form [formGroup]="ngForm">


        <div class=" card">
            <div class="col-12 heading mt-3 pb-3 pl-3">
                {{title}}
            </div>
            <!-- form-row -->
            <div class="row form-group pl-2">

                <!-- <div class="col-12 pt-2 px-4 ">
                    <div class="row">
                        <div class="col-lg-2 col-sm-12 col-md-2 pl-3"
                            *ngIf='isView || isEdit'>

                            <label for="" class="left-heading">SPP Code</label>
                        </div>
                        <div class="col-lg-4 col-sm-12 col-md-4 mr-2"
                            *ngIf='isView || isEdit'>
                            <input type="text" class="form-control"
                                placeholder="Enter SPP Code"
                                formControlName="code"
                                (keydown)="checkLength($event,50)">
                                <div class="pl-0 toggle-button" ngbDropdown>
                                    <img src="assets/images/16.svg" alt=""
                                        srcset="">
                                </div>
                        </div>
                        <div class=" col-lg-2 col-sm-12 col-md-2 pl-3">


                        </div>
                        <div class="col-lg-4 col-sm-12 col-md-4 in_sel_box
                            mr-2">
                        </div>

                    </div>

                </div> -->




                <div class="col-12 pt-2 px-4 ">
                    <div class="row">
                        <div class="col-lg-2 col-sm-12 col-md-2 pl-3">

                            <label for="" class="left-heading">Name of the
                                Institute</label>
                        </div>
                        <div class="col-lg-4 col-sm-12 col-md-4 mr-2">
                            <input type="text" class="form-control"
                                placeholder="Enter a Institute Name"
                                [ngClass]=" disabledfield ? 'form-crop' : ''"
                                formControlName="plant_name"
                                (keypress)="isAlfa($event)"
                                (paste)="onPaste($event,'plant_name','50')"
                                (keypress)="checkLength($event,50)">
                            <div class="plant_name errorMessage"
                                *ngIf="submitted ||
                                ngForm.controls['plant_name'].invalid &&
                                ngForm.controls['plant_name'].dirty ||
                                ngForm.controls['plant_name'].touched">
                                <span
                                    *ngIf="ngForm.controls['plant_name'].errors?.['required']">Please
                                    Enter a
                                    Institute
                                    Name.</span>
                                <span
                                    *ngIf="ngForm.controls['plant_name'].errors?.['pattern']">Please
                                    Enter a Valid
                                    Institute Name.</span>
                            </div>
                            <div class="pl-0 toggle-button" ngbDropdown>
                                <img src="assets/images/16.svg" alt=""
                                    srcset="">
                            </div>
                        </div>
                        <div class=" col-lg-2 col-sm-12 col-md-2 pl-3 pl-lg-4" *ngIf='isView || isEdit'>

                            <label for="" class="left-heading">SPP Code</label>
                        </div>
                        <div class="col-lg-4 col-sm-12 col-md-4 in_sel_box mr-lg-0 mr-2"  *ngIf='isView || isEdit'>
                            <input type="text" class="form-control" placeholder="Enter SPP Code"
                                formControlName="code" (keydown)="checkLength($event,50)">
                        
                            <div class="pl-0 toggle-button" ngbDropdown>
                                <img src="assets/images/16.svg" alt="" srcset="">
                            </div>
                        </div>
                       
                    </div>
                </div>


                <div class="col-12 pt-2 px-4 ">
                    <div class="row">
                        <div class="col-lg-2 col-sm-12 col-md-2 pl-3">

                            <label for="" class="left-heading">Name of SPP
                                </label>
                        </div>
                        <div class="col-lg-4 col-sm-12 col-md-4 mr-2">
                            <input type="text" class="form-control"
                                placeholder="Enter a Name of SPP"
                                [ngClass]=" disabledfield ? 'form-crop' : ''"
                                formControlName="name_of_spa"
                                (keypress)="isAlfa($event)"
                                (paste)="onPaste($event,'name_of_spa','50')"
                                (keypress)="checkLength($event,50)">
                            <div class="name_of_spa errorMessage"
                                *ngIf="submitted ||
                                ngForm.controls['name_of_spa'].invalid &&
                                ngForm.controls['name_of_spa'].dirty ||
                                ngForm.controls['name_of_spa'].touched">
                                <span
                                    *ngIf="ngForm.controls['name_of_spa'].errors?.['required']">Please Enter a Name of SPP.</span>
                           
                            </div>
                            <div class="pl-0 toggle-button" ngbDropdown>
                                <img src="assets/images/16.svg" alt=""
                                    srcset="">
                            </div>
                        </div>
                        <!-- [ngClass]="isView || isEdit ?'col-sm-12 col-md-4 in_sel_box ml-lg-1' :'col-sm-12 col-md-4 in_sel_box'" -->
                       

                        <!-- (blur)="onBlurCropName($event)" -->
                        <!-- <div class="col-sm-12 col-md-2  pl-3">
                            <label for="" class="left-heading">Short Name/Display Name</label>
                        </div>
                        <div class="col-sm-12 col-md-4 in_sel_box mr-2">
                            <input type="text" name="begin" placeholder="Enter Short Name/Display Name"
                                class="form-control" formControlName="short_name"
                                (keypress)="checkAlphaforShortname($event)" (keypress)="checkLength($event,5)"
                                [ngClass]="{'invalid': submitted && ngForm.controls['short_name'].errors }">
                            <div class="short_name errorMessage"
                                *ngIf=" ngForm.controls['short_name'].invalid && ngForm.controls['short_name'].dirty || ngForm.controls['short_name'].touched">
                                <span *ngIf="ngForm.controls['short_name'].errors?.['required']"></span>
                                <span *ngIf="ngForm.controls['short_name'].errors?.['pattern']">Please Enter a Valid
                                    Short Name/Display Name.</span>
                            </div>
                            <div class="short_name errorMessage"
                                *ngIf="submitted || ngForm.controls['short_name'].invalid && (ngForm.controls['short_name'].dirty || ngForm.controls['short_name'].touched)">
                                <span *ngIf=" ngForm.controls['short_name'].errors?.['required']">
                                    Please Enter Short Name/Display Name.<br>
                                </span>
                            </div>
                            <div class="pl-0 toggle-button" ngbDropdown>
                                <img src="assets/images/16.svg" alt="" srcset="">
                            </div>
                             <div *ngIf="errorMsg">
                                <span class="text-danger">{{alreadyExistsMsg}}</span>
                            </div> -->
                        <!-- </div> -->

                        <div class=" col-lg-2 col-sm-12 col-md-2 pl-3">

                            <label for="" class="left-heading">Address of SPP</label>
                        </div>
                        <div class="col-lg-4 col-sm-12 col-md-4 in_sel_box mr-lg-0 mr-2"
                        
                        >
                            <input type="text" class="form-control"
                                placeholder="Enter Address of SPP"
                                formControlName="address"
                                (keydown)="checkLength($event,50)">
                            <div class="address errorMessage"
                                *ngIf="submitted ||
                                ngForm.controls['address'].invalid &&
                                (ngForm.controls['address'].dirty ||
                                ngForm.controls['address'].touched)">
                                <span *ngIf="
                                    ngForm.controls['address'].errors?.['required']">
                                    Please Enter Address. <br>
                                </span>


                            </div>
                            <div class="pl-0 toggle-button" ngbDropdown>
                                <img src="assets/images/16.svg" alt=""
                                    srcset="">
                            </div>
                        </div>

                    </div>
                </div>


                <div class="col-12 pt-0 px-4">
                    <div class="row">
                        <!-- <div class="col-lg-2 col-sm-12 col-md-2 pl-3">

                            <label for="" class="left-heading">Category of Plant</label>
                            <label for="" class="left-heading">Short Name/Display Name</label>
                        </div> -->
                        <!-- <div class="col-lg-4 col-sm-12 col-md-4 mr-2">
                            <select class="form-select form-control" formControlName="category"
                                [ngClass]="{'invalid': submitted && ngForm.controls['category'].errors }"
                                aria-label="Default select example">
                                <option value="" disabled>Select Category Of Plant</option>
                                <option value="1">ICAR Institute</option>
                                <option value="2">National Research Centre</option>
                                <option value="3">Project Directorates</option>
                                <option value="4">State Seed Corporations</option>
                                <option value="5">State Agriculture University</option>
                                <option value="6">State Department of Agriculture</option>
                                <option value="7">National Seed Coorporation (NSC)</option>
                                <option value="8">Private Company</option>
                                <option value="9">Seed Division of DA&FW</option>
                            </select>
                            <div class="category errorMessage" *ngIf="submitted   ">
                                <span [hidden]="ngForm.controls['category'].value!=0">
                                    Please Select Category Agency. <br>
                                </span>


                            </div>
                            <div class="pl-0 toggle-button" ngbDropdown>
                                <img src="assets/images/16.svg" alt="" srcset="">
                            </div> -->
                        <!-- <input type="text" name="begin" placeholder="Enter Short Name/Display Name"
                                class="form-control" formControlName="display_name" (keypress)="checkAlpha($event)"
                                (keypress)="checkLength($event,5)"
                                [ngClass]="{'invalid': submitted && ngForm.controls['display_name'].errors }">
                            <div class="display_name errorMessage"
                                *ngIf=" ngForm.controls['display_name'].invalid && ngForm.controls['display_name'].dirty || ngForm.controls['display_name'].touched">
                                <span *ngIf="ngForm.controls['display_name'].errors?.['required']"></span>
                                <span *ngIf="ngForm.controls['display_name'].errors?.['pattern']">Please Enter a Valid
                                    Short Name/Display Name</span>
                            </div>
                            <div class="display_name errorMessage"
                                *ngIf="submitted || ngForm.controls['display_name'].invalid && (ngForm.controls['display_name'].dirty || ngForm.controls['display_name'].touched)">
                                <span *ngIf=" ngForm.controls['display_name'].errors?.['required']">
                                    Please Enter Short Name/Display Name <br>
                                </span>
                            </div>
                            <div *ngIf="errorMsg">
                                <span class="text-danger">{{alreadyExistsMsg}}</span>
                            </div> -->
                        <!-- </div> -->


                        <div class=" col-lg-2 col-sm-12 col-md-2 pl-3">

                            <label for="" class="left-heading">State</label>
                        </div>
                        <div class="col-sm-12 col-md-4 mr-2">
                            <div ngbDropdown class="d-inline-block w-100 "
                            
                            >
                                <button class="btn takeplacholder w-100 crop toggle-button"
                                    [ngClass]=" disabledfield  ? 'disabledfield' : ''" id="state" ngbDropdownToggle
                                    style="text-align: left;font-weight:400;">{{selected_state && (selected_state.length>30) ? (selected_state.substring(0,30)+'...'):selected_state? selected_state :'Select State'}}</button>

                                <div class="dropdown-menu w-100" ngbDropdownMenu="state" aria-labelledby="sortMenu">
                                    <input type="text" class="form-control px-4"  formControlName="state_text" >
                                    <button class="dropdown-item" *ngFor="let data of stateList"
                                        (click)="state_select(data)" #dropdownItem [attr.data-parent-name]="'state'">
                                        {{data.state_name}}
                                        <!-- <input type="hidden" formControlName="crop_code"> -->
                                    </button>
                                    <!-- <button class="dropdown-item"(click)="cropName('Juice')">Juice</button>
                                  <button class="dropdown-item" (click)="cropName('Juice')">SugarCane</button> -->
                                </div>

                            </div>
                            <div class="pl-0 toggle-button" ngbDropdown
                                [ngClass]=" disabledfield ? 'disabledfield' : ''">
                                <i class="fa-solid fa-angle-down downicon" (click)="csClick()"></i>
                            </div>
                            <!-- <select class="form-select form-control"
                                formControlName="state_id"
                                [ngClass]=" disabledfield ? 'form-crop' : ''"
                                aria-label="Default select example">
                                <option value="" disabled>Select State</option>
                                <option *ngFor="let state of stateList"
                                    value="{{state.state_code}}">
                                    {{state.state_name}}</option>
                            </select> -->

                            <div class="state_id errorMessage "
                                *ngIf="submitted ||
                                ngForm.controls['state_id'].invalid &&
                                (ngForm.controls['state_id'].dirty ||
                                ngForm.controls['state_id'].touched)">
                                <span *ngIf="
                                    ngForm.controls['state_id'].errors?.['required']">
                                    Please Select State. <br>
                                </span>
                            </div>
                            <div class="pl-0 toggle-button" ngbDropdown>
                                <img src="assets/images/16.svg" alt=""
                                    srcset="">
                            </div>
                        </div>

                        <div class=" col-lg-2 col-sm-12 col-md-2">

                            <label for="" class="left-heading">District</label>
                        </div>
                        <div class="col-lg-4 col-sm-12 col-md-4 in_sel_box mr-lg-0 mr-2">
                              <div ngbDropdown class="d-inline-block w-100 "
                            
                            >
                                <button class="btn takeplacholder w-100 crop toggle-button"
                                    [ngClass]=" disabledfield  ? 'disabledfield' : ''" id="district" ngbDropdownToggle
                                    style="text-align: left;">{{selected_district && (selected_district.length>30) ? (selected_district.substring(0,30)+'...'):selected_district? selected_district :'Select District'}}</button>

                                <div class="dropdown-menu w-100" ngbDropdownMenu="district" aria-labelledby="sortMenu">
                                    <input type="text" class="form-control px-4"  formControlName="district_text" >
                                    <button class="dropdown-item" *ngFor="let data of districtList"
                                        (click)="district_select(data)" #dropdownItem [attr.data-parent-name]="'district'">
                                        {{data.district_name}}
                                        <!-- <input type="hidden" formControlName="crop_code"> -->
                                    </button>
                                    <!-- <button class="dropdown-item"(click)="cropName('Juice')">Juice</button>
                                  <button class="dropdown-item" (click)="cropName('Juice')">SugarCane</button> -->
                                </div>

                            </div>
                            <div class="pl-0 toggle-button" ngbDropdown
                                [ngClass]=" disabledfield ? 'disabledfield' : ''">
                                <i class="fa-solid fa-angle-down downicon" (click)="cdClick()"></i>
                            </div>
                            <!-- <select class="form-select form-control"
                                formControlName="district_id"
                                [ngClass]=" disabledfield ? 'form-crop' : ''"
                                aria-label="Default select example">
                                <option value="" disabled>Select District</option>
                                <option *ngFor="let district of districtList"
                                    value="{{district.district_code}}">
                                    {{district.district_name}}</option>
                            </select> -->

                            <div class="district_id errorMessage "
                                *ngIf="submitted ||
                                ngForm.controls['district_id'].invalid &&
                                (ngForm.controls['district_id'].dirty ||
                                ngForm.controls['district_id'].touched)">
                                <span *ngIf="
                                    ngForm.controls['district_id'].errors?.['required']">
                                    Please Select District. <br>
                                </span>
                            </div>
                            <div class="pl-0 toggle-button" ngbDropdown>
                                <img src="assets/images/16.svg" alt=""
                                    srcset="">
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-12 pt-0 px-4">
                    <div class="row">
                        <!-- <div class=" col-lg-2 col-sm-12 col-md-2 pl-3">

                            <label for="" class="left-heading">Enter Pincode</label>
                        </div>
                        <div class="col-lg-4 col-sm-12 col-md-4 mr-2">
                            <input type="number" class="form-control" formControlName="pincode"
                                placeholder="Enter Pincode" (keydown)=" checkLength($event, 6)" minlength="6"
                                maxlength="6" autocomplete="off" (paste)="pasteNumber($event,'pincode',6)"> -->
                        <!-- <div class="pincode errorMessage"
                            *ngIf="ngForm.controls['pincode'].invalid && ngForm.controls['pincode'].dirty || ngForm.controls['pincode'].touched">
                                <span *ngIf="ngForm.controls['pincode'].errors?.['required']"></span>
                                <span *ngIf="ngForm.controls['pincode'].errors?.['pattern']">Please Enter a Valid Pincode</span>
                            </div> -->
                        <!-- <div class="pincode errorMessage"
                                *ngIf="submitted || ngForm.controls['pincode'].invalid && (ngForm.controls['pincode'].dirty || ngForm.controls['pincode'].touched)">
                                <span *ngIf=" ngForm.controls['pincode'].errors?.['required']">
                                    Please Enter Pincode.<br>
                                </span>
                            </div>
                            <div class="pl-0 toggle-button" ngbDropdown>
                                <img src="assets/images/16.svg" alt="" srcset="">
                            </div>
                        </div> -->
                        <div class=" col-lg-2 col-sm-12 col-md-2 pl-3">

                            <label for="" class="left-heading">Name of SPP
                                In-Charge</label>
                        </div>
                        <div class="col-lg-4 col-sm-12 col-md-4 mr-2">
                            <input type="text" class="form-control"
                                placeholder="Enter Name of SPP In-Charge"
                                formControlName="contact_person_name"
                                (keypress)="isAlfa($event)"
                                (keypress)="checkLength($event,50)"
                                (paste)="onPaste($event,'contact_person_name','50')">
                            <div class="contact_person_name errorMessage"
                                *ngIf="submitted
                                ||ngForm.controls['contact_person_name'].invalid
                                && ngForm.controls['contact_person_name'].dirty
                                ||
                                ngForm.controls['contact_person_name'].touched">
                                <span
                                    *ngIf="ngForm.controls['contact_person_name'].errors?.['required']">Please
                                    Enter
                                    Name of SPP In-Charge.</span>
                                <span
                                    *ngIf="ngForm.controls['contact_person_name'].errors?.['pattern']">Please
                                    Enter a
                                    Valid Name of SPP In-Charge.</span>
                            </div>
                            <div class="pl-0 toggle-button" ngbDropdown>
                                <img src="assets/images/16.svg" alt=""
                                    srcset="">
                            </div>
                        </div>

                        <div class=" col-lg-2 col-sm-12 col-md-2 pl-3">

                            <label for="" class="left-heading">Designation</label>
                        </div>
                        <div class="col-lg-4 col-sm-12 col-md-4 mr-2
                            in_sel_box">
                            <select class="form-select form-control for-downicon-remove"
                                formControlName="contact_person_designation_id"
                                aria-label="Default select example">
                                <option value="" disabled>Select
                                    Designation</option>
                                <!-- <option value="1">ICAR Institute</option> -->
                                <option [value]="data.id" *ngFor="let data of
                                    designationList">{{data.name}}</option>
                            </select>
                            <div class="pl-0 toggle-button" ngbDropdown>
                                <i class="fa-solid fa-angle-down downicon"></i>
                            </div>

                            <div class="contact_person_designation_id
                                errorMessage"
                                *ngIf="submitted ||
                                ngForm.controls['contact_person_designation_id'].invalid
                                &&
                                ngForm.controls['contact_person_designation_id'].dirty
                                ||
                                ngForm.controls['contact_person_designation_id'].touched">
                                <span
                                    *ngIf="ngForm.controls['contact_person_designation_id'].errors?.['required']">Please
                                    Select Designation.</span>
                                <span
                                    *ngIf="ngForm.controls['contact_person_designation_id'].errors?.['pattern']">Please
                                    Select Designation.</span>
                            </div>
                            <!-- <div class="pl-0 toggle-button" ngbDropdown>
                                <img src="assets/images/16.svg" alt="" srcset="">
                            </div> -->
                        </div>
                    </div>
                </div>



                <div class="col-12 pt-0 px-4">
                    <div class="row">
                        <!-- <div class="col-lg-2 col-sm-12 col-md-2 pl-3 mt-4 mt-md-0">

                            <label for="" class="left-heading">E-mail Address</label>
                        </div>
                        <div class="col-lg-4 col-sm-12 col-md-4 mr-2">
                            <input type="text" class="form-control"
                                placeholder="Enter E-mail ID"
                                formControlName="email"
                                (keypress)="checkLength($event,50)"
                                maxlength="50">
                            <div class="email errorMessage"
                                *ngIf="ngForm.controls['email'].invalid &&
                                ngForm.controls['email'].dirty ||
                                ngForm.controls['email'].touched">
                                <span
                                    *ngIf="ngForm.controls['email'].errors?.['pattern']">Please
                                    Enter a Valid E-mail
                                    ID.</span>
                            </div>
                            <div class="email errorMessage"
                                *ngIf="submitted ||
                                ngForm.controls['email'].invalid &&
                                (ngForm.controls['email'].dirty ||
                                ngForm.controls['email'].touched)">
                                <span *ngIf="
                                    ngForm.controls['email'].errors?.['required']">
                                    Please Enter E-mail ID. <br>
                                </span>


                            </div>
                          
                        </div> -->
                        <div class="col-lg-2 col-sm-12 col-md-2 pl-3 mt-4
                            mt-md-0">

                            <label for="" class="left-heading">Mobile Number</label>
                        </div>
                        <div class="col-lg-4 col-sm-12 col-md-4 
                            mr-2">
                            <div class="input-group mb-2">

                                <input type="number" class="form-control"
                                    [ngClass]="{'invalid': submitted &&
                                    ngForm.controls['mobile_number'].errors }"
                                    id="inlineFormInputGroup" placeholder="Enter Mobile Number"
                                    formControlName="mobile_number"
                                    (keydown)="checkNumber($event);
                                    checkLength($event, 10)" minlength="10"
                                    maxlength="10" autocomplete="off">
                            </div>
                            <!-- <input type="text" class="form-control" placeholder="Select Contact Person Designation" formControlName="year_release"> -->
                            <!-- <div class="col-12"> -->
                            <div class="mobile_number errorMessage" style="margin-top: -7px;"
                                *ngIf="ngForm.controls['mobile_number'].invalid
                                && ngForm.controls['mobile_number'].dirty ||
                                ngForm.controls['mobile_number'].touched">
                                <!-- <span *ngIf="ngForm.controls['mobile'].errors?.['required']"></span> -->
                                <span
                                    *ngIf="ngForm.controls['mobile_number'].errors?.['minlength']">Please
                                    Enter a
                                    Valid
                                    Mobile Number.</span>
                            </div>
                            <div class="mobile_number errorMessage" style="margin-top: -7px"
                                *ngIf="submitted ||
                                ngForm.controls['mobile_number'].invalid &&
                                (ngForm.controls['mobile_number'].dirty ||
                                ngForm.controls['mobile_number'].touched)">
                                <span *ngIf="
                                    ngForm.controls['mobile_number'].errors?.['required']">
                                    Please Enter Mobile Number. <br>
                                </span>
                                <span *ngIf="
                                    ngForm.controls['mobile_number'].errors?.['pattern']">
                                    Invalid Mobile Number. <br>
                                </span>
                            </div>
                            <!-- <div class="pl-0 toggle-button" ngbDropdown>
                                <img src="assets/images/16.svg" alt="" srcset="">
                            </div> -->
                        </div>

                    </div>
                </div>


                <!-- <div class="col-12 pt-0 px-4 mt-2 mt-md-0">
                    <div class="row"> -->

                        <!-- <div class="col-lg-2 col-sm-12 col-md-2 pl-3 mt-4 mt-md-0">

                            <label for="" class="left-headings">Phone Number</label>
                        </div>
                        <div class="col-lg-4 col-sm-12 col-md-4 in_sel_box mr-2">
                            <div class="input-group mb-2">

                                <input type="number" class="form-control" id="inlineFormInputGroup"
                                    formControlName="phone_no" (keydown)="checkNumber($event); checkLength($event, 10)"
                                    minlength="10" maxlength="10" autocomplete="off"
                                    [placeholder]="isView || isEdit && !response_phone_number ? '' :'Enter Phone Number' ">
                            </div>

                            <div class="phone_no errorMessage"
                                *ngIf="submitted || ngForm.controls['phone_no'].invalid && (ngForm.controls['phone_no'].dirty || ngForm.controls['phone'].touched)">
                                <span *ngIf=" ngForm.controls['phone_no'].errors?.['pattern']">
                                    Invalid Phone Number. <br>
                                </span>
                            </div>
                            <div class="pl-0 toggle-button" ngbDropdown>
                                <img src="assets/images/16.svg" alt="" srcset="">
                            </div>
                            <input type="text" class="form-control" placeholder="Select Contact Person Designation" formControlName="year_release"> -->
                        <!-- <div class="col-12"> -->

                        <!-- </div> -->

                    <!-- </div>
                </div> -->

                <div class="col-12 pt-0 pt-md-3 px-4">
                    <div class="row">
                        <div class=" col-lg-2 col-sm-12 col-md-2 pl-3 mt-3 mt-md-0">

                            <label for="" class="left-headings">Latitude</label>
                        </div>
                        <div class="col-lg-4 col-sm-12 col-md-4 mr-2">
                            <input type="number" id="latitudeplant" name="latitudse" class="form-control"
                            formControlName="latitude" placeholder="Enter Latitude"
                            (paste)="onPasteNumber($event,'latitude','10')"
                            (keypress)="checkLength($event,10)"  (keypress)="checkDecimal($event)" 
                          >
                          <!-- <input type="text" id="latitudeplant" name="latitudse"
                                    class="form-control" placeholder="Enter Latitude"                                    
                                    formControlName="latitude" (keypress)="checkDecimal($event)"
                                    (paste)="onPasteNumber($event,'latitude','10')"
                                    (keypress)="checkLength($event,10)"> -->
                                    <!-- Prakash code -->
                                    <!-- <input type="text" class="form-control"
                                    formControlName="latitude"
                                    placeholder="Enter Latitude"
                                    (keydown)="checkDecimal($event);
                                    checkLength($event, 12)"
                                    minlength="12" maxlength="12"> -->

                            <div class="latitude errorMessage "
                                *ngIf="submitted ||
                                ngForm.controls['latitude'].invalid &&
                                (ngForm.controls['latitude'].dirty ||
                                ngForm.controls['latitude'].touched)">
                                <span *ngIf="
                                    ngForm.controls['latitude'].errors?.['required']">
                                    Please Enter Latitude. <br>
                                </span>
                                <span *ngIf="
                                    ngForm.controls['latitude'].errors?.['pattern']">
                                    Please Enter Valid Latitude. <br>
                                </span>
                                <span *ngIF="LatituteError">
                                    {{LatituteError}}. <br>
                                </span>
                            </div>
                            <div class="latitude errorMessage "
                                *ngIf="submitted && LatituteError &&
                                !ngForm.controls['latitude'].errors?.['required'] || !ngForm.controls['latitude'].errors">
                                <span>
                                    {{LatituteError}}. <br>
                                </span>
                            </div>
                            <!-- <div class="pl-0 toggle-button" ngbDropdown>
                                <img src="assets/images/16.svg" alt=""
                                    srcset="">
                            </div> -->


                        </div>
                        <div class=" col-lg-2 col-sm-12 col-md-2 pl-3 mt-4
                        mt-md-0">

                            <label for="" class="left-headings">Longitude</label>
                        </div>
                        <div class="col-lg-4 col-sm-12 col-md-4 in_sel_box
                        mr-2">
                            <!-- <input type="text" class="form-control" formControlName="longitude"
                                placeholder="Enter Longitude" (keydown)="checkDecimal($event); checkLength($event, 12)"
                                minlength="12" maxlength="12"> -->
                                <input type="number" id="longitudeplant" name="longitudeplant" class="form-control"
                                formControlName="longitude" placeholder="Enter longitude"
                                (paste)="onPasteNumber($event,'longitude','10')"
                                (keypress)="checkLength($event,10)"  (keypress)="checkDecimal($event)" >


                                <!-- <div class="col-lg-4 col-sm-12 col-md-4 in_sel_box
                                mr-2">
                                <input type="text" class="form-control"
                                    formControlName="longitude"
                                    placeholder="Enter Longitude"
                                    (keydown)="checkDecimal($event);
                                    checkLength($event, 12)"
                                    minlength="12" maxlength="12">
                                     -->
                            <div class="longitude errorMessage "
                                *ngIf="submitted ||
                                ngForm.controls['longitude'].invalid &&
                                (ngForm.controls['longitude'].dirty ||
                                ngForm.controls['longitude'].touched)">
                                <span *ngIf="
                                    ngForm.controls['longitude'].errors?.['required']">
                                    Please Enter Longitude. <br>
                                </span>
                                <span *ngIf="
                                    ngForm.controls['longitude'].errors?.['pattern']">
                                    Please Enter Valid Longitude. <br>
                                </span>

                            </div>
                            <div class="latitude errorMessage "
                                *ngIf="submitted && LongituteError &&
                                !ngForm.controls['longitude'].errors?.['required']|| !ngForm.controls['longitude'].errors">
                                <span>
                                    {{LongituteError}} <br>
                                </span>
                            </div>
                            <div class="pl-0 toggle-button" ngbDropdown>
                                <img src="assets/images/16.svg" alt=""
                                    srcset="">
                            </div>
                        </div>

                    </div>
                </div>
                <!-- <div class=" col-lg-2 col-sm-12 col-md-2 pl-4" *ngIf='isView ||
                    isEdit'>

                    <label for="" class="left-heading">SPP Code</label>
                </div>
                <div class="col-lg-4 col-sm-12 col-md-4 in_sel_box ml-1"
                    *ngIf='isView || isEdit'>
                    <input type="text" class="form-control" placeholder="Enter
                        SPP Code"
                        formControlName="code"
                        (keydown)="checkLength($event,50)">

                    <div class="pl-0 toggle-button" ngbDropdown>
                        <img src="assets/images/16.svg" alt="" srcset="">
                    </div>
                </div> -->


                <div class="col-12 pt-0 px-4">
                    <div class="row">
                        <div class=" col-lg-2 col-sm-12 col-md-2 pl-3">


                        </div>
                        <div class="col-lg-4 col-sm-12 col-md-4 "
                            [hidden]="isView" style="margin-top: -2em;">
                            <div>
                                <a [ngClass]=" disabledfield ? 'disabledfield' :
                                    ''" href="https://www.latlong.net/"
                                    target="_blank">
                                    <span> Find Your Latitude and Longitude</span>
                                </a>
                                <a [ngClass]=" disabledfield ? 'disabledfield' :
                                    ''" href="https://www.latlong.net/"
                                    target="_blank" class="pl-3">

                                    <img
                                        src="../../../assets/images/longitude.png"
                                        alt="" srcset="" height="40px">
                                </a>
                            </div>
                        </div>
                        <div class=" col-lg-2 col-sm-12 col-md-2 pl-3">

                            <!-- <label for="" class="left-heading">Longitude</label> -->
                        </div>
                        <div class="col-lg-4 col-sm-12 col-md-4 in_sel_box">
                        </div>

                    </div>
                </div>


                <!-- start add status -->
                <div *ngIf="isEdit || isView" class="col-12 pt-0">
                    <div class="row">
                        <div class="col-sm-2 pl-4 pt-0">
                            <label for="" class="left-heading">Status</label>
                        </div>
                        <div class="col-sm-9 pt-1">
                            <div class="row">
                                <div class="col-10">
                                    <div class="row">
                                        <div class="col-1">
                                            <label class="switch">
                                                <input type="checkbox"
                                                    (change)="toggleDisplayDiv()"
                                                    formControlName="status_toggle"
                                                    checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                        <div class="col-10">
                                            <div class="row">
                                                <div class="col-12
                                                    status_in_act">
                                                    <div [hidden]="!isShowDiv">Inactive</div>
                                                </div>
                                                <div class="col-12
                                                    status_in_act">
                                                    <div [hidden]="isShowDiv">Active</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- add status finish -->
                <!-- buttons -->

                <div class="col-md-12 pb-3 mt-4 sub_updt_cancel_btn"
                    *ngIf="!isEdit && !isView">
                    <div class="resp_btn">
                        <button (click)="getMinManLongLang()"
                            class="form-button submit_btn ml-2 d-inline-flex
                            justify-content-center verticle-content-middle
                            mb-3">Submit</button>
                    </div>
                    <div class="resp_btn">
                        <button
                            class="form-button cancel_btn ml-2 d-inline-flex
                            justify-content-center verticle-content-middle mb-3"
                            routerLink="/add-plant-list">Cancel</button>
                    </div>
                </div>
                <div class="col-12 pb-3 mt-4 sub_updt_cancel_btn"
                    *ngIf="isEdit">
                    <div class="resp_btn">
                        <button (click)=" getMinManLongLang();"
                            class="form-button update_btn ml-2 d-inline-flex
                            justify-content-center verticle-content-middle
                            mb-3">
                            Update</button>
                    </div>
                    <div class="resp_btn">
                        <button routerLink="/add-plant-list"
                            class="form-button ml-2 cancel_btn d-inline-flex
                            justify-content-center verticle-content-middle
                            mb-3">Cancel</button>
                    </div>
                </div>
                <div class="col-md-12 pb-3 mt-4 sub_updt_cancel_btn">
                    <div class="resp_btn" *ngIf="isView ">
                        <button routerLink="/add-plant-list"
                            class="form-button ml-2 cancel_btn d-inline-flex
                            justify-content-center verticle-content-middle
                            mb-3">Cancel</button>
                    </div>
                </div>
                <!-- <buttons -->
            </div>
        </div><br><br>

    </form>