<form [formGroup]="ngForm">

    <div class="row my-4 w-100 mx-0">
        <div class="col-12 d-flex justify-content-center verticle-content-middle">
            <div class="main-content-form-wrapper px-0 py-2">
                <div class="row">
                    <div class="col-12 px-4 mt-2">
                        <div class="row">
                            <div class="col-12 pl-4 pb-2 pb-md-3" style="font: normal Poppins 600 20px/30px ;
                                letter-spacing: 0px; font-weight: bold; font-size: 20px; color: #1C1C1C;">
                                Availability of Breeder Seeds (BSP IV Report)
                            </div>
                            <div class="col-md-4 pl-2 pt-0 pr-2 py-2 py-md-0 pr-md-0">
                                <div class="col-12">
                                    <label for="Crop Group" class="left-heading">Year of Indent</label>
                                </div>
                                <div class="col-12 pr-md-0">
                                    <select class="form-select form-control for-downicon-remove"
                                        aria-label="Default select example" formControlName="year_of_indent">
                                        <option value="" selected disabled>Select Year of Indent</option>
                                        <option *ngFor="let data of yearsData" value="{{data.value}}">
                                            {{ data && data.name ? data.name : 'NA'}}</option>
                                    </select>
                                    <div class="pl-0 toggle-button" ngbDropdown id="crop_group">
                                        <i class="fa-solid fa-angle-down downicon"></i>
                                    </div>


                                </div>
                            </div>
                            <div class="col-md-4 pl-2 pl-md-0 pt-0 pr-2 py-2 py-md-0 pr-md-0">
                                <div class="col-12">
                                    <label for="Crop Group" class="left-heading">Season</label>
                                </div>
                                <div class="col-12">
                                    <select class="form-select form-control for-downicon-remove"
                                        aria-label="Default select example" formControlName="season">
                                        <option value="" selected disabled>Select Season</option>
                                        <option *ngFor="let data of seasonData" value="{{data.value}}">
                                            {{ data && data.name ? data.name : 'NA'}}</option>
                                    </select>
                                    <div class="pl-0 toggle-button" ngbDropdown id="crop_group">
                                        <i class="fa-solid fa-angle-down downicon"></i>
                                    </div>


                                </div>
                            </div>
                            <div class="col-md-4 pl-2 pl-md-0 pt-0 pr-2 py-2 py-md-0">
                                <div class="col-12 px-3 px-md-0">
                                    <label for="Crop Group" class="left-heading">Crop Group</label>
                                </div>
                                <div class="col-12 pl-md-0">
                                    <div ngbDropdown class="d-inline-block w-100">

                                        <button class="btn takeplacholder w-100 crop toggle-button" id="crop_group"
                                            ngbDropdownToggle style="text-align: left;" aria-disabled="true">
                                            {{crop_groups && (crop_groups.length>30)
                                            ?(crop_groups.substring(0,30)+'...'):crop_groups?crop_groups :'SelectCropGroup'}}
                                        </button>

                                        <div class="dropdown-menu w-100" ngbDropdownMenu="crop_group"
                                            aria-labelledby="sortMenu">
                                            <input type="text" class="form-control px-4" formControlName="crop_text">
                                            <button class="dropdown-item" *ngFor="let data of cropGroupData "
                                                value="{{data.crop_group_code}}" (click)="cropGroup(data)" #dropdownItem
                                                [attr.data-parent-name]="'cropGroup'">
                                                {{ data && data.name ? data.name : 'NA'}}
                                            </button>
                                        </div>
                                    </div>
                                    <div class="pl-0 toggle-button" ngbDropdown id="crop_group">
                                        <i class="fa-solid fa-angle-down downicon" (click)="cgClick()"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 pl-2 pt-0 pt-md-2 pr-2 py-2 py-md-0 pr-md-0">
                                <div class="col-12">
                                    <label for="Crop Group" class="left-heading">Crop Name</label>
                                </div>
                                <div class="col-12 pr-md-0">
                                    <div ngbDropdown class="d-inline-block w-100 ">
                                        <ng-multiselect-dropdown [settings]="dropdownSettings" [data]="cropDataSecond"
                                            formControlName="crop_name" [placeholder]="'Select Crop Name '">
                                        </ng-multiselect-dropdown>
                                    </div>
                                </div>
                            </div>

                            <div _ngcontent-cvx-c131=""
                                class="col-12 pt-0 pt-md-4 pl-0 ml-2 search-cancle-button buttons-phone pt-3">
                                <button _ngcontent-cvx-c131="" (click)="onSearch()"
                                    class="form-button   search ml-0 d-inline-flex justify-content-center verticle-content-middle mb-3 mx-3"
                                    id="searchData"> Search </button>
                                <button _ngcontent-cvx-c131="" (click)="onClear()"
                                    class="clear-form-button d-inline-flex justify-content-center verticle-content-middle mb-3">
                                    Clear
                                </button>
                                <div class="row">
                                    <div class="col-11"></div>
                                    <div class="col-1">
                                        <a (click)="download()"> <img src="assets\icons\pdf-icon.png" alt=""
                                                width="35px" height="35px"> </a> &nbsp;
                                        <a (click)="exportexcel()"> <img src="assets\icons\excel.jpg" alt=""
                                                width="35px" alt="">
                                        </a>
                                    </div>
                                </div>
                                <!-- <div class="dropdown float-right export_dropdown">
                                    <button (click)="myFunction()"
                                        class="form-button  search ml-1 d-inline-flex justify-content-center verticle-content-middle mb-2 mx-3"
                                        style="font-size: 87%;">Export To &nbsp;<i class="fa fa-angle-down"
                                            aria-hidden="true">
                                        </i></button>
                                    <div id="myDropdown" class="dropdown-content">
                                    </div>
                                </div> -->
                            </div>


                            <div _ngcontent-cvx-c131="" class="col-12 px-4">
                                <hr _ngcontent-cvx-c131="" class="separator m-0">
                            </div>
                            <div class="col-12 px-3">
                                <div class="list-wrapper px-4 py-3">
                                    <div class="row d-md-flex data-row-header extra-header">

                                        <div class="col-12 col-md-12 py-3 text-center">
                                            Availability of Breeder Seeds (BSP IV Report)
                                        </div>
                                    </div>
                                    <br>
                                    <div>
                                        <div class="row d-md-flex data-row-header" style="zoom: 0.9;">
                                            <div class="col-2 py-3 d-flex verticle-content-middle">
                                                Year of Indent : {{selectedYear || 'NA'}}-{{(selectedYear-2000)+1 ||
                                                'NA'}}
                                            </div>
                                            <div class="col-2 py-3 d-flex verticle-content-middle pl-0">Crop Group :
                                                {{selectedCropGroup || 'NA'}}

                                            </div>
                                            <div class="col-1 py-3 d-flex verticle-content-middle pl-0">Season :
                                                {{(!selectedSeason?'NA': selectedSeason && selectedSeason=='R' ?'Rabi' :
                                                selectedSeason=='K'? 'Kharif' :'Other') || 'NA'}}

                                            </div>
                                            <div class="col-2 py-3 d-flex verticle-content-middle pl-0">Crop Name :
                                                {{selectedCropName || 'NA'}}

                                            </div>
                                            <div class="col-1 py-3 d-flex verticle-content-middle pl-0">Unit :
                                                {{unitValue ? unitValue: 'NA'}}

                                            </div>
                                            <div class="col-2 py-3 d-flex verticle-content-middle pl-0">Deadline Date :
                                                {{today | date:"dd-MM-YYYY"}}

                                            </div>
                                            <div class="col-2 py-3 d-flex verticle-content-middle">As on Date :
                                                {{today | date:"dd-MM-YYYY"}}
                                            </div>

                                        </div>
                                        <div class="row data-row">
                                            <table class="table table-bordered ble-responsive">
                                                <thead>
                                                    <tr class="data-row-header">
                                                        <th scope="col" class="col-md-2" rowspan="4">Variety</th>
                                                        <th scope="col" class="col-md-3">Indent Quantity</th>
                                                        <th scope="col" class="col-md-2">Name of BSPC</th>
                                                        <th scope="col" class="col-md-3">Total Target Quantity Assigned
                                                            for
                                                            Production</th>
                                                        <th scope="col" class="col-md-4">Quantity of Breeder Seed
                                                            Produced</th>
                                                        <th scope="col" class="col-md-4">Total Production</th>
                                                        <th scope="col" class="col-md-3">Surplus/Deficit</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <ng-container
                                                        *ngFor="let data of reportData; let dataIndex=index">
                                                        <ng-container
                                                            *ngFor="let bspcData of data.bspc; let bspcIndex=index">
                                                            <tr>
                                                                <td *ngIf="bspcIndex==0"
                                                                    [attr.rowspan]="data.count">{{data &&
                                                                    data.variety_name ? data.variety_name :''}}<br>
                                                                    Parental line:{{data && data.line_variety ? data.line_variety
                                                                    :''}}</td>
                                                                <td *ngIf="bspcIndex==0"
                                                                    [attr.rowspan]="data.count">{{data &&
                                                                    data.indent_quantity ?
                                                                    (data.indent_quantity | number :
                                                                    '1.2-2') :''}}</td>
                                                                <td>{{bspcData && bspcData.bspc_name ? bspcData.bspc_name
                                                                    :''}}</td>
                                                                <td>{{bspcData && bspcData.target_quantity ? (bspcData.target_quantity | number
                                                                    : '1.2-2') :'0'}}</td>
                                                                <td>{{bspcData && bspcData.breeder_quantity ?
                                                                    (bspcData.breeder_quantity | number : '1.2-2') :'0'}}
                                                                </td>
                                                                <td *ngIf="bspcIndex==0"
                                                                    [attr.rowspan]="data.count">{{bspcData
                                                                    && data.total_production ? (data.total_production |
                                                                    number : '1.2-2') :'0'}}</td>
                                                                <td [attr.rowspan]="data.count"
                                                                    *ngIf="bspcIndex==0">{{data &&
                                                                    data.surplus &&
                                                                    data.surplus ?
                                                                    (parseFloat(data.surplus)
                                                                    | number : '1.2-2') :'0'}}</td>

                                                            </tr>
                                                        </ng-container>
                                                    </ng-container>
                                                    <tr *ngFor="let data of reportData;let dataIndex=index">
                                                        <td *ngIf="dataIndex==0"><b>Total Variety=</b>
                                                            {{reportData.length}}
                                                        </td>
                                                        <td *ngIf="dataIndex==0"><b>Total Indent Quantity=</b>
                                                            {{data && (reportData.length>0) ?
                                                                (reportData | sum:'indent_quantity' |
                                                                number:'1.2-2'):''}}
                                                        </td>
                                                        <td *ngIf="dataIndex==0"></td>
                                                        <td *ngIf="dataIndex==0"><b>Total Target Assigned=</b>97.75
                                                            <!-- {{data && (reportData.length>0) ?
                                                                (reportData | sum:'target_quantity' |
                                                                number:'1.2-2'):''}} -->
                                                        </td>

                                                        <td *ngIf="dataIndex==0 " colspan="2"><b>Total B/S Production=</b>98.41
                                                            <!-- {{sumOftotalProducedQty ? (sumOftotalProducedQty | number :
                                                            '1.2-2'):'0'}} -->
                                                        </td>

                                                        <td *ngIf="dataIndex==0"></td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- <div class="pl-0 col-12"
                                            *ngIf="dataToDisplay && dataToDisplay.length>0 && usertType!='SD'">
                                            <button _ngcontent-cvx-c131="" (click)="forward()" [disabled]="disableBtn"
                                                [ngClass]="disableBtn ? 'form-buttonsdisable   search ml-0 d-inline-flex justify-content-center verticle-content-middle mb-3 px-3' :'form-buttons   search ml-0 d-inline-flex justify-content-center verticle-content-middle mb-3 px-3'"
                                                id="searchData"> 
                                                {{(usertType=='ICAR')?'Forward to Seed Division'
                                                :(usertType=='HICAR')? 'Forward to Seed Division':'Forward to ICAR'}}</button>
                                        </div> -->

                                    </div>
                                </div>
                            </div>
                            <div class="d-none">
                                <div class="col-12 px-3" id="excel-table">
                                    <!-- <app-dynamic-fields [fieldsList]="fieldsList" [formGroup]="formGroup"></app-dynamic-fields> -->
                                    <div class="list-wrapper px-4 py-3">
                                        <div class="row d-md-flex data-row-header extra-header">

                                            <div class="col-12 col-md-12 py-3 text-center">
                                                Availability of Breeder Seeds (BSP IV Report)
                                            </div>
                                        </div>
                                        <br>
                                        <div><!-- *ngIf="isSearch"-->
                                            <div class="row d-md-flex data-row-header" style="zoom: 0.9;">
                                                <div class="col-2 py-3 d-flex verticle-content-middle">
                                                    Year of Indent : {{selectedYear || 'NA'}}-{{(selectedYear-2000)+1 ||
                                                    'NA'}}
                                                    <!-- {{year}}-{{((year+1)-2000)}} -->
                                                </div>
                                                <div class="col-2 py-3 d-flex verticle-content-middle pl-0">Crop Group :
                                                    {{selectedCropGroup || 'NA'}}

                                                </div>
                                                <div class="col-1 py-3 d-flex verticle-content-middle pl-0">Season :
                                                    {{(!selectedSeason?'NA': selectedSeason && selectedSeason=='R'
                                                    ?'Rabi' : selectedSeason=='K'? 'Kharif' :'Other') || 'NA'}}

                                                </div>
                                                <div class="col-2 py-3 d-flex verticle-content-middle pl-0">Crop Name :
                                                    {{selectedCropName || 'NA'}}

                                                </div>
                                                <div class="col-1 py-3 d-flex verticle-content-middle pl-0">Unit :
                                                    {{unitValue ? unitValue: 'NA'}}
                                                </div>
                                                <div class="col-2 py-3 d-flex verticle-content-middle pl-0">Deadline
                                                    Date :
                                                    {{today | date:"dd-MM-YYYY"}}

                                                </div>
                                                <div class="col-2 py-3 d-flex verticle-content-middle">As on Date :
                                                    {{today | date:"dd-MM-YYYY"}}
                                                </div>

                                            </div>
                                            <div class="row data-row pt-3">
                                                <table class="table table-bordered ble-responsive pt-5">
                                                    <thead>
                                                        <tr class="data-row-header">
                                                            <th scope="col" class="col-md-2" rowspan="4">Variety</th>
                                                            <th scope="col" class="col-md-3">Indent Quantity</th>
                                                            <th scope="col" class="col-md-2">Name of BSPC</th>
                                                            <th scope="col" class="col-md-3">Total Target Quantity
                                                                Assigned
                                                                for
                                                                Production</th>
                                                            <th scope="col" class="col-md-4">Quantity of Breeder Seed
                                                                Produced</th>
                                                            <th scope="col" class="col-md-4">Total Production</th>
                                                            <th scope="col" class="col-md-3">Surplus/Deficit</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <ng-container
                                                        *ngFor="let data of reportData; let dataIndex=index">
                                                        <ng-container
                                                            *ngFor="let bspcData of data.bspc; let bspcIndex=index">
                                                            <tr>
                                                                <td *ngIf="bspcIndex==0"
                                                                    [attr.rowspan]="data.count">{{data &&
                                                                    data.variety_name ? data.variety_name :''}}<br>
                                                                    Parental line:{{data && data.line_variety ? data.line_variety
                                                                    :''}}</td>
                                                                <td *ngIf="bspcIndex==0"
                                                                    [attr.rowspan]="data.count">{{data &&
                                                                    data.indent_quantity ?
                                                                    (data.indent_quantity | number :
                                                                    '1.2-2') :''}}</td>
                                                                <td>{{bspcData && bspcData.bspc_name ? bspcData.bspc_name
                                                                    :''}}</td>
                                                                <td>{{bspcData && bspcData.target_quantity ? (bspcData.target_quantity | number
                                                                    : '1.2-2') :'0'}}</td>
                                                                <td>{{bspcData && bspcData.breeder_quantity ?
                                                                    (bspcData.breeder_quantity | number : '1.2-2') :'0'}}
                                                                </td>
                                                                <td *ngIf="bspcIndex==0"
                                                                    [attr.rowspan]="data.count">{{bspcData
                                                                    && data.total_production ? (data.total_production |
                                                                    number : '1.2-2') :'0'}}</td>
                                                                <td [attr.rowspan]="data.count"
                                                                    *ngIf="bspcIndex==0">{{data &&
                                                                    data.surplus &&
                                                                    data.surplus ?
                                                                    (parseFloat(data.surplus)
                                                                    | number : '1.2-2') :'0'}}</td>

                                                            </tr>
                                                        </ng-container>
                                                    </ng-container>
                                                    <tr *ngFor="let data of reportData;let dataIndex=index">
                                                        <td *ngIf="dataIndex==0"><b>Total Variety=</b>
                                                            {{reportData.length}}
                                                        </td>
                                                        <td *ngIf="dataIndex==0"><b>Total Indent Quantity=</b>
                                                            {{total_amount_indent_quantitysum ?
                                                            total_amount_indent_quantitysum :'0'}}
                                                        </td>
                                                        <td *ngIf="dataIndex==0"></td>
                                                        <td *ngIf="dataIndex==0"><b>Total Target Assigned</b>
                                                            {{quantityValue ? (quantityValue | number : '1.2-2') :'0'}}
                                                        </td>

                                                        <td *ngIf="dataIndex==0 " colspan="2"><b>Total B/S Production=</b>
                                                            {{sumOftotalProducedQty ? (sumOftotalProducedQty | number :
                                                            '1.2-2'):'0'}}
                                                        </td>

                                                        <td *ngIf="dataIndex==0"></td>

                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="pl-0 col-12"
                                                *ngIf="dataToDisplay && dataToDisplay.length>0 && usertType!='SD'">
                                                <button _ngcontent-cvx-c131="" (click)="forward()"
                                                    [disabled]="disableBtn"
                                                    [ngClass]="disableBtn ? 'form-buttonsdisable   search ml-0 d-inline-flex justify-content-center verticle-content-middle mb-3 px-3' :'form-buttons   search ml-0 d-inline-flex justify-content-center verticle-content-middle mb-3 px-3'"
                                                    id="searchData">
                                                    {{(usertType=='ICAR')?'Forward to Seed Division':(usertType=='HICAR')? 'Forward to Seed Division':'Forward to ICAR'}}</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-none">
                                <div class="col-12 px-3" id="excel-table">
                                    <div class="list-wrapper px-4 py-3">
                                        <div class="row d-md-flex data-row-header extra-header">

                                            <div class="col-12 col-md-12 py-3 text-center">
                                                Availability of Breeder Seeds (BSP IV Report)
                                            </div>
                                        </div>
                                        <br>
                                        <div><!-- *ngIf="isSearch"-->
                                            <div class="row d-md-flex data-row-header" style="zoom: 0.9;">
                                                <div class="col-2 py-3 d-flex verticle-content-middle">
                                                    Year of Indent : {{selectedYear || 'NA'}}-{{(selectedYear-2000)+1 ||
                                                    'NA'}}
                                                    <!-- {{year}}-{{((year+1)-2000)}} -->
                                                </div>
                                                <div class="col-2 py-3 d-flex verticle-content-middle pl-0">Crop Group :
                                                    {{selectedCropGroup || 'NA'}}

                                                </div>
                                                <div class="col-1 py-3 d-flex verticle-content-middle pl-0">Season :
                                                    {{(!selectedSeason?'NA': selectedSeason && selectedSeason=='R'
                                                    ?'Rabi' : selectedSeason=='K'? 'Kharif' :'Other') || 'NA'}}

                                                </div>
                                                <div class="col-2 py-3 d-flex verticle-content-middle pl-0">Crop Name :
                                                    {{selectedCropName || 'NA'}}

                                                </div>
                                                <div class="col-1 py-3 d-flex verticle-content-middle pl-0">Unit :
                                                    {{unitValue ? unitValue: 'NA'}}

                                                </div>
                                                <div class="col-2 py-3 d-flex verticle-content-middle">Deadline Date :
                                                    {{today | date:"dd-MM-YYYY"}}
                                                </div>
                                                <div class="col-2 py-3 d-flex verticle-content-middle">As on Date :
                                                    {{today | date:"dd-MM-YYYY"}}
                                                </div>

                                            </div>
                                            <div class="row data-row pt-3">
                                                <table class="table table-bordered ble-responsive pt-5">
                                                    <thead>
                                                        <tr class="data-row-header">
                                                            <th scope="col" class="col-md-2" rowspan="4">Variety</th>
                                                            <th scope="col" class="col-md-3">Indent Quantity</th>
                                                            <th scope="col" class="col-md-2">Name of BSPC</th>
                                                            <th scope="col" class="col-md-3">Total Target Quantity
                                                                Assigned
                                                                for
                                                                Production</th>
                                                            <th scope="col" class="col-md-4">Quantity of Breeder Seed
                                                                Produced</th>
                                                            <th scope="col" class="col-md-4">Total Production</th>
                                                            <th scope="col" class="col-md-3">Surplus/Deficit</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <ng-container
                                                        *ngFor="let data of reportData; let dataIndex=index">
                                                        <ng-container
                                                            *ngFor="let bspcData of data.bspc; let bspcIndex=index">
                                                            <tr>
                                                                <td *ngIf="bspcIndex==0"
                                                                    [attr.rowspan]="data.count">{{data &&
                                                                    data.variety_name ? data.variety_name :''}}<br>
                                                                    Parental line:{{data && data.line_variety ? data.line_variety
                                                                    :''}}</td>
                                                                <td *ngIf="bspcIndex==0"
                                                                    [attr.rowspan]="data.count">{{data &&
                                                                    data.indent_quantity ?
                                                                    (data.indent_quantity | number :
                                                                    '1.2-2') :''}}</td>
                                                                <td>{{bspcData && bspcData.bspc_name ? bspcData.bspc_name
                                                                    :''}}</td>
                                                                <td>{{bspcData && bspcData.target_quantity ? (bspcData.target_quantity | number
                                                                    : '1.2-2') :'0'}}</td>
                                                                <td>{{bspcData && bspcData.breeder_quantity ?
                                                                    (bspcData.breeder_quantity | number : '1.2-2') :'0'}}
                                                                </td>
                                                                <td *ngIf="bspcIndex==0"
                                                                    [attr.rowspan]="data.count">{{bspcData
                                                                    && data.total_production ? (data.total_production |
                                                                    number : '1.2-2') :'0'}}</td>
                                                                <td [attr.rowspan]="data.count"
                                                                    *ngIf="bspcIndex==0">{{data &&
                                                                    data.surplus &&
                                                                    data.surplus ?
                                                                    (parseFloat(data.surplus)
                                                                    | number : '1.2-2') :'0'}}</td>

                                                            </tr>
                                                        </ng-container>
                                                    </ng-container>
                                                    <tr *ngFor="let data of reportData;let dataIndex=index">
                                                        <td *ngIf="dataIndex==0"><b>Total Variety=</b>
                                                            {{reportData.length}}
                                                        </td>
                                                        <td *ngIf="dataIndex==0"><b>Total Indent Quantity=</b>
                                                            {{total_amount_indent_quantitysum ?
                                                            total_amount_indent_quantitysum :'0'}}
                                                        </td>
                                                        <td *ngIf="dataIndex==0"></td>
                                                        <td *ngIf="dataIndex==0"><b>Total Target Assigned</b>
                                                            {{quantityValue ? (quantityValue | number : '1.2-2') :'0'}}
                                                        </td>

                                                        <td *ngIf="dataIndex==0 " colspan="2"><b>Total B/S Production=</b>
                                                            {{sumOftotalProducedQty ? (sumOftotalProducedQty | number :
                                                            '1.2-2'):'0'}}
                                                        </td>

                                                        <td *ngIf="dataIndex==0"></td>

                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- <div class="pl-0 col-12"
                                                *ngIf="dataToDisplay && dataToDisplay.length>0 && usertType!='SD'">
                                                <button _ngcontent-cvx-c131="" (click)="forward()"
                                                    [disabled]="disableBtn"
                                                    [ngClass]="disableBtn ? 'form-buttonsdisable   search ml-0 d-inline-flex justify-content-center verticle-content-middle mb-3 px-3' :'form-buttons   search ml-0 d-inline-flex justify-content-center verticle-content-middle mb-3 px-3'"
                                                    id="searchData"> 
                                                    {{(usertType=='ICAR')?'Forward to Seed Division' :(usertType=='HICAR')? 'Forward to Seed Division':'Forward to ICAR'}}</button>
                                            </div> -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-none">
                                <div class="col-12 px-3" id="excel-table-data">
                                    <!-- <app-dynamic-fields [fieldsList]="fieldsList" [formGroup]="formGroup"></app-dynamic-fields> -->
                                    <div class="list-wrapper px-4 py-3">
                                        <tr>
                                            <td>
                                                Availability of Breeder Seeds (BSP IV Report)
                                            </td>
                                        </tr>
                                        <br>
                                        <div><!-- *ngIf="isSearch"-->
                                            <tr>
                                                <td> Year of Indent</td>
                                                <td> Crop Group</td>
                                                <td> Season</td>
                                                <td> Crop Name</td>
                                            </tr>
                                            <tr>
                                                <td>{{selectedYear || 'NA'}}-{{(selectedYear-2000)+1 || 'NA'}}</td>
                                                <td>{{selectedCropGroup || 'NA'}}</td>
                                                <td>{{(!selectedSeason?'NA': selectedSeason && selectedSeason=='R'
                                                    ?'Rabi' : selectedSeason=='K'? 'Kharif' :'Other') || 'NA'}}</td>
                                                <td> {{selectedCropName || 'NA'}}</td>
                                            </tr>

                                            <div class="row data-row pt-3">
                                                <table class="table table-bordered ble-responsive pt-5">
                                                    <thead>
                                                        <tr class="data-row-header">
                                                            <th scope="col" class="col-md-2" rowspan="4">Variety</th>
                                                            <th scope="col" class="col-md-3">Indent Quantity</th>
                                                            <th scope="col" class="col-md-2">Name of BSPC</th>
                                                            <th scope="col" class="col-md-3">Total Target Quantity
                                                                Assigned
                                                                for
                                                                Production</th>
                                                            <th scope="col" class="col-md-4">Quantity of Breeder Seed
                                                                Produced</th>
                                                            <th scope="col" class="col-md-4">Total Production</th>
                                                            <th scope="col" class="col-md-3">Surplus/Deficit</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <ng-container
                                                        *ngFor="let data of reportData; let dataIndex=index">
                                                        <ng-container
                                                            *ngFor="let bspcData of data.bspc; let bspcIndex=index">
                                                            <tr>
                                                                <td *ngIf="bspcIndex==0"
                                                                    [attr.rowspan]="data.count">{{data &&
                                                                    data.variety_name ? data.variety_name :''}}<br>
                                                                    Parental line:{{data && data.line_variety ? data.line_variety
                                                                    :''}}</td>
                                                                <td *ngIf="bspcIndex==0"
                                                                    [attr.rowspan]="data.count">{{data &&
                                                                    data.indent_quantity ?
                                                                    (data.indent_quantity | number :
                                                                    '1.2-2') :''}}</td>
                                                                <td>{{bspcData && bspcData.bspc_name ? bspcData.bspc_name
                                                                    :''}}</td>
                                                                <td>{{bspcData && bspcData.target_quantity ? (bspcData.target_quantity | number
                                                                    : '1.2-2') :'0'}}</td>
                                                                <td>{{bspcData && bspcData.breeder_quantity ?
                                                                    (bspcData.breeder_quantity | number : '1.2-2') :'0'}}
                                                                </td>
                                                                <td *ngIf="bspcIndex==0"
                                                                    [attr.rowspan]="data.count">{{bspcData
                                                                    && data.total_production ? (data.total_production |
                                                                    number : '1.2-2') :'0'}}</td>
                                                                <td [attr.rowspan]="data.count"
                                                                    *ngIf="bspcIndex==0">{{data &&
                                                                    data.surplus &&
                                                                    data.surplus ?
                                                                    (parseFloat(data.surplus)
                                                                    | number : '1.2-2') :'0'}}</td>

                                                            </tr>
                                                        </ng-container>
                                                    </ng-container>
                                                    <tr *ngFor="let data of reportData;let dataIndex=index">
                                                        <td *ngIf="dataIndex==0"><b>Total Variety=</b>
                                                            {{reportData.length}}
                                                        </td>
                                                        <td *ngIf="dataIndex==0"><b>Total Indent Quantity=</b>
                                                            {{total_amount_indent_quantitysum ?
                                                            total_amount_indent_quantitysum :'0'}}
                                                        </td>
                                                        <td *ngIf="dataIndex==0"></td>
                                                        <td *ngIf="dataIndex==0"><b>Total Target Assigned</b>
                                                            {{quantityValue ? (quantityValue | number : '1.2-2') :'0'}}
                                                        </td>

                                                        <td *ngIf="dataIndex==0 " colspan="2"><b>Total B/S Production=</b>
                                                            {{sumOftotalProducedQty ? (sumOftotalProducedQty | number :
                                                            '1.2-2'):'0'}}
                                                        </td>

                                                        <td *ngIf="dataIndex==0"></td>

                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="pl-0 col-12"
                                                *ngIf="dataToDisplay && dataToDisplay.length>0 && usertType!='SD'">
                                                <button _ngcontent-cvx-c131="" (click)="forward()"
                                                    [disabled]="disableBtn"
                                                    [ngClass]="disableBtn ? 'form-buttonsdisable   search ml-0 d-inline-flex justify-content-center verticle-content-middle mb-3 px-3' :'form-buttons   search ml-0 d-inline-flex justify-content-center verticle-content-middle mb-3 px-3'"
                                                    id="searchData"> {{(usertType=='ICAR')?'Forward to Seed Division'
                                                    :(usertType=='HICAR')? 'Forward to Seed Division':'Forward toICAR'}}</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>