.form-nodal-input {
    background: transparent;
}

.form-nodal-input,
.form-nodal-input:active,
.form-nodal-input:focus {
    border: 1px solid #979797 !important;
    outline: none ! important;
    border-radius: 5px !important;
    box-shadow: none !important;
}

.form-nodal-input-custom-placeholder {
    margin-top: 0px;
    margin-bottom: -39px;
}

.form-nodal-input-custom-placeholder,
.form-nodal-input,
.form-nodal-input:active,
.form-nodal-input:focus {
    padding-left: 0.75rem !important;
    font: normal Poppins 15px/23px;
    letter-spacing: 0px;
    color: rgb(0 0 0 / 70%);
    height: 38px !important;
}

.form-nodal-input-custom-placeholder.hide+.form-nodal-input:not([disabled]),
.form-nodal-input:not([disabled]):active,
.form-nodal-input:not([disabled]):focus {
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
}

.form-nodal-input-custom-placeholder.hide span {
    display: none !important;
}

.form-nodal-input-custom-placeholder.disabled {
    background: #F1F1F1 0% 0% no-repeat padding-box;
    border-radius: 5px;
}

.nodal-search-icon {
    color: #707070;
    font-size: 18px;
    position: absolute;
    right: 25px;
    top: 16px;
}

.col-accordion {
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border: 1px solid #979797;
    border-radius: 5px;
    max-height: 10000px;
    -webkit-transition: max-height 1s ease;
    -moz-transition: max-height 1s ease;
    transition: max-height 1s ease;
}

.col-accordion.hide {
    overflow: hidden;
    max-height: 55px;
}

.accordion-dropdown {
    position: absolute;
    right: 45px;
    margin-top: 20px;
    cursor: pointer;
    width: 15px;
    height: 15px;
}

@media (min-width:1165px) and (max-width: 1295px) {
    .form-child {
        zoom: 0.8;
    }
}

::ng-deep .yearofIndent-wrapper .ngb-dropdown-disabled .dropdown-toggle,
::ng-deep .cropName-wrapper .ngb-dropdown-disabled .dropdown-toggle {
    background: rgb(245 245 245 / 70%) 0% 0% no-repeat padding-box !important;
}

.va-l {
    background: #fff;
    font-weight: 700;
    padding: 0.8rem !important;
    box-shadow: 1px 1px 4px #33333369;
}