.card-title {
    white-space: nowrap;
}

.card {}

.cardImage {
    float: right;
}

.card_Image img {
    height: 2em;
    width: 3em;
    border-radius: 50%;
    opacity: 1;
}

.image {
    /* background: transparent url('../../../assets/images/cropCard.svg') 0% 0% no-repeat ; */
    /* opacity: 1; */
    /* background:   url("../../../assets/images/cropCard.svg") no-repeat right; */
    /* background: transparent url('assets/images/cropCard.svg') 0% 0% no-repeat padding-box; */
    /* opacity: 1; */
}

.circular_image {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    overflow: hidden;
    background: #E97E15;
    opacity: 0.2;


    /*for demo*/
    display: inline-block;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;


}

.circular_image img {
    height: 2em;
    width: 3em;
    border-radius: 50%;
    opacity: 1;
}

.cropCard {
    background: #5F27CD0D 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 18px #0000000D;
    border: 1px solid #5F27CDB3;
    border-radius: 10px;
    opacity: 1;
    min-width: 10em;
    max-height: 6.5em;
    min-height: 6.5em
}

.card-title {
    text-align: left;
    font: normal Poppins 16px/25px;
    letter-spacing: 0px;
    color: #5F27CD;
    opacity: 1;
}

.noOfcrop {
    text-align: left;
    font: normal Poppins bold 25px/53px;
    letter-spacing: 0px;
    color: #5F27CD;
    opacity: 1;
}
.total_qty{
    font-weight: 600;
    color: #10AC84;
}
.notified_varities {
    background: #FF9F430D 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 18px #0000000D;
    border: 1px solid #FF9F43B3;
    border-radius: 10px;
    opacity: 1;

    min-width: 10em;
    max-height: 6.5em;
    min-height: 6.5em
}

.card_notified_title {
    text-align: left;
    font: normal Poppins 16px/25px;
    letter-spacing: 0px;
    color: #FF9F43;
    opacity: 1;

    /* white-space: nowrap; */
}



.noOfVarieties {
    text-align: left;
    font: normal Poppins bold 25px/53px;
    letter-spacing: 0px;
    color: #FF9F43;
    opacity: 1;
}

.card-title-Indentors {
    text-align: left;
    font: normal Poppins 16px/25px;
    letter-spacing: 0px;
    color: #10AC84;
    opacity: 1;
    /* white-space: nowrap; */
}

.card_of_indentors {
    background: #10AC840D 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 18px #0000000D;
    border: 1px solid #10AC84B3;
    border-radius: 10px;
    opacity: 1;

    min-width: 10em;
    max-height: 6.5em;
    min-height: 6.5em
}

.noOfIndentor {
    text-align: left;
    font: normal Poppins bold 25px/53px;
    letter-spacing: 0px;
    color: #10AC84;
    opacity: 1;
}

.card-title-Icar {
    text-align: left;
    font: normal Poppins 16px/25px;
    letter-spacing: 0px;
    color: #0ABDE3;
    opacity: 1;
}


.ICARCard {
    background: #0ABDE30D 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 18px #0000000D;
    border: 1px solid #0ABDE3;
    border-radius: 10px;
    opacity: 1;

    min-width: 10em;
    max-height: 6.5em;
    min-height: 6.5em
}

.noOfIcar {
    text-align: left;
    font: normal Poppins bold 25px/53px ;
    letter-spacing: 0px;
    color: #0ABDE3;
    opacity: 1;
}

.card-title-production {
    white-space: nowrap;
    text-align: left;
    font: normal Poppins 16px/25px;
    letter-spacing: 0px;
    color: #EE5253;
    opacity: 1;
}

.card_production {
    background: #EE52530D 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 18px #0000000D;
    border: 1px solid #EE5253B3;
    border-radius: 10px;
    opacity: 1;
    min-width: 10em;
    max-height: 6.5em;
    min-height: 6.5em
}

.card_production_title {
    text-align: left;
    font: normal Poppins bold 25px/53px;
    letter-spacing: 0px;
    color: #EE5253;
    opacity: 1
}
.form-button-dashboard,
.form-button-dashboard:focus,
.form-button-dashboard:active {
    text-align: left;
    font: normal Poppins 16px/25px;
    letter-spacing: 0px;
    color: #FFFFFF;
    background: #E97E15 0% 0% no-repeat padding-box;
    /* box-shadow: 0px 3px 0px #CB6706; */
    border-radius: 5px;
    outline: none !important;
    border: none !important;
    width: 109px;
    height: 44px;
    cursor: pointer;
}


.totalIndent {
    background: #E97E15 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 18px #0000000D;
    border: 1px solid #E97E15;
    border-radius: 10px;
    opacity: 1;
    max-height: 8em;
}

.totalIndent_inactive {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 18px #0000000D;
    border-radius: 10px;
    opacity: 1;
    max-height: 8em;
}

.indent-title {

    text-align: left;
    font: normal Poppins 16px/25px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.indent-title_inactive {
    text-align: left;
    font: normal Poppins 16px/25px;
    letter-spacing: 0px;
    color: #E97E15;
    opacity: 1;
}

.total_indent {
    text-align: left;
    font: normal Poppins bold 35px/53px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    /* white-space: nowrap; */
}

.total_indent_active {
    text-align: left;
    font: normal Poppins bold 35px/53px;
    letter-spacing: 0px;
    color: #E97E15;
    opacity: 1;
}

.bsp-title {
    text-align: left;
    font: normal Poppins 16px/25px;
    letter-spacing: 0px;
    color: #E97E15;
    opacity: 1;
}

.bsp-title-active {
    text-align: left;
    font: normal Poppins 16px/25px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.bsp_quantity {
    text-align: left;
    font: normal Poppins bold 35px/53px;
    letter-spacing: 0px;
    color: #E97E15;
    opacity: 1;
}

.bsp_quantity_active {
    text-align: left;
    font: normal Poppins bold 35px/53px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.bsp_vi_card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 18px #0000000D;
    border-radius: 10px;
    opacity: 1;
    max-height: 8em;
}

.bsp_vi_card_active {

    background: #E97E15 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 18px #0000000D;
    border: 1px solid #E97E15;
    border-radius: 10px;
    opacity: 1;
}

.chart_title {
    /* text-align: left; */
    font: normal Poppins 18px/20px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    /* white-space:inherit; */
}

.square {
    width: 20px;
    height: 20px;
    /* background-color: #555; */
    background: #5F27CD 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    padding-top: 1em;
}

.square_breeder_seed {
    width: 20px;
    height: 20px;
    /* background-color: #555; */
    background: #0ABDE3 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    padding-top: 1em;
}

.square_breeder_seed_left {
    width: 20px;
    height: 20px;
    /* background-color: #555; */
    background: #FF9F43 0% 0% no-repeat padding-box;

    border-radius: 3px;
    opacity: 1;
    padding-top: 1em;
}
.square_breeder_seed_lifting{
    width: 20px;
    height: 20px;
    /* background-color: #555; */
    background: #10AC84 0% 0% no-repeat padding-box;

    border-radius: 3px;
    opacity: 1;
    padding-top: 1em;
}
.search_btn {
    background: #E97E15 0% 0% no-repeat padding-box;
    /* box-shadow: 0px 3px 0px #CB6706; */
    border-radius: 5px;
    height: 38px;
    opacity: 1;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.search_text {
    text-align: left;
    font: normal Poppins 16px/25px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.clear_btn {

    background: #E97E15 0% 0% no-repeat padding-box;
    /* box-shadow: 0px 10px 18px #0000000D; */
    border-radius: 5px;
    opacity: 1;
    height: 38px;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    margin-left: -28px;
}

.clear_text {
    text-align: left;
    font: normal Poppins 16px/25px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.indent_for_lifting {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 0.1;
    border-radius: 50%;
    width: 3em;
    height: 4em;
    padding-left: 2em;
    /* width: 1em;
    height: 2em; */
}

.indent_for_lifting_img {
    margin-top: -6em;
}

.bspCircle {
    background: #B64B1D;
    border-radius: 50%;
    width: 3em;
    height: 4em;
    opacity: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bspCircle img {
    opacity: 1;
    border-radius: 50%;
    width: 2em;
    height: 3em;
    padding-left: 2em;
}

.seeding_image {
    margin-top: -6em;

    /* padding-left: 2em; */
}



.seedImage {
    border-radius: 50%;
    width: 3em;
    height: 4em;
    background: #B64B1D;
    opacity: 0.2;

}

@media screen and (min-width: 1716px) {}




#container,
#containers {

    overflow-x: scroll !important;
    /* width: 600px!important; */
}

.highcharts-container {
    /* width: 500px;
    overflow-y: scroll!important; */
}

.clear-margin {
    margin-left: -2%;
}






@media only screen and (max-width: 379px) and (min-width: 250px) {
    

}

@media only screen and (max-width: 400px) and (min-width: 390px) {
    .indentorrow {
        margin-top: -1em;
    }
}

@media only screen and (max-width: 599px) and (min-width: 500px) {
    

}


@media only screen and (max-width: 699px) and (min-width: 650px) {
   
}

@media only screen and (max-width: 844px) and (min-width: 800px) {

}

@media only screen and (max-width: 920px) and (min-width: 845px) {
    
}

@media only screen and (max-width: 1073px) and (min-width: 845px) {

}

@media only screen and (max-width: 3000px) and (min-width: 1640px) {

}

@media only screen and (max-width: 2400px) and (min-width: 2100px) {

   
}


@media only screen and (max-width: 2999px) and (min-width: 2401px) {


}


@media only screen and (min-width: 3000px) {

}


/* New Card Css */
.myDiv01{
    position: absolute;
    margin-top: -0.8em;
}

.myDiv01:before {
    content: "";
    background: #5F27CD 0% 0% no-repeat padding-box;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    opacity: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cropCard_image01 {
    margin-top: 
-5em
;
    margin-left: 
2px
;
    height: 
26px
;
}


td{
    /* border-style: dotted;
    border-color: #373a3a9f; */
}

.myDiv02{
    position: absolute;
    margin-top: -1.8em;
}

.myDiv02:before {
    content: "";
    background: #FF9F43 0% 0% no-repeat padding-box;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    opacity: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.myDiv03{
    position: absolute;
    margin-top: -22px;
}

.myDiv03:before {
    content: "";
    background: #10AC84 0% 0% no-repeat padding-box;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    opacity: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.myDiv04{
    position: absolute;
    margin-top: -0.8em;
}

.myDiv04:before {
    content: "";
    background: #0ABDE3 0% 0% no-repeat padding-box;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    opacity: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.myDiv05{
    position: absolute;
    margin-top: -0.8em;
}

.myDiv05:before {
    content: "";
    background: #EE5253 0% 0% no-repeat padding-box;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    opacity: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
}
thead th{
    text-align:left;
}
td{
    border-right:1px solid #dee2e6;
    /* min-height:10em; */
    padding-top: 0;
    /* width: 10px; */
    /* min-width:10em */
}
.indenttd{
    background-color:rgba(0, 128, 0, 0.177);
    color:black;
    font-size:16px;
    /* font-weight:600 */
}
.year{
    font-weight:600
}
.allocationtd{
    background-color:rgba(255, 255, 0, 0.196);
    color:black;
    font-size:16px;
    /* font-weight:600 */

}
.liftingtd{
    background-color:rgba(255, 0, 0, 0.26);
    /* color:white; */
    font-size:16px;
    /* font-weight:600 */

}
.chart-container {
    height: 60px; /* Set the desired height here */
  }

  .bar-text {
    font-size: 12px;
    font-weight: bold;
  }
  .tooltip-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .tooltip-label {
    font-weight: bold;
    color: #fff;
    text-align: center;
  }
  
  .tooltip-value {
    color: #fff;
    text-align: center;
  }
  
  #chartContainer{
    border-radius: 5px;
  }
  
.required::after {

    color: red;
    content: '*';

}
