<div class="container">
    <div class="row main-content-card" >
        <div class="col-md-6" >
            <div class="card" (click)="redirecion('/add-crop-list')">
                <p style="vertical-align:middle;">Seed Division</p>
            </div>
        </div>
        <div class="col-md-6" >
            <div class="card" (click)="redirecion('/add-breeder-list')">
                <p>Nodal Officer (ICAR)</p>
            </div>
        </div>
    
        <div class="col-md-6" >
            <div class="card" (click)="redirecion('/indent-breeder-seed-allocation-list')">
                <p>Indenter</p>
            </div>
        </div>
    
        <div class="col-md-6" >
            <div class="card" (click)="redirecion('/nucleus-seed-availability-by-breeder')">
                <p>Breeder seed Production Centre
                </p>
            </div>
        </div>

        <div class="col-md-6" >
            <div class="card" (click)="redirecion('/add-breeder-production-center-list')">
                <p>Breeder
                </p>
            </div>
        </div>
       
    </div>
</div>

