<div class="row my-4 w-100 mx-0">
    <div class="col-12 d-flex justify-content-center verticle-content-middle">
        <div class="main-content-form-wrapper px-0 py-2">
            <div class="row">
                <div class="col-12 px-4 py-2">
                    <app-nucleus-seed-availability-by-breeder-search [isByNodalAgency]="true">
                    </app-nucleus-seed-availability-by-breeder-search>
                </div>

                <div class="col-12 px-4 mt-2 d-flex justify-content-end buttons-phone-add"
                    style="padding-right: 2rem!important;">
                    <button class="form-button d-flex justify-content-center verticle-content-middle"
                        style="width: 100px !important;background-color: #963814;"
                        routerLink="/add-form-nucleus-seed-availability-by-breeder/submission">Add</button>
                </div>
                <div class="col-12 px-4">
                    <div class="list-wrapper px-4 py-3">
                        <div class="row d-none d-md-flex data-row-header">
                            <div class="col-6 col-md-1 py-3 d-flex verticle-content-middle">S/N</div>
                            <div class="col-6 col-md-1 py-3 d-flex verticle-content-middle">Year of Indent</div>
                            <div class="col-6 col-md-2 py-3 d-flex verticle-content-middle">Season</div>

                            <div class="col-6 col-md-2 py-3 d-flex verticle-content-middle">Crop Name</div>
                            <div class="col-6 col-md-2 py-3 d-flex verticle-content-middle">Variety Name</div>
                            <!-- <div class="col-6 col-md-3 py-3 d-flex verticle-content-middle">Production Centre Name</div> -->
                            <!-- <div class="col-6 col-md-2 py-3 d-flex verticle-content-middle">Reference No.</div> -->

                            <div class="col-6 col-md-2 py-3 d-flex verticle-content-middle">Quantity of Nucleus Seed</div>
                            <div class="col-6 col-md-2 py-3 d-flex verticle-content-middle justify-content-center">
                                Action
                            </div>
                        </div>
                        <div class="row data-row"
                            *ngFor="let data of filterPaginateSearch.itemList; let dataIndex=index">
                            <div class="col-6 col-md-1 py-1 d-flex verticle-content-middle">
                                <div class="w-fit-content">
                                    <label class="d-md-none" class="d-md-none"><b>S/N:</b>&nbsp;</label>
                                    <span>{{ (filterPaginateSearch.itemListCurrentPage - 1) *
                                        filterPaginateSearch.itemListPageSize + dataIndex + 1}}.</span>
                                </div>
                            </div>
                            <div class="col-6 col-md-1 py-1 d-flex verticle-content-middle">
                                <div class="w-fit-content">
                                    <label class="d-md-none"><b>Year of Indent:</b>&nbsp;</label>
                                    <span data-toggle="tooltip" data-placement="bottom"
                                        title="{{data && data.year ? data.year :'' }}">{{ data
                                        && data.year ?
                                        data.year:"NA"}}-{{ data && data.year ? ((data.year-2000)+1) : ""}}</span>
                                </div>
                            </div>
                            <div class="col-6 col-md-2 py-1 d-flex verticle-content-middle">
                                <div class="w-fit-content">
                                    <label class="d-md-none"><b>Season:</b>&nbsp;</label>
                                    <span data-toggle="tooltip" data-placement="bottom">{{ data && data.season ?
                                        ((data.season == 'K' ) ? 'Kharif' :'Rabi'  ): data
                                        && data.m_crop && data.m_crop.m_season && data.m_crop.m_season.season ?
                                        data.m_crop.m_season.season :"NA"}}</span>
                                </div>
                            </div>
                            <div class="col-6 col-md-2 py-1 d-flex verticle-content-middle">
                                <div class="w-fit-content">
                                    <label class="d-md-none"><b>Crop Name</b>&nbsp;</label>
                                    <span data-toggle="tooltip" data-placement="bottom" title="">
                                        {{data && data.m_crop && data.m_crop.crop_name ?
                                        ((data.m_crop.crop_name.length > 30) ? data.m_crop.crop_name.substring(0,
                                        30) +
                                        "...":data.m_crop.crop_name):"NA"}}</span>

                                </div>
                            </div>
                            <div class="col-6 col-md-2 py-1 d-flex verticle-content-middle">
                                <div class="w-fit-content">
                                    <label class="d-md-none"><b>Variety Name:</b>&nbsp;</label>
                                    <span data-toggle="tooltip" data-placement="bottom" title="">{{data &&
                                        data.m_crop_variety &&
                                        data.m_crop_variety.variety_name && (data.m_crop_variety.variety_name.length>30)
                                        ?(data.m_crop_variety.variety_name.substring(0,30))+'...':data &&
                                        data.m_crop_variety &&
                                        data.m_crop_variety.variety_name ? data.m_crop_variety.variety_name
                                        :'NA'}}</span>
                                </div>
                            </div>
                            <!-- <div class="col-6 col-md-3 py-1 d-flex verticle-content-middle">
                                <div class="w-fit-content">
                                    <label class="d-md-none">Breeder Production Centre Name:&nbsp;</label>
                                    <span style="text-transform: capitalize;cursor: pointer;" data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="{{data && data.breeder_production_centre_name ? data.breeder_production_centre_name : ''}}">
                                        {{(data && data.breeder_production_centre_name &&
                                        (data.breeder_production_centre_name.length > 30) ?
                                        (data.breeder_production_centre_name.substring(0, 30) +
                                        "..."):(data.breeder_production_centre_name ?
                                        data.breeder_production_centre_name :'NA'))}}
                                    </span>

                                </div>
                            </div> -->
                            <!-- <div class="col-6 col-md-2 py-1 d-flex verticle-content-middle">
                                <div class="w-fit-content">
                                    <label class="d-md-none"><b>Reference No:</b>&nbsp;</label>
                                    <span data-toggle="tooltip" data-placement="bottom"
                                        title="{{data && data.reference_number_officer_order ? data.reference_number_officer_order :''}}">{{data
                                        &&
                                        data.reference_number_officer_order &&
                                        (data.reference_number_officer_order.length>30)
                                        ? (data.reference_number_officer_order.substring(0,30))+'...'
                                        : data && data.reference_number_officer_order ?
                                        data.reference_number_officer_order :
                                        'NA'}}</span>
                                </div>
                            </div> -->


                            <div class="col-6 col-md-2 py-1 d-flex verticle-content-middle">
                                <div class="w-fit-content">
                                    <label class="d-md-none"><b>Qty of Nucleus Seed (Kg):</b>&nbsp;</label>
                                    <span style=" word-break: break-word;" data-toggle="tooltip" data-placement="bottom"
                                        title="{{data && data.quantity ? data.quantity : ''}}">{{data && data.quantity ?
                                        data.quantity:"NA"
                                        }}&nbsp;&nbsp;{{ getShortName(data && data.m_crop && data.m_crop.crop_code ?
                                        data.m_crop.crop_code :'') == 'H' ?
                                        'Kg': ((getShortName(data && data.m_crop && data.m_crop.crop_code ?
                                        data.m_crop.crop_code :'') == 'A') ? ' Quintal':'')}}</span>
                                </div>
                            </div>
                            <div
                                class="col-12 col-md-2 py-1 d-flex verticle-content-middle justify-content-md-center phone_view_btn">
                                <div class="list-action-buttons-wrapper w-fit-content phone_view_action_btn">
                                    <button class="list-action-buttons"
                                        [routerLink]="['/add-form-nucleus-seed-availability-by-breeder/view', data.id]">
                                        <img src="assets/images/view.svg">
                                    </button>
                                    <button class="list-action-buttons"
                                        *ngIf="data && data.m_crop && data.m_crop.is_active && data.m_crop.is_active==1 && data && data.m_crop_variety && data.m_crop_variety.is_active && data.m_crop_variety.is_active==1 "
                                        [routerLink]="['/add-form-nucleus-seed-availability-by-breeder/edit', data.id]">
                                        <img src="assets/images/edit.svg">
                                    </button>
                                    <button class="list-action-buttons" (click)="delete(data.id)">
                                        <img src="assets/images/delete.svg">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="filterPaginateSearch && filterPaginateSearch.initialized &&
                                (!filterPaginateSearch.itemList || filterPaginateSearch.itemList.length < 1)"
                        class="px-2 py-3 w-100" style="height: 50px;">
                        <!-- <hr _ngcontent-jwr-c108="" class="separator mx-0 mt-1"> -->
                        <div class="d-flex verticle-content-middle justify-content-center w-100">
                            No Data Found.
                        </div>
                    </div>
                </div>
                <div class="col-12 px-4 py-3">
                    <app-pagination-ui></app-pagination-ui>
                </div>
            </div>
        </div>
    </div>
</div>