.data-row-header {
     background: #E97E15 0% 0% no-repeat padding-box;
 }
 
 .data-row-header * {
     font: normal Poppins 600 15px/19px;
     font-weight: 500;
     letter-spacing: 0px;
     color: #FFFFFF;
 }
 
 .data-row {
     border: 1px solid #B2C7D7;
     border-top: none !important;
 }
 
 .data-row * {
     font: normal Poppins 15px/18px;
     letter-spacing: 0px;
     color: #000000;
 }
 
 
 span,div {
     word-wrap: break-word;
     word-break: break-all;
     white-space: normal;
 }
 
 .heading_notofied {
     font: normal Poppins;
     font-weight: bold;
     font-size: 20px;
     letter-spacing: 0px;
     text-align: left;
     opacity: 1;
 }
 
 .search_txt {
     text-align: left;
     font: normal Poppins 16px/25px;
     letter-spacing: 0px;
     color: #2329ff;
     font-weight: 600;
     opacity: 1;
 
 }
 
 .for-margin{
     /* padding-left: 27px !important; */
 }
 .disabledfield{
     pointer-events: none;
 }




 /* export btn */


.dropbtn {
     background-color: #3498DB;
     color: white;
     padding: 16px;
     font-size: 16px;
     border: none;
     cursor: pointer;
 }
 
 .dropbtn:hover,
 .dropbtn:focus {
     background-color: #2980B9;
 }
 
 .dropdown {
     position: relative;
     display: inline-block;
     cursor: pointer;
 }
 
 .dropdown-content {
     display: none;
     position: absolute;
     background-color: #fffafa;
     min-width: 160px;
     overflow: auto;
     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
     z-index: 1;
 }
 
 .dropdown-content a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
 }
 
 .dropdown a:hover {
     background-color: #ddd;
 }
 
 .show {
     display: block;
 }
 
 .left-heading {
     text-align: left;
     font: normal Poppins;
     letter-spacing: 0px;
     color: #2329ff;
     font-weight: 600;
     opacity: 1;
 }
 
 
 .search_txt {
     text-align: left;
     font: normal Poppins;
     letter-spacing: 0px;
     color: #2329ff;
     font-weight: 600;
     opacity: 1;
 }
 span {
     word-wrap: break-word;
     word-break: break-all;
     white-space: normal;
     cursor: pointer;
 }