<div class="row my-4 w-100 mx-0">
    <div class="col-12 d-flex justify-content-center verticle-content-middle">
        <div class="main-content-form-wrapper px-0 py-2">
            <div class="row">
                <form [formGroup]="ngForm">
                    <div class="col-12 px-4 mt-2">
                        <div class="row">
                            <div class="col-md-10 pl-4 pb-2 pb-md-3">
                                <span class="heading_notofied">Actual Distribution of Certified Seed/Quality Seed</span>
                            </div>
                            <div class="col-md-1 pl-4 pb-2"
                                style="font: normal normal 600 20px/30px Poppins; letter-spacing: 0px; color: #1C1C1C;">
                            </div>
                            <div class="col-md-1 pl-4 pb-2"
                                style="font: normal normal 600 20px/30px Poppins; letter-spacing: 0px; color: #1C1C1C;">
                            </div>


                            <div class="col-md-4 pl-2 pt-0 pr-2 py-2 py-md-0 pr-md-0">
                                <div class="col-12">
                                    <label for="Crop Group" class="left-heading required">Year</label>
                                </div>
                                <div class="col-12 pr-md-0">
                                    <select class="form-select form-control" aria-label="Default select example"
                                        formControlName="year_of_indent">
                                        <option value="" selected disabled>Select Year</option>
                                        <option *ngFor="let data of yearOfIndent" value="{{data.year}}">
                                            {{ data && data.year ? data.year : 'NA'}}</option>
                                    </select>


                                </div>
                            </div>
                            <div class="col-md-4 pl-2 pt-0 pr-2 py-2 py-md-0 pr-md-0 pl-md-0">
                                <div class="col-12">
                                    <label for="Crop Group" class="left-heading required">Season</label>
                                </div>
                                <div class="col-12 pr-md-0">
                                    <select class="form-select form-control" aria-label="Default select example"
                                        formControlName="season">
                                        <option value="" selected disabled>Select Season</option>
                                        <option *ngFor="let data of seasonList" value="{{data.season}}">
                                            {{ data && data.season ? data.season : 'NA'}}</option>
                                    </select>


                                </div>
                            </div>
                            <div class="col-md-4 pl-2 pt-0 pr-2 py-2 py-md-0 pl-md-0">
                                <div class="col-12">
                                    <label for="Crop Group" class="left-heading required">Crop Type</label>
                                </div>
                                <div class="col-12 pr-md-3 mb-2">
                                    <select class="form-select form-control" aria-label="Default select exampl  e"
                                        formControlName="crop_type">
                                        <option value="" selected disabled>Select Crop Type</option>
                                        <option *ngFor="let data of cropTypeList" value="{{data.crop_type}}">
                                            {{ data && data.crop_type ? (data.crop_type | titlecase) :''}}</option>
                                    </select>


                                </div>
                            </div>

                          
                            <div class="col-md-4 pl-4 pl-md-3 pt-2 pr-4 pr-md-2 py-2 py-md-0">
                                <div class="col-md-12 px-2">
                                    <label for="" class="left-heading">Crop Name</label>
                                </div>
                                <div class="col-12  mt-0 px-0  pl-md-0">
                                     <ng-multiselect-dropdown [settings]="dropdownSettings1" [data]="cropVarietList"
                                   
                                   formControlName="crop_name"                                  
                                   [placeholder]="'Select Crop Name'">
                               </ng-multiselect-dropdown>
                                    <!-- <div ngbDropdown class="d-inline-block w-100 "
                                   >
                                        <button class="btn takeplacholder w-100 crop toggle-button" id="crop_name"
                                            ngbDropdownToggle style="text-align: left;">{{selectCrop_group && 
                                            (selectCrop_group.length>30) ? (selectCrop_group.substring(0,30)+'...'):selectCrop_group? selectCrop_group :'Select Crop Name'}}</button>
    
                                        <div  class="dropdown-menu w-100" ngbDropdownMenu="crop_name"
                                            aria-labelledby="sortMenu">
                                            <input type="text" class="form-control px-4" formControlName="name_text" >
                                            
                                            <button class="dropdown-item" (click)="crop_name(data)"
                                                *ngFor="let data of cropVarietList" #dropdownItem
                                                [attr.data-parent-name]="'cropName'">
                                                {{data && data.crop_name ? data.crop_name :''}}</button>
                                        </div>
                                    </div>
                                    <div class="pl-0 toggle-button" ngbDropdown>
                                        <i class="fa-solid fa-angle-down downicon" (click)="cnclick()"></i>
                                    </div> -->
                                    
                                </div>

                            </div>
                         
                            <!-- <div class="col-md-4 pl-2 pt-0 pr-2 py-2 py-md-0 pr-md-0 pl-md-0">
                                <div class="col-12 pl-3  ">
                                    <label for="Crop Group" id="search_text" class="left-heading">Crop </label>
                                </div>
                                <div class="col-12 pr-md-0">
                                    <div ngbDropdown class="d-inline-block w-100">
                                        <button class="btn takeplacholder w-100 crop toggle-button" id="crop_group"
                                            ngbDropdownToggle style="text-align: left;" aria-disabled="true">
                                            {{selectCrop_group && (selectCrop_group.length>30) ?
                                            (selectCrop_group.substring(0,30)+'...'):selectCrop_group?selectCrop_group :'Select
                                            Crop Group'}}
                                        </button>
                                        <div class="dropdown-menu w-100" ngbDropdownMenu="crop_group"
                                            aria-labelledby="sortMenu">


                                            <input type="text" class="form-control px-4"
                                                formControlName="crop_text">
                                            <button class="dropdown-item" *ngFor="let data of cropList"
                                                value="{{data.crop_group_code}}" (click)="crop_name(data)"
                                                #dropdownItem [attr.data-parent-name]="'cropGroup'">
                                                {{data && data.crop_name ? data.crop_name : ''}}
                                            </button>
                                        </div>

                                    </div>
                                    <div class="pl-0 toggle-button" ngbDropdown id="crop_group">
                                        <i class="fa-solid fa-angle-down downicon" (click)="cgClick()"></i>
                                    </div>

                                    
                                </div>
                            </div> -->

                            <div class="col-12 mt-3 mt-md-4 buttons-phone">
                                <button
                                    class="form-button search ml-2 d-inline-flex justify-content-center verticle-content-middle mb-3 mx-2"
                                    (click)="onSearch()"> Search </button>
                                <button (click)="clear()"
                                    class="clear-form-button ml-2 d-inline-flex justify-content-center verticle-content-middle mb-3">
                                    Clear
                                </button>


                                <div class="dropdown float-right export_dropdown">
                                    <button (click)="myFunction()"
                                        class="form-button  search ml-2 d-inline-flex justify-content-center verticle-content-middle mb-2 mx-2"
                                        style="font-size: 87%;">Export To &nbsp;<i class="fa fa-angle-down"
                                            aria-hidden="true"> </i></button>
                                    <div id="myDropdown" class="dropdown-content">
                                        <a (click)="download()"> <img src="assets\icons\pdf-icon.png" alt=""
                                                width="20px" height="20px"> PDF</a>
                                        <a (click)="exportexcel()"> <img src="assets\icons\excel.jpg" alt=""
                                                width="20px" alt=""> Excel</a>
                                    </div>
                                </div>

                            </div>





                            <div _ngcontent-cvx-c131="" class="col-12 px-4">
                                <hr _ngcontent-cvx-c131="" class="separator m-0">
                            </div>
                        </div>
                    </div>
                </form>
               
                <ng-container >

                    <div class="col-12 px-4 data-row"  >
                        <div class="list-wrapper px-4 py-3">
                            <div class="row d-md-flex data-row-header extra-header ">
                                        <!-- <div class="col-6 col-md-2 py-3 d-flex verticle-content-middle">
                                        </div> -->
                                        <div class="col-12 col-md-12 py-3 d-flex justify-content-center">Actual Distribution of Certified Seed/Quality Seed</div>
                                        <!-- <div class="col-6 col-md-2 py-3 d-flex verticle-content-middle">
                                        </div> -->
                                    </div>
                           
                            <br>
                            <div >

                                <div class="row d-md-flex data-row-header" style="zoom: 0.9;">
                                    <div class="col-3 py-3 d-flex verticle-content-middle">
                                        Year:
                                        {{enableTable && ngForm.controls['year_of_indent'].value ? ngForm.controls['year_of_indent'].value :''}}
                                        <!-- {{year}}-{{((year+1)-2000)}} -->
                                    </div>
                                    <div class="col-3 py-3 d-flex verticle-content-middle">
                                        Season :
                                        {{ enableTable && ngForm.controls['season'].value? ngForm.controls['season'].value :''}}
                                     
                                    </div>
                                    <div class="col-sm-3 py-3 d-flex verticle-content-middle">Crop Type : 
                                       
                                        {{enableTable && ngForm.controls['crop_type'].value ? (ngForm.controls['crop_type'].value | titlecase) :''}}
                                    </div>
                                    <!-- <div class="col-sm-2 py-3 d-flex verticle-content-middle">Crop:
                                         {{cropNameArr ? (cropNameArr):'' }}
                                        
                                    </div>
                                   
                                    <div class="col-2 py-3 d-flex verticle-content-middle">SPA  : 
                                        {{spa_namesArr  ? getSpafrommlist(spa_namesArr) :''}}
                                    </div> -->
                                    <div class="col-2 float-right  py-3 d-flex  float-right " >As on Date : {{today |
                                        date:"dd-MM-YYYY"}}
                                     
                                    </div>
        
                                </div>
                                <div class="row data-row" >
        
                                    <table class="table table-bordered table-responsive"  *ngIf="enableTable">
                                     
                                        <thead>

                                          <tr class="data-row-header">
                                            <th scope="col" class="col-md-1 py-2">S/N</th>
                                            <th scope="col" class="col-md-3 py-2">Crop</th>
                                            <th scope="col" class="col-md-3 py-2">Variety</th>
                                            <th scope="col" class="col-md-3 py-2">Seed Type</th>
                                            <th scope="col" class="col-md-2 py-2">DOA</th>
                                            <th scope="col" class="col-md-2 py-2">SSC</th>
                                            <th scope="col" class="col-md-2 py-2">NSC</th>
                                            <th scope="col" class="col-md-2 py-2">SFCI</th>
                                            <th scope="col" class="col-md-2 py-2">Private</th>
                                            <th scope="col" class="col-md-2 py-2">Others</th>
                                            <th scope="col" class="col-md-2 py-2">Total</th>
                                            <th scope="col" class="col-md-2 py-2">Variety Total</th>
        
                                        </thead>
                                        <tbody>
                                            <ng-container *ngFor="let data of finalData; let cropIndex = index">
                                            <ng-container *ngFor="let varietyData of data.variety; let varietyIndex = index">
                                                <ng-container *ngFor="let spaData of varietyData.seeds; let spaIndex = index">
                                                    <tr>
                                                        <td style="text-align: center;" *ngIf="spaIndex === 0 && varietyIndex === 0"
                                                            [attr.rowspan]="data.total_seed_count">{{ cropIndex + 1 }}
                                                        </td>
                                                        <td *ngIf="spaIndex === 0 && varietyIndex === 0"
                                                            [attr.rowspan]="data.total_seed_count">{{ data.crop_name ?
                                                            data.crop_name : 'NA' }}</td>
                                                        <td *ngIf="spaIndex === 0"
                                                            [attr.rowspan]="varietyData.seed_count">{{
                                                            varietyData.variety_name? varietyData.variety_name : 'NA' }}
                                                        </td>                                                    
                                                        <td style="text-align: center;">{{ spaData.seed_type ? spaData.seed_type : 0 }}</td>
                                                        <td style="text-align: center;">{{ spaData.doa ? spaData.doa : 0 }}</td>
                                                        <td style="text-align: center;">{{ spaData.ssc ? spaData.ssc : 0 }}</td>
                                                        <td style="text-align: center;">{{ spaData.nsc ? spaData.nsc : 0 }}</td>
                                                        <td style="text-align: center;">{{ spaData.sfci ? spaData.sfci : 0 }}</td>
                                                        <td style="text-align: center;">{{ spaData.private ? spaData.private : 0 }}</td>
                                                        <td style="text-align: center;">{{ spaData.others ? spaData.others : 0}}
                                                        </td>
                                                        <td style="text-align: center;">{{ spaData.total ? spaData.total : 0}}
                                                        </td>
                                                        <td  style="text-align: center;" *ngIf="spaIndex === 0"
                                                            [attr.rowspan]="varietyData.seed_count">{{
                                                            varietyData.total_dist? varietyData.total_dist : 0 }}
                                                        </td>
                                                    </tr>
                                            </ng-container>
                                            </ng-container>
                                            <tr>
                                                <td colspan="11"><b>Crop Wise Total</b></td>
                                                <td><b>{{data && data.crop_total_dist ? data.crop_total_dist:0  }}</b></td>
                                            </tr>
                                            </ng-container>
                                        </tbody>
                        
                                      </table>
        
                                      
                                      
                                    <ng-template #noVarietyData>
                                        <div style="text-align: center; width: 100%;">
                                            <p class="my-2 mx-auto">No Data Found</p>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
    
    
                        </div>
                    </div>
                </ng-container>
                <ng-container >

                    <div class="col-12 px-4 data-row" style="display: none;" >
                        <div class="list-wrapper px-4 py-3">
                           
                            <br>
                            <div id="excel-table">
                                <div class="row d-md-flex data-row-header extra-header ">
                                  
                                    <div class="col-12 col-md-12 py-3 d-flex justify-content-center">Actual Distribution of Certified Seed/Quality Seed</div>
                                   
                                </div>

                                <div class="row d-md-flex data-row-header" style="zoom: 0.9;">
                                    <div class="col-3 py-3 d-flex verticle-content-middle">
                                        Year:
                                        {{enableTable && ngForm.controls['year_of_indent'].value ? ngForm.controls['year_of_indent'].value :''}}
                                        <!-- {{year}}-{{((year+1)-2000)}} -->
                                    </div>
                                    <div class="col-3 py-3 d-flex verticle-content-middle">
                                        Season :
                                        {{ enableTable && ngForm.controls['season'].value? ngForm.controls['season'].value :''}}
                                     
                                    </div>
                                    <div class="col-sm-3 py-3 d-flex verticle-content-middle">Crop Type : 
                                       
                                        {{enableTable && ngForm.controls['crop_type'].value ? (ngForm.controls['crop_type'].value | titlecase) :''}}
                                    </div>
                                    <!-- <div class="col-sm-2 py-3 d-flex verticle-content-middle">Crop:
                                         {{cropNameArr ? (cropNameArr):'' }}
                                        
                                    </div>
                                   
                                    <div class="col-2 py-3 d-flex verticle-content-middle">SPA  : 
                                        {{spa_namesArr  ? getSpafrommlist(spa_namesArr) :''}}
                                    </div> -->
                                    <div class="col-2 float-right  py-3 d-flex  float-right " >As on Date : {{today |
                                        date:"dd-MM-YYYY"}}
                                     
                                    </div>
        
                                </div>
                                <div class="row data-row" >
        
                                    <table class="table table-bordered table-responsive"  *ngIf="enableTable">
                                     
                                        <thead>

                                          <tr class="data-row-header">
                                            <th scope="col" class="col-md-1 py-2">S/N</th>
                                            <th scope="col" class="col-md-3 py-2">Crop</th>
                                            <th scope="col" class="col-md-3 py-2">Variety</th>
                                            <th scope="col" class="col-md-3 py-2">Seed Type</th>
                                            <th scope="col" class="col-md-2 py-2">DOA</th>
                                            <th scope="col" class="col-md-2 py-2">SSC</th>
                                            <th scope="col" class="col-md-2 py-2">NSC</th>
                                            <th scope="col" class="col-md-2 py-2">SFCI</th>
                                            <th scope="col" class="col-md-2 py-2">Private</th>
                                            <th scope="col" class="col-md-2 py-2">Others</th>
                                            <th scope="col" class="col-md-2 py-2">Total</th>
                                            <th scope="col" class="col-md-2 py-2">Variety Total</th>
        
                                        </thead>
                                        <tbody>
                                            <ng-container *ngFor="let data of finalData; let cropIndex = index">
                                            <ng-container *ngFor="let varietyData of data.variety; let varietyIndex = index">
                                                <ng-container *ngFor="let spaData of varietyData.seeds; let spaIndex = index">
                                                    <tr style="text-align: center;">
                                                        <td *ngIf="spaIndex === 0 && varietyIndex === 0"
                                                            [attr.rowspan]="data.total_seed_count">{{ cropIndex + 1 }}
                                                        </td>
                                                        <td *ngIf="spaIndex === 0 && varietyIndex === 0"
                                                            [attr.rowspan]="data.total_seed_count">{{ data.crop_name ?
                                                            data.crop_name : 'NA' }}</td>
                                                        <td *ngIf="spaIndex === 0"
                                                            [attr.rowspan]="varietyData.seed_count">{{
                                                            varietyData.variety_name? varietyData.variety_name : 'NA' }}
                                                        </td>                                                    
                                                        <td>{{ spaData.seed_type ? spaData.seed_type : 0 }}</td>
                                                        <td>{{ spaData.doa ? spaData.doa : 0 }}</td>
                                                        <td>{{ spaData.ssc ? spaData.ssc : 0 }}</td>
                                                        <td>{{ spaData.nsc ? spaData.nsc : 0 }}</td>
                                                        <td>{{ spaData.sfci ? spaData.sfci : 0 }}</td>
                                                        <td>{{ spaData.private ? spaData.private : 0 }}</td>
                                                        <td>{{ spaData.others ? spaData.others : 0}}
                                                        </td>
                                                        <td>{{ spaData.total ? spaData.total : 0}}
                                                        </td>
                                                        <td *ngIf="spaIndex === 0"
                                                            [attr.rowspan]="varietyData.seed_count">{{
                                                            varietyData.total_dist? varietyData.total_dist : 0 }}
                                                        </td>
                                                    </tr>
                                            </ng-container>
                                            </ng-container>
                                            <tr>
                                                <td colspan="11"><b>Crop Wise Total</b></td>
                                                <td><b>{{data && data.crop_total_dist ? data.crop_total_dist:0  }}</b></td>
                                            </tr>
                                            </ng-container>
                                        </tbody>
                        
                                      </table>
        
                                      
                                      
                                    <ng-template #noVarietyData>
                                        <div style="text-align: center; width: 100%;">
                                            <p class="my-2 mx-auto">No Data Found</p>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
    
    
                        </div>
                    </div>
                </ng-container>

                <div class="col-12 px-4 data-row" style="display: none;" >
                    <div class="list-wrapper px-4 py-3">
                       
                        <br>
                        
                        <div class="row data-row" >

                            <table class="table table-bordered table-responsive"  id="excel-tables" >
                              <thead >
                                <tr>
                                    <td>
                                        Actual Distribution of Certified Seed/Quality Seed
                                    </td>
                                </tr>
                                <tr>

                                    <td>Year</td>
                                    <td>Season</td>
                                    <td>Crop Type</td>
                                </tr>
                              </thead>
                              <tbody >
                                <tr>

                                    <td>
                                        {{enableTable && ngForm.controls['year_of_indent'].value ? ngForm.controls['year_of_indent'].value :''}}
                                    </td>
                                    <td>
                                        {{ enableTable && ngForm.controls['season'].value ? ngForm.controls['season'].value:''}}
                                 
                                    </td>
                                    <td>
                                        {{enableTable && ngForm.controls['crop_type'].value ? (ngForm.controls['crop_type'].value) :''}}
                                    </td>
                                </tr>


                              </tbody>
                                <thead>

                                    <tr class="data-row-header">
                                        <th scope="col" class="col-md-1 py-2">S/N</th>
                                        <th scope="col" class="col-md-3 py-2">Crop</th>
                                        <th scope="col" class="col-md-3 py-2">Variety</th>
                                        <th scope="col" class="col-md-3 py-2">Seed Type</th>
                                        <th scope="col" class="col-md-2 py-2">DOA</th>
                                        <th scope="col" class="col-md-2 py-2">SSC</th>
                                        <th scope="col" class="col-md-2 py-2">NSC</th>
                                        <th scope="col" class="col-md-2 py-2">SFCI</th>
                                        <th scope="col" class="col-md-2 py-2">Private</th>
                                        <th scope="col" class="col-md-2 py-2">Others</th>
                                        <th scope="col" class="col-md-2 py-2">Total</th>
                                        <th scope="col" class="col-md-2 py-2">Variety Total</th>
    
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let data of finalData; let cropIndex = index">
                                        <ng-container *ngFor="let varietyData of data.variety; let varietyIndex = index">
                                            <ng-container *ngFor="let spaData of varietyData.seeds; let spaIndex = index">
                                                <tr>
                                                    <td *ngIf="spaIndex === 0 && varietyIndex === 0"
                                                        [attr.rowspan]="data.total_seed_count">{{ cropIndex + 1 }}
                                                    </td>
                                                    <td *ngIf="spaIndex === 0 && varietyIndex === 0"
                                                        [attr.rowspan]="data.total_seed_count">{{ data.crop_name ?
                                                        data.crop_name : 'NA' }}</td>
                                                    <td *ngIf="spaIndex === 0"
                                                        [attr.rowspan]="varietyData.seed_count">{{
                                                        varietyData.variety_name? varietyData.variety_name : 'NA' }}
                                                    </td>                                                    
                                                    <td>{{ spaData.seed_type ? spaData.seed_type : 0 }}</td>
                                                    <td>{{ spaData.doa ? spaData.doa : 0 }}</td>
                                                    <td>{{ spaData.ssc ? spaData.ssc : 0 }}</td>
                                                    <td>{{ spaData.nsc ? spaData.nsc : 0 }}</td>
                                                    <td>{{ spaData.sfci ? spaData.sfci : 0 }}</td>
                                                    <td>{{ spaData.private ? spaData.private : 0 }}</td>
                                                    <td>{{ spaData.others ? spaData.others : 0}}
                                                    </td>
                                                    <td>{{ spaData.total ? spaData.total : 0}}
                                                    </td>
                                                    <td *ngIf="spaIndex === 0"
                                                        [attr.rowspan]="varietyData.seed_count">{{
                                                        varietyData.total_dist? varietyData.total_dist : 0 }}
                                                    </td>
                                                </tr>
                                        </ng-container>
                                        </ng-container>
                                        <tr>
                                            <td colspan="11"><b>Crop Wise Total</b></td>
                                            <td><b>{{data && data.crop_total_dist ? data.crop_total_dist:0  }}</b></td>
                                        </tr>
                                        </ng-container>
                                    </tbody>
                
                              </table>

                              
                              
                            <ng-template #noVarietyData>
                                <div style="text-align: center; width: 100%;">
                                    <p class="my-2 mx-auto">No Data Found</p>
                                </div>
                            </ng-template>
                        </div>


                    </div>
                </div>
                <div class="col-12 px-3   py-3">
                    <app-pagination-ui></app-pagination-ui>
                </div>
                <div *ngIf="filterPaginateSearch && filterPaginateSearch.initialized &&(!filterPaginateSearch.itemList || filterPaginateSearch.itemList.length < 1)"
                    class="px-2 py-3 w-100" style="height: 50px;">
                    <div class="d-flex verticle-content-middle justify-content-center w-100">
                        No Data Found.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>