.data-row-header {
    background: #E97E15 0% 0% no-repeat padding-box;
}

.data-row-header * {
    font: normal Poppins 600 15px/19px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.data-row {
    /* border: 1px solid #B2C7D7; */
    border-top: none !important;
}

.data-row * {
    font: normal Poppins 15px/18px;
    letter-spacing: 0px;
    /* font-size: 16px; */
    /* color: #000000; */
}



span {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

.disabledfield {
    /* pointer-events: none; */
}


.search_text {
    text-align: left;
    font: normal Poppins 16px/25px;
    letter-spacing: 0px;
    color: #2329ff;
    font-weight: 600;

    opacity: 1;
}

.for-margin {
    /* padding-left: 13px !important; */
}



.table-bordered td,
.table-bordered th {
    /* border: none !important; */
}

td {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    cursor: pointer;
    vertical-align: middle;
}

.extra-header {

    background-color: #963814;
    font: normal Poppins 16px/25px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fffafa;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.hide {
    display: none;
}

td {
    /* min-width: 93px; */
    min-width: 185px;
}

.sn-td-report {
    min-width: 85px !important;
}

.disabledfield {
    pointer-events: none;
}

input[type="radio"]:checked:before {
    background: #E97E15;

}

input[type="radio"]:checked {
    border-color: #E97E15;
}

.radio-button {
    width: 25px;
    height: 25px;
}

input[type='radio'] {
    accent-color: #d7720f;
    top: -6px;
    left: 12px;
}